/* Media 1440 */
@media (min-width:375px) {
    .about-one__image {
        max-width: 100%;
    }
}

@media (min-width: 480px) {
    .service-two__project-full-page {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .sign__header {
        padding: 0 10px;
    }

    .sign__header {
        padding: 0px;
    }

    .sign__social i {
        margin-right: 35px;
    }

    .sign__shape img.flower {
        right: 1%;
        bottom: 3%;
    }

    .sign__shape img.flower {
        right: 1%;
    }

    .sign__shape img.zigzag {
        display: none;
    }

    .sign__shape img.zigzag {
        left: 2%;
    }

    .sign__shape img.bg {
        display: none;
    }

    .sign__shape img.bg {
        left: 0%;
    }

    .sign__shape img.dot {
        right: 3%;
    }

    .sign__shape img.dot {
        display: none;
    }

    .sign__shape img.circle {
        right: 2%;
    }

    .sign__shape img.circle {
        display: none;
    }

    .sign__shape img.man-2 {
        top: 60%;
        right: 0%;
        z-index: 1;
    }

    .sign__shape img.man-2.man-22 {
        top: 60%;
        right: 0%;
        z-index: 1;
    }

    .sign__shape img.man-2 {
        display: none;
    }

    .section-title-5 .title {
        font-size: 40px;
        line-height: 50px;
    }

    .breadcrumb-title .title {
        font-size: 36px;
    }

    .section-title-5 .title {
        font-size: 38px;
        line-height: 1;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sign__shape img.man-1 {
        left: 2%;
    }

    .sign__shape img.man-2 {
        top: 60%;
        right: 0%;
        z-index: 1;
    }

    .sign__shape img.man-2.man-22 {
        top: 60%;
        right: 0%;
        z-index: 1;
    }

    .sign__shape img.circle {
        right: 4%;
    }

    .sign__shape img.dot {
        right: 5%;
    }

    .sign__shape img.bg {
        left: 10%;
    }

    .sign__shape img.zigzag {
        left: 3%;
    }

    .sign__shape img.flower {
        right: 3%;
    }

    .about-one__image-block {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .about-two__image {
        margin-bottom: 50px;
      }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sign__shape img.man-1 {
        left: 7%;
    }

    .service-two__project-full-page {
        padding-left: 30px;
        padding-right: 30px;
    }

    .sign__shape img.man-2 {
        top: 60%;
        right: 7%;
    }

    .sign__shape img.man-2.man-22 {
        top: 60%;
        right: 7%;
    }

    .sign__shape img.circle {
        right: 11%;
    }

    .sign__shape img.dot {
        right: 18%;
    }

    .sign__shape img.zigzag {
        left: 11%;
    }

    .sign__shape img.flower {
        right: 12%;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .sign__shape img.man-1 {
        left: 16%;
    }

    .sign__shape img.man-2 {
        top: 60%;
        right: 15%;
    }

    .sign__shape img.man-2.man-22 {
        top: 60%;
        right: 15%;
    }

    .sign__shape img.circle {
        right: 22%;
    }

    .sign__shape img.dot {
        right: 26%;
    }

    .sign__shape img.zigzag {
        left: 23%;
    }

    .sign__shape img.flower {
        right: 24%;
    }
}


@media (min-width: 1440px) {
    .service-two__content {
        left: 50px;
        right: 50px;
    }

    .service-two__project-full-page {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1441px) {
    .service-two .container-fluid .row {
        margin-left: -37.5px;
        margin-right: -37.5px;
    }

    .service-two .container-fluid .row>[class*=col-lg-] {
        padding-left: 37.5px;
        padding-right: 37.5px;
    }
}
/* End 1140*/
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .sign__shape img.man-1 {
        left: 19%;
    }

    .sign__wrapper {
        padding: 50px 39px;
    }

    .sign__shape img.man-2 {
        top: 55%;
        right: 20%;
    }

    .sign__shape img.man-2.man-22 {
        top: 55%;
        right: 20%;
    }

    .sign__shape img.circle {
        right: 25%;
    }

    .sign__shape img.dot {
        right: 29%;
    }

    .sign__shape img.zigzag {
        left: 24%;
    }

    .sign__shape img.flower {
        right: 24%;
    }
}

