/* Margin Top */
.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-55 {
	margin-top: 55px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-65 {
	margin-top: 65px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-85 {
	margin-top: 85px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-95 {
	margin-top: 95px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-105 {
	margin-top: 105px;
}

.mt-110 {
	margin-top: 110px;
}

.mt-115 {
	margin-top: 115px;
}

.mt-120 {
	margin-top: 120px;
}

.mt-125 {
	margin-top: 125px;
}

.mt-130 {
	margin-top: 130px;
}

.mt-135 {
	margin-top: 135px;
}

.mt-140 {
	margin-top: 140px;
}

.mt-145 {
	margin-top: 145px;
}

.mt-150 {
	margin-top: 150px;
}

.mt-155 {
	margin-top: 155px;
}

.mt-160 {
	margin-top: 160px;
}

.mt-165 {
	margin-top: 165px;
}

.mt-170 {
	margin-top: 170px;
}

.mt-175 {
	margin-top: 175px;
}

.mt-180 {
	margin-top: 180px;
}

.mt-185 {
	margin-top: 185px;
}

.mt-190 {
	margin-top: 190px;
}

.mt-195 {
	margin-top: 195px;
}

.mt-200 {
	margin-top: 200px;
}

.mt--10 {
	margin-top: -10px;
}

.mt--20 {
	margin-top: -20px;
}

.mt--30 {
	margin-top: -30px;
}

.mt--40 {
	margin-top: -40px;
}

.mt--50 {
	margin-top: -50px;
}

.mt--60 {
	margin-top: -60px;
}

.mt--70 {
	margin-top: -70px;
}

.mt--80 {
	margin-top: -80px;
}

.mt--90 {
	margin-top: -90px;
}

.mt--100 {
	margin-top: -100px;
}

.mt--110 {
	margin-top: -110px;
}

.mt--120 {
	margin-top: -120px;
}

.mt--130 {
	margin-top: -130px;
}

.mt--140 {
	margin-top: -140px;
}

.mt--150 {
	margin-top: -150px;
}

.mt--160 {
	margin-top: -160px;
}

.mt--170 {
	margin-top: -170px;
}

.mt--180 {
	margin-top: -180px;
}

.mt--190 {
	margin-top: -190px;
}

.mt--200 {
	margin-top: -200px;
}

/* Margin Bottom */
.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-55 {
	margin-bottom: 55px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-65 {
	margin-bottom: 65px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-85 {
	margin-bottom: 85px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-95 {
	margin-bottom: 95px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-105 {
	margin-bottom: 105px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-115 {
	margin-bottom: 115px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mb-125 {
	margin-bottom: 125px;
}

.mb-130 {
	margin-bottom: 130px;
}

.mb-135 {
	margin-bottom: 135px;
}

.mb-140 {
	margin-bottom: 140px;
}

.mb-145 {
	margin-bottom: 145px;
}

.mb-150 {
	margin-bottom: 150px;
}

.mb-155 {
	margin-bottom: 155px;
}

.mb-160 {
	margin-bottom: 160px;
}

.mb-165 {
	margin-bottom: 165px;
}

.mb-170 {
	margin-bottom: 170px;
}

.mb-175 {
	margin-bottom: 175px;
}

.mb-180 {
	margin-bottom: 180px;
}

.mb-185 {
	margin-bottom: 185px;
}

.mb-190 {
	margin-bottom: 190px;
}

.mb-195 {
	margin-bottom: 195px;
}

.mb-200 {
	margin-bottom: 200px;
}

.mb--10 {
	margin-bottom: -10px;
}

.mb--20 {
	margin-bottom: -20px;
}

.mb--30 {
	margin-bottom: -30px;
}

.mb--40 {
	margin-bottom: -40px;
}

.mb--50 {
	margin-bottom: -50px;
}

.mb--60 {
	margin-bottom: -60px;
}

.mb--70 {
	margin-bottom: -70px;
}

.mb--80 {
	margin-bottom: -80px;
}

.mb--90 {
	margin-bottom: -90px;
}

.mb--100 {
	margin-bottom: -100px;
}

.mb--110 {
	margin-bottom: -110px;
}

.mb--120 {
	margin-bottom: -120px;
}

.mb--130 {
	margin-bottom: -130px;
}

.mb--140 {
	margin-bottom: -140px;
}

.mb--150 {
	margin-bottom: -150px;
}

.mb--160 {
	margin-bottom: -160px;
}

.mb--170 {
	margin-bottom: -170px;
}

.mb--180 {
	margin-bottom: -180px;
}

.mb--190 {
	margin-bottom: -190px;
}

.mb--200 {
	margin-bottom: -200px;
}

/* Margin Left */
.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-60 {
	margin-left: 60px;
}

.ml-70 {
	margin-left: 70px;
}

.ml-80 {
	margin-left: 80px;
}

.ml-90 {
	margin-left: 90px;
}

.ml-100 {
	margin-left: 100px;
}

.ml-110 {
	margin-left: 110px;
}

.ml-120 {
	margin-left: 120px;
}

.ml-130 {
	margin-left: 130px;
}

.ml-140 {
	margin-left: 140px;
}

.ml-150 {
	margin-left: 150px;
}

.ml-160 {
	margin-left: 160px;
}

.ml-170 {
	margin-left: 170px;
}

.ml-180 {
	margin-left: 180px;
}

.ml-190 {
	margin-left: 190px;
}

.ml-200 {
	margin-left: 200px;
}

/* Margin Right */
.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-60 {
	margin-right: 60px;
}

.mr-70 {
	margin-right: 70px;
}

.mr-80 {
	margin-right: 80px;
}

.mr-90 {
	margin-right: 90px;
}

.mr-100 {
	margin-right: 100px;
}

.mr-110 {
	margin-right: 110px;
}

.mr-120 {
	margin-right: 120px;
}

.mr-130 {
	margin-right: 130px;
}

.mr-140 {
	margin-right: 140px;
}

.mr-150 {
	margin-right: 150px;
}

.mr-160 {
	margin-right: 160px;
}

.mr-170 {
	margin-right: 170px;
}

.mr-180 {
	margin-right: 180px;
}

.mr-190 {
	margin-right: 190px;
}

.mr-200 {
	margin-right: 200px;
}

/* Margin XL */
@media (min-width: 1200px) {
	.mt-xl-10 {
		margin-top: 10px !important;
	}

	.mt-xl-20 {
		margin-top: 20px !important;
	}

	.mt-xl-30 {
		margin-top: 30px !important;
	}

	.mt-xl-40 {
		margin-top: 40px !important;
	}

	.mt-xl-50 {
		margin-top: 50px !important;
	}

	.mt-xl-60 {
		margin-top: 60px !important;
	}

	.mt-xl-70 {
		margin-top: 70px !important;
	}

	.mt-xl-80 {
		margin-top: 80px !important;
	}

	.mt-xl-90 {
		margin-top: 90px !important;
	}

	.mt-xl-100 {
		margin-top: 100px !important;
	}

	.mt-xl-110 {
		margin-top: 110px !important;
	}

	.mt-xl-120 {
		margin-top: 120px !important;
	}

	.mt-xl-130 {
		margin-top: 130px !important;
	}

	.mt-xl-140 {
		margin-top: 140px !important;
	}

	.mt-xl-150 {
		margin-top: 150px !important;
	}

	.mt-xl-160 {
		margin-top: 160px !important;
	}

	.mt-xl-170 {
		margin-top: 170px !important;
	}

	.mt-xl-180 {
		margin-top: 180px !important;
	}

	.mt-xl-190 {
		margin-top: 190px !important;
	}

	.mt-xl-200 {
		margin-top: 200px !important;
	}

	.mb-xl-10 {
		margin-bottom: 10px !important;
	}

	.mb-xl-20 {
		margin-bottom: 20px !important;
	}

	.mb-xl-30 {
		margin-bottom: 30px !important;
	}

	.mb-xl-40 {
		margin-bottom: 40px !important;
	}

	.mb-xl-50 {
		margin-bottom: 50px !important;
	}

	.mb-xl-60 {
		margin-bottom: 60px !important;
	}

	.mb-xl-70 {
		margin-bottom: 70px !important;
	}

	.mb-xl-80 {
		margin-bottom: 80px !important;
	}

	.mb-xl-90 {
		margin-bottom: 90px !important;
	}

	.mb-xl-100 {
		margin-bottom: 100px !important;
	}

	.mb-xl-110 {
		margin-bottom: 110px !important;
	}

	.mb-xl-120 {
		margin-bottom: 120px !important;
	}

	.mb-xl-130 {
		margin-bottom: 130px !important;
	}

	.mb-xl-140 {
		margin-bottom: 140px !important;
	}

	.mb-xl-150 {
		margin-bottom: 150px !important;
	}

	.mb-xl-160 {
		margin-bottom: 160px !important;
	}

	.mb-xl-170 {
		margin-bottom: 170px !important;
	}

	.mb-xl-180 {
		margin-bottom: 180px !important;
	}

	.mb-xl-190 {
		margin-bottom: 190px !important;
	}

	.mb-xl-200 {
		margin-bottom: 200px !important;
	}

	.ml-xl-10 {
		margin-left: 10px !important;
	}

	.ml-xl-20 {
		margin-left: 20px !important;
	}

	.ml-xl-30 {
		margin-left: 30px !important;
	}

	.ml-xl-40 {
		margin-left: 40px !important;
	}

	.ml-xl-50 {
		margin-left: 50px !important;
	}

	.ml-xl-60 {
		margin-left: 60px !important;
	}

	.ml-xl-70 {
		margin-left: 70px !important;
	}

	.ml-xl-80 {
		margin-left: 80px !important;
	}

	.ml-xl-90 {
		margin-left: 90px !important;
	}

	.ml-xl-100 {
		margin-left: 100px !important;
	}

	.ml-xl-110 {
		margin-left: 110px !important;
	}

	.ml-xl-120 {
		margin-left: 120px !important;
	}

	.ml-xl-130 {
		margin-left: 130px !important;
	}

	.ml-xl-140 {
		margin-left: 140px !important;
	}

	.ml-xl-150 {
		margin-left: 150px !important;
	}

	.ml-xl-160 {
		margin-left: 160px !important;
	}

	.ml-xl-170 {
		margin-left: 170px !important;
	}

	.ml-xl-180 {
		margin-left: 180px !important;
	}

	.ml-xl-190 {
		margin-left: 190px !important;
	}

	.ml-xl-200 {
		margin-left: 200px !important;
	}

	.mr-xl-10 {
		margin-right: 10px !important;
	}

	.mr-xl-20 {
		margin-right: 20px !important;
	}

	.mr-xl-30 {
		margin-right: 30px !important;
	}

	.mr-xl-40 {
		margin-right: 40px !important;
	}

	.mr-xl-50 {
		margin-right: 50px !important;
	}

	.mr-xl-60 {
		margin-right: 60px !important;
	}

	.mr-xl-70 {
		margin-right: 70px !important;
	}

	.mr-xl-80 {
		margin-right: 80px !important;
	}

	.mr-xl-90 {
		margin-right: 90px !important;
	}

	.mr-xl-100 {
		margin-right: 100px !important;
	}

	.mr-xl-110 {
		margin-right: 110px !important;
	}

	.mr-xl-120 {
		margin-right: 120px !important;
	}

	.mr-xl-130 {
		margin-right: 130px !important;
	}

	.mr-xl-140 {
		margin-right: 140px !important;
	}

	.mr-xl-150 {
		margin-right: 150px !important;
	}

	.mr-xl-160 {
		margin-right: 160px !important;
	}

	.mr-xl-170 {
		margin-right: 170px !important;
	}

	.mr-xl-180 {
		margin-right: 180px !important;
	}

	.mr-xl-190 {
		margin-right: 190px !important;
	}

	.mr-xl-200 {
		margin-right: 200px !important;
	}

	.mt-xl--10 {
		margin-top: -10px !important;
	}

	.mt-xl--20 {
		margin-top: -20px !important;
	}

	.mt-xl--30 {
		margin-top: -30px !important;
	}

	.mt-xl--40 {
		margin-top: -40px !important;
	}

	.mt-xl--50 {
		margin-top: -50px !important;
	}

	.mt-xl--60 {
		margin-top: -60px !important;
	}

	.mt-xl--70 {
		margin-top: -70px !important;
	}

	.mt-xl--80 {
		margin-top: -80px !important;
	}

	.mt-xl--90 {
		margin-top: -90px !important;
	}

	.mt-xl--100 {
		margin-top: -100px !important;
	}

	.mt-xl--110 {
		margin-top: -110px !important;
	}

	.mt-xl--120 {
		margin-top: -120px !important;
	}

	.mt-xl--130 {
		margin-top: -130px !important;
	}

	.mt-xl--140 {
		margin-top: -140px !important;
	}

	.mt-xl--150 {
		margin-top: -150px !important;
	}

	.mt-xl--160 {
		margin-top: -160px !important;
	}

	.mt-xl--170 {
		margin-top: -170px !important;
	}

	.mt-xl--180 {
		margin-top: -180px !important;
	}

	.mt-xl--190 {
		margin-top: -190px !important;
	}

	.mt-xl--200 {
		margin-top: -200px !important;
	}

	.mb-xl--10 {
		margin-bottom: -10px !important;
	}

	.mb-xl--20 {
		margin-bottom: -20px !important;
	}

	.mb-xl--30 {
		margin-bottom: -30px !important;
	}

	.mb-xl--40 {
		margin-bottom: -40px !important;
	}

	.mb-xl--50 {
		margin-bottom: -50px !important;
	}

	.mb-xl--60 {
		margin-bottom: -60px !important;
	}

	.mb-xl--70 {
		margin-bottom: -70px !important;
	}

	.mb-xl--80 {
		margin-bottom: -80px !important;
	}

	.mb-xl--90 {
		margin-bottom: -90px !important;
	}

	.mb-xl--100 {
		margin-bottom: -100px !important;
	}

	.mb-xl--110 {
		margin-bottom: -110px !important;
	}

	.mb-xl--120 {
		margin-bottom: -120px !important;
	}

	.mb-xl--130 {
		margin-bottom: -130px !important;
	}

	.mb-xl--140 {
		margin-bottom: -140px !important;
	}

	.mb-xl--150 {
		margin-bottom: -150px !important;
	}

	.mb-xl--160 {
		margin-bottom: -160px !important;
	}

	.mb-xl--170 {
		margin-bottom: -170px !important;
	}

	.mb-xl--180 {
		margin-bottom: -180px !important;
	}

	.mb-xl--190 {
		margin-bottom: -190px !important;
	}

	.mb-xl--200 {
		margin-bottom: -200px !important;
	}

	.mt-xl-0 {
		margin-top: 0 !important;
	}

	.mb-xl-0 {
		margin-bottom: 0 !important;
	}

	.ml-xl-0 {
		margin-left: 0 !important;
	}

	.mr-xl-0 {
		margin-right: 0 !important;
	}
}

/* Margin LG */
@media (min-width: 992px) and (max-width: 1199px) {
	.mt-lg-10 {
		margin-top: 10px !important;
	}

	.mt-lg-20 {
		margin-top: 20px !important;
	}

	.mt-lg-30 {
		margin-top: 30px !important;
	}

	.mt-lg-40 {
		margin-top: 40px !important;
	}

	.mt-lg-50 {
		margin-top: 50px !important;
	}

	.mt-lg-60 {
		margin-top: 60px !important;
	}

	.mt-lg-70 {
		margin-top: 70px !important;
	}

	.mt-lg-80 {
		margin-top: 80px !important;
	}

	.mt-lg-90 {
		margin-top: 90px !important;
	}

	.mt-lg-100 {
		margin-top: 100px !important;
	}

	.mt-lg-110 {
		margin-top: 110px !important;
	}

	.mt-lg-120 {
		margin-top: 120px !important;
	}

	.mt-lg-130 {
		margin-top: 130px !important;
	}

	.mt-lg-140 {
		margin-top: 140px !important;
	}

	.mt-lg-150 {
		margin-top: 150px !important;
	}

	.mt-lg-160 {
		margin-top: 160px !important;
	}

	.mt-lg-170 {
		margin-top: 170px !important;
	}

	.mt-lg-180 {
		margin-top: 180px !important;
	}

	.mt-lg-190 {
		margin-top: 190px !important;
	}

	.mt-lg-200 {
		margin-top: 200px !important;
	}

	.mb-lg-10 {
		margin-bottom: 10px !important;
	}

	.mb-lg-20 {
		margin-bottom: 20px !important;
	}

	.mb-lg-30 {
		margin-bottom: 30px !important;
	}

	.mb-lg-40 {
		margin-bottom: 40px !important;
	}

	.mb-lg-50 {
		margin-bottom: 50px !important;
	}

	.mb-lg-60 {
		margin-bottom: 60px !important;
	}

	.mb-lg-70 {
		margin-bottom: 70px !important;
	}

	.mb-lg-80 {
		margin-bottom: 80px !important;
	}

	.mb-lg-90 {
		margin-bottom: 90px !important;
	}

	.mb-lg-100 {
		margin-bottom: 100px !important;
	}

	.mb-lg-110 {
		margin-bottom: 110px !important;
	}

	.mb-lg-120 {
		margin-bottom: 120px !important;
	}

	.mb-lg-130 {
		margin-bottom: 130px !important;
	}

	.mb-lg-140 {
		margin-bottom: 140px !important;
	}

	.mb-lg-150 {
		margin-bottom: 150px !important;
	}

	.mb-lg-160 {
		margin-bottom: 160px !important;
	}

	.mb-lg-170 {
		margin-bottom: 170px !important;
	}

	.mb-lg-180 {
		margin-bottom: 180px !important;
	}

	.mb-lg-190 {
		margin-bottom: 190px !important;
	}

	.mb-lg-200 {
		margin-bottom: 200px !important;
	}

	.ml-lg-10 {
		margin-left: 10px !important;
	}

	.ml-lg-20 {
		margin-left: 20px !important;
	}

	.ml-lg-30 {
		margin-left: 30px !important;
	}

	.ml-lg-40 {
		margin-left: 40px !important;
	}

	.ml-lg-50 {
		margin-left: 50px !important;
	}

	.ml-lg-60 {
		margin-left: 60px !important;
	}

	.ml-lg-70 {
		margin-left: 70px !important;
	}

	.ml-lg-80 {
		margin-left: 80px !important;
	}

	.ml-lg-90 {
		margin-left: 90px !important;
	}

	.ml-lg-100 {
		margin-left: 100px !important;
	}

	.ml-lg-110 {
		margin-left: 110px !important;
	}

	.ml-lg-120 {
		margin-left: 120px !important;
	}

	.ml-lg-130 {
		margin-left: 130px !important;
	}

	.ml-lg-140 {
		margin-left: 140px !important;
	}

	.ml-lg-150 {
		margin-left: 150px !important;
	}

	.ml-lg-160 {
		margin-left: 160px !important;
	}

	.ml-lg-170 {
		margin-left: 170px !important;
	}

	.ml-lg-180 {
		margin-left: 180px !important;
	}

	.ml-lg-190 {
		margin-left: 190px !important;
	}

	.ml-lg-200 {
		margin-left: 200px !important;
	}

	.mr-lg-10 {
		margin-right: 10px !important;
	}

	.mr-lg-20 {
		margin-right: 20px !important;
	}

	.mr-lg-30 {
		margin-right: 30px !important;
	}

	.mr-lg-40 {
		margin-right: 40px !important;
	}

	.mr-lg-50 {
		margin-right: 50px !important;
	}

	.mr-lg-60 {
		margin-right: 60px !important;
	}

	.mr-lg-70 {
		margin-right: 70px !important;
	}

	.mr-lg-80 {
		margin-right: 80px !important;
	}

	.mr-lg-90 {
		margin-right: 90px !important;
	}

	.mr-lg-100 {
		margin-right: 100px !important;
	}

	.mr-lg-110 {
		margin-right: 110px !important;
	}

	.mr-lg-120 {
		margin-right: 120px !important;
	}

	.mr-lg-130 {
		margin-right: 130px !important;
	}

	.mr-lg-140 {
		margin-right: 140px !important;
	}

	.mr-lg-150 {
		margin-right: 150px !important;
	}

	.mr-lg-160 {
		margin-right: 160px !important;
	}

	.mr-lg-170 {
		margin-right: 170px !important;
	}

	.mr-lg-180 {
		margin-right: 180px !important;
	}

	.mr-lg-190 {
		margin-right: 190px !important;
	}

	.mr-lg-200 {
		margin-right: 200px !important;
	}

	.mt-lg--10 {
		margin-top: -10px !important;
	}

	.mt-lg--20 {
		margin-top: -20px !important;
	}

	.mt-lg--30 {
		margin-top: -30px !important;
	}

	.mt-lg--40 {
		margin-top: -40px !important;
	}

	.mt-lg--50 {
		margin-top: -50px !important;
	}

	.mt-lg--60 {
		margin-top: -60px !important;
	}

	.mt-lg--70 {
		margin-top: -70px !important;
	}

	.mt-lg--80 {
		margin-top: -80px !important;
	}

	.mt-lg--90 {
		margin-top: -90px !important;
	}

	.mt-lg--100 {
		margin-top: -100px !important;
	}

	.mt-lg--110 {
		margin-top: -110px !important;
	}

	.mt-lg--120 {
		margin-top: -120px !important;
	}

	.mt-lg--130 {
		margin-top: -130px !important;
	}

	.mt-lg--140 {
		margin-top: -140px !important;
	}

	.mt-lg--150 {
		margin-top: -150px !important;
	}

	.mt-lg--160 {
		margin-top: -160px !important;
	}

	.mt-lg--170 {
		margin-top: -170px !important;
	}

	.mt-lg--180 {
		margin-top: -180px !important;
	}

	.mt-lg--190 {
		margin-top: -190px !important;
	}

	.mt-lg--200 {
		margin-top: -200px !important;
	}

	.mb-lg--10 {
		margin-bottom: -10px !important;
	}

	.mb-lg--20 {
		margin-bottom: -20px !important;
	}

	.mb-lg--30 {
		margin-bottom: -30px !important;
	}

	.mb-lg--40 {
		margin-bottom: -40px !important;
	}

	.mb-lg--50 {
		margin-bottom: -50px !important;
	}

	.mb-lg--60 {
		margin-bottom: -60px !important;
	}

	.mb-lg--70 {
		margin-bottom: -70px !important;
	}

	.mb-lg--80 {
		margin-bottom: -80px !important;
	}

	.mb-lg--90 {
		margin-bottom: -90px !important;
	}

	.mb-lg--100 {
		margin-bottom: -100px !important;
	}

	.mb-lg--110 {
		margin-bottom: -110px !important;
	}

	.mb-lg--120 {
		margin-bottom: -120px !important;
	}

	.mb-lg--130 {
		margin-bottom: -130px !important;
	}

	.mb-lg--140 {
		margin-bottom: -140px !important;
	}

	.mb-lg--150 {
		margin-bottom: -150px !important;
	}

	.mb-lg--160 {
		margin-bottom: -160px !important;
	}

	.mb-lg--170 {
		margin-bottom: -170px !important;
	}

	.mb-lg--180 {
		margin-bottom: -180px !important;
	}

	.mb-lg--190 {
		margin-bottom: -190px !important;
	}

	.mb-lg--200 {
		margin-bottom: -200px !important;
	}

	.mt-lg-0 {
		margin-top: 0 !important;
	}

	.mb-lg-0 {
		margin-bottom: 0 !important;
	}

	.ml-lg-0 {
		margin-left: 0 !important;
	}

	.mr-lg-0 {
		margin-right: 0 !important;
	}
}

/* Margin MD */
@media (min-width: 768px) and (max-width: 991px) {
	.mt-md-10 {
		margin-top: 10px !important;
	}

	.mt-md-20 {
		margin-top: 20px !important;
	}

	.mt-md-30 {
		margin-top: 30px !important;
	}

	.mt-md-40 {
		margin-top: 40px !important;
	}

	.mt-md-50 {
		margin-top: 50px !important;
	}

	.mt-md-60 {
		margin-top: 60px !important;
	}

	.mt-md-70 {
		margin-top: 70px !important;
	}

	.mt-md-80 {
		margin-top: 80px !important;
	}

	.mt-md-90 {
		margin-top: 90px !important;
	}

	.mt-md-100 {
		margin-top: 100px !important;
	}

	.mt-md-110 {
		margin-top: 110px !important;
	}

	.mt-md-120 {
		margin-top: 120px !important;
	}

	.mt-md-130 {
		margin-top: 130px !important;
	}

	.mt-md-140 {
		margin-top: 140px !important;
	}

	.mt-md-150 {
		margin-top: 150px !important;
	}

	.mt-md-160 {
		margin-top: 160px !important;
	}

	.mt-md-170 {
		margin-top: 170px !important;
	}

	.mt-md-180 {
		margin-top: 180px !important;
	}

	.mt-md-190 {
		margin-top: 190px !important;
	}

	.mt-md-200 {
		margin-top: 200px !important;
	}

	.mb-md-10 {
		margin-bottom: 10px !important;
	}

	.mb-md-20 {
		margin-bottom: 20px !important;
	}

	.mb-md-30 {
		margin-bottom: 30px !important;
	}

	.mb-md-40 {
		margin-bottom: 40px !important;
	}

	.mb-md-50 {
		margin-bottom: 50px !important;
	}

	.mb-md-60 {
		margin-bottom: 60px !important;
	}

	.mb-md-70 {
		margin-bottom: 70px !important;
	}

	.mb-md-80 {
		margin-bottom: 80px !important;
	}

	.mb-md-90 {
		margin-bottom: 90px !important;
	}

	.mb-md-100 {
		margin-bottom: 100px !important;
	}

	.mb-md-110 {
		margin-bottom: 110px !important;
	}

	.mb-md-120 {
		margin-bottom: 120px !important;
	}

	.mb-md-130 {
		margin-bottom: 130px !important;
	}

	.mb-md-140 {
		margin-bottom: 140px !important;
	}

	.mb-md-150 {
		margin-bottom: 150px !important;
	}

	.mb-md-160 {
		margin-bottom: 160px !important;
	}

	.mb-md-170 {
		margin-bottom: 170px !important;
	}

	.mb-md-180 {
		margin-bottom: 180px !important;
	}

	.mb-md-190 {
		margin-bottom: 190px !important;
	}

	.mb-md-200 {
		margin-bottom: 200px !important;
	}

	.ml-md-10 {
		margin-left: 10px !important;
	}

	.ml-md-20 {
		margin-left: 20px !important;
	}

	.ml-md-30 {
		margin-left: 30px !important;
	}

	.ml-md-40 {
		margin-left: 40px !important;
	}

	.ml-md-50 {
		margin-left: 50px !important;
	}

	.ml-md-60 {
		margin-left: 60px !important;
	}

	.ml-md-70 {
		margin-left: 70px !important;
	}

	.ml-md-80 {
		margin-left: 80px !important;
	}

	.ml-md-90 {
		margin-left: 90px !important;
	}

	.ml-md-100 {
		margin-left: 100px !important;
	}

	.ml-md-110 {
		margin-left: 110px !important;
	}

	.ml-md-120 {
		margin-left: 120px !important;
	}

	.ml-md-130 {
		margin-left: 130px !important;
	}

	.ml-md-140 {
		margin-left: 140px !important;
	}

	.ml-md-150 {
		margin-left: 150px !important;
	}

	.ml-md-160 {
		margin-left: 160px !important;
	}

	.ml-md-170 {
		margin-left: 170px !important;
	}

	.ml-md-180 {
		margin-left: 180px !important;
	}

	.ml-md-190 {
		margin-left: 190px !important;
	}

	.ml-md-200 {
		margin-left: 200px !important;
	}

	.mr-md-10 {
		margin-right: 10px !important;
	}

	.mr-md-20 {
		margin-right: 20px !important;
	}

	.mr-md-30 {
		margin-right: 30px !important;
	}

	.mr-md-40 {
		margin-right: 40px !important;
	}

	.mr-md-50 {
		margin-right: 50px !important;
	}

	.mr-md-60 {
		margin-right: 60px !important;
	}

	.mr-md-70 {
		margin-right: 70px !important;
	}

	.mr-md-80 {
		margin-right: 80px !important;
	}

	.mr-md-90 {
		margin-right: 90px !important;
	}

	.mr-md-100 {
		margin-right: 100px !important;
	}

	.mr-md-110 {
		margin-right: 110px !important;
	}

	.mr-md-120 {
		margin-right: 120px !important;
	}

	.mr-md-130 {
		margin-right: 130px !important;
	}

	.mr-md-140 {
		margin-right: 140px !important;
	}

	.mr-md-150 {
		margin-right: 150px !important;
	}

	.mr-md-160 {
		margin-right: 160px !important;
	}

	.mr-md-170 {
		margin-right: 170px !important;
	}

	.mr-md-180 {
		margin-right: 180px !important;
	}

	.mr-md-190 {
		margin-right: 190px !important;
	}

	.mr-md-200 {
		margin-right: 200px !important;
	}

	.mt-md--10 {
		margin-top: -10px !important;
	}

	.mt-md--20 {
		margin-top: -20px !important;
	}

	.mt-md--30 {
		margin-top: -30px !important;
	}

	.mt-md--40 {
		margin-top: -40px !important;
	}

	.mt-md--50 {
		margin-top: -50px !important;
	}

	.mt-md--60 {
		margin-top: -60px !important;
	}

	.mt-md--70 {
		margin-top: -70px !important;
	}

	.mt-md--80 {
		margin-top: -80px !important;
	}

	.mt-md--90 {
		margin-top: -90px !important;
	}

	.mt-md--100 {
		margin-top: -100px !important;
	}

	.mt-md--110 {
		margin-top: -110px !important;
	}

	.mt-md--120 {
		margin-top: -120px !important;
	}

	.mt-md--130 {
		margin-top: -130px !important;
	}

	.mt-md--140 {
		margin-top: -140px !important;
	}

	.mt-md--150 {
		margin-top: -150px !important;
	}

	.mt-md--160 {
		margin-top: -160px !important;
	}

	.mt-md--170 {
		margin-top: -170px !important;
	}

	.mt-md--180 {
		margin-top: -180px !important;
	}

	.mt-md--190 {
		margin-top: -190px !important;
	}

	.mt-md--200 {
		margin-top: -200px !important;
	}

	.mb-md--10 {
		margin-bottom: -10px !important;
	}

	.mb-md--20 {
		margin-bottom: -20px !important;
	}

	.mb-md--30 {
		margin-bottom: -30px !important;
	}

	.mb-md--40 {
		margin-bottom: -40px !important;
	}

	.mb-md--50 {
		margin-bottom: -50px !important;
	}

	.mb-md--60 {
		margin-bottom: -60px !important;
	}

	.mb-md--70 {
		margin-bottom: -70px !important;
	}

	.mb-md--80 {
		margin-bottom: -80px !important;
	}

	.mb-md--90 {
		margin-bottom: -90px !important;
	}

	.mb-md--100 {
		margin-bottom: -100px !important;
	}

	.mb-md--110 {
		margin-bottom: -110px !important;
	}

	.mb-md--120 {
		margin-bottom: -120px !important;
	}

	.mb-md--130 {
		margin-bottom: -130px !important;
	}

	.mb-md--140 {
		margin-bottom: -140px !important;
	}

	.mb-md--150 {
		margin-bottom: -150px !important;
	}

	.mb-md--160 {
		margin-bottom: -160px !important;
	}

	.mb-md--170 {
		margin-bottom: -170px !important;
	}

	.mb-md--180 {
		margin-bottom: -180px !important;
	}

	.mb-md--190 {
		margin-bottom: -190px !important;
	}

	.mb-md--200 {
		margin-bottom: -200px !important;
	}

	.mt-md-0 {
		margin-top: 0 !important;
	}

	.mb-md-0 {
		margin-bottom: 0 !important;
	}

	.ml-md-0 {
		margin-left: 0 !important;
	}

	.mr-md-0 {
		margin-right: 0 !important;
	}
}

/* Margin XS */
@media (max-width: 767px) {
	.mt-xs-10 {
		margin-top: 10px !important;
	}

	.mt-xs-20 {
		margin-top: 20px !important;
	}

	.mt-xs-30 {
		margin-top: 30px !important;
	}

	.mt-xs-40 {
		margin-top: 40px !important;
	}

	.mt-xs-50 {
		margin-top: 50px !important;
	}

	.mt-xs-60 {
		margin-top: 60px !important;
	}

	.mt-xs-70 {
		margin-top: 70px !important;
	}

	.mt-xs-80 {
		margin-top: 80px !important;
	}

	.mt-xs-90 {
		margin-top: 90px !important;
	}

	.mt-xs-100 {
		margin-top: 100px !important;
	}

	.mt-xs-110 {
		margin-top: 110px !important;
	}

	.mt-xs-120 {
		margin-top: 120px !important;
	}

	.mt-xs-130 {
		margin-top: 130px !important;
	}

	.mt-xs-140 {
		margin-top: 140px !important;
	}

	.mt-xs-150 {
		margin-top: 150px !important;
	}

	.mt-xs-160 {
		margin-top: 160px !important;
	}

	.mt-xs-170 {
		margin-top: 170px !important;
	}

	.mt-xs-180 {
		margin-top: 180px !important;
	}

	.mt-xs-190 {
		margin-top: 190px !important;
	}

	.mt-xs-200 {
		margin-top: 200px !important;
	}

	.mb-xs-10 {
		margin-bottom: 10px !important;
	}

	.mb-xs-20 {
		margin-bottom: 20px !important;
	}

	.mb-xs-30 {
		margin-bottom: 30px !important;
	}

	.mb-xs-40 {
		margin-bottom: 40px !important;
	}

	.mb-xs-50 {
		margin-bottom: 50px !important;
	}

	.mb-xs-60 {
		margin-bottom: 60px !important;
	}

	.mb-xs-70 {
		margin-bottom: 70px !important;
	}

	.mb-xs-80 {
		margin-bottom: 80px !important;
	}

	.mb-xs-90 {
		margin-bottom: 90px !important;
	}

	.mb-xs-100 {
		margin-bottom: 100px !important;
	}

	.mb-xs-110 {
		margin-bottom: 110px !important;
	}

	.mb-xs-120 {
		margin-bottom: 120px !important;
	}

	.mb-xs-130 {
		margin-bottom: 130px !important;
	}

	.mb-xs-140 {
		margin-bottom: 140px !important;
	}

	.mb-xs-150 {
		margin-bottom: 150px !important;
	}

	.mb-xs-160 {
		margin-bottom: 160px !important;
	}

	.mb-xs-170 {
		margin-bottom: 170px !important;
	}

	.mb-xs-180 {
		margin-bottom: 180px !important;
	}

	.mb-xs-190 {
		margin-bottom: 190px !important;
	}

	.mb-xs-200 {
		margin-bottom: 200px !important;
	}

	.ml-xs-10 {
		margin-left: 10px !important;
	}

	.ml-xs-20 {
		margin-left: 20px !important;
	}

	.ml-xs-30 {
		margin-left: 30px !important;
	}

	.ml-xs-40 {
		margin-left: 40px !important;
	}

	.ml-xs-50 {
		margin-left: 50px !important;
	}

	.ml-xs-60 {
		margin-left: 60px !important;
	}

	.ml-xs-70 {
		margin-left: 70px !important;
	}

	.ml-xs-80 {
		margin-left: 80px !important;
	}

	.ml-xs-90 {
		margin-left: 90px !important;
	}

	.ml-xs-100 {
		margin-left: 100px !important;
	}

	.ml-xs-110 {
		margin-left: 110px !important;
	}

	.ml-xs-120 {
		margin-left: 120px !important;
	}

	.ml-xs-130 {
		margin-left: 130px !important;
	}

	.ml-xs-140 {
		margin-left: 140px !important;
	}

	.ml-xs-150 {
		margin-left: 150px !important;
	}

	.ml-xs-160 {
		margin-left: 160px !important;
	}

	.ml-xs-170 {
		margin-left: 170px !important;
	}

	.ml-xs-180 {
		margin-left: 180px !important;
	}

	.ml-xs-190 {
		margin-left: 190px !important;
	}

	.ml-xs-200 {
		margin-left: 200px !important;
	}

	.mr-xs-10 {
		margin-right: 10px !important;
	}

	.mr-xs-20 {
		margin-right: 20px !important;
	}

	.mr-xs-30 {
		margin-right: 30px !important;
	}

	.mr-xs-40 {
		margin-right: 40px !important;
	}

	.mr-xs-50 {
		margin-right: 50px !important;
	}

	.mr-xs-60 {
		margin-right: 60px !important;
	}

	.mr-xs-70 {
		margin-right: 70px !important;
	}

	.mr-xs-80 {
		margin-right: 80px !important;
	}

	.mr-xs-90 {
		margin-right: 90px !important;
	}

	.mr-xs-100 {
		margin-right: 100px !important;
	}

	.mr-xs-110 {
		margin-right: 110px !important;
	}

	.mr-xs-120 {
		margin-right: 120px !important;
	}

	.mr-xs-130 {
		margin-right: 130px !important;
	}

	.mr-xs-140 {
		margin-right: 140px !important;
	}

	.mr-xs-150 {
		margin-right: 150px !important;
	}

	.mr-xs-160 {
		margin-right: 160px !important;
	}

	.mr-xs-170 {
		margin-right: 170px !important;
	}

	.mr-xs-180 {
		margin-right: 180px !important;
	}

	.mr-xs-190 {
		margin-right: 190px !important;
	}

	.mr-xs-200 {
		margin-right: 200px !important;
	}

	.mt-xs--10 {
		margin-top: -10px !important;
	}

	.mt-xs--20 {
		margin-top: -20px !important;
	}

	.mt-xs--30 {
		margin-top: -30px !important;
	}

	.mt-xs--40 {
		margin-top: -40px !important;
	}

	.mt-xs--50 {
		margin-top: -50px !important;
	}

	.mt-xs--60 {
		margin-top: -60px !important;
	}

	.mt-xs--70 {
		margin-top: -70px !important;
	}

	.mt-xs--80 {
		margin-top: -80px !important;
	}

	.mt-xs--90 {
		margin-top: -90px !important;
	}

	.mt-xs--100 {
		margin-top: -100px !important;
	}

	.mt-xs--110 {
		margin-top: -110px !important;
	}

	.mt-xs--120 {
		margin-top: -120px !important;
	}

	.mt-xs--130 {
		margin-top: -130px !important;
	}

	.mt-xs--140 {
		margin-top: -140px !important;
	}

	.mt-xs--150 {
		margin-top: -150px !important;
	}

	.mt-xs--160 {
		margin-top: -160px !important;
	}

	.mt-xs--170 {
		margin-top: -170px !important;
	}

	.mt-xs--180 {
		margin-top: -180px !important;
	}

	.mt-xs--190 {
		margin-top: -190px !important;
	}

	.mt-xs--200 {
		margin-top: -200px !important;
	}

	.mb-xs--10 {
		margin-bottom: -10px !important;
	}

	.mb-xs--20 {
		margin-bottom: -20px !important;
	}

	.mb-xs--30 {
		margin-bottom: -30px !important;
	}

	.mb-xs--40 {
		margin-bottom: -40px !important;
	}

	.mb-xs--50 {
		margin-bottom: -50px !important;
	}

	.mb-xs--60 {
		margin-bottom: -60px !important;
	}

	.mb-xs--70 {
		margin-bottom: -70px !important;
	}

	.mb-xs--80 {
		margin-bottom: -80px !important;
	}

	.mb-xs--90 {
		margin-bottom: -90px !important;
	}

	.mb-xs--100 {
		margin-bottom: -100px !important;
	}

	.mb-xs--110 {
		margin-bottom: -110px !important;
	}

	.mb-xs--120 {
		margin-bottom: -120px !important;
	}

	.mb-xs--130 {
		margin-bottom: -130px !important;
	}

	.mb-xs--140 {
		margin-bottom: -140px !important;
	}

	.mb-xs--150 {
		margin-bottom: -150px !important;
	}

	.mb-xs--160 {
		margin-bottom: -160px !important;
	}

	.mb-xs--170 {
		margin-bottom: -170px !important;
	}

	.mb-xs--180 {
		margin-bottom: -180px !important;
	}

	.mb-xs--190 {
		margin-bottom: -190px !important;
	}

	.mb-xs--200 {
		margin-bottom: -200px !important;
	}

	.mt-xs-0 {
		margin-top: 0 !important;
	}

	.mb-xs-0 {
		margin-bottom: 0 !important;
	}

	.ml-xs-0 {
		margin-left: 0 !important;
	}

	.mr-xs-0 {
		margin-right: 0 !important;
	}
}

/* Padding Top */
.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-45 {
	padding-top: 45px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-55 {
	padding-top: 55px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-65 {
	padding-top: 65px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-75 {
	padding-top: 75px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-85 {
	padding-top: 85px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-95 {
	padding-top: 95px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-105 {
	padding-top: 105px;
}

.pt-110 {
	padding-top: 110px;
}

.pt-115 {
	padding-top: 115px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-125 {
	padding-top: 125px;
}

.pt-130 {
	padding-top: 130px;
}

.pt-135 {
	padding-top: 135px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-145 {
	padding-top: 145px;
}

.pt-150 {
	padding-top: 150px;
}

.pt-155 {
	padding-top: 155px;
}

.pt-160 {
	padding-top: 160px;
}

.pt-165 {
	padding-top: 165px;
}

.pt-170 {
	padding-top: 170px;
}

.pt-175 {
	padding-top: 175px;
}

.pt-180 {
	padding-top: 180px;
}

.pt-185 {
	padding-top: 185px;
}

.pt-190 {
	padding-top: 190px;
}

.pt-195 {
	padding-top: 195px;
}

.pt-200 {
	padding-top: 200px;
}

.pt--10 {
	padding-top: -10px;
}

.pt--20 {
	padding-top: -20px;
}

.pt--30 {
	padding-top: -30px;
}

.pt--40 {
	padding-top: -40px;
}

.pt--50 {
	padding-top: -50px;
}

.pt--60 {
	padding-top: -60px;
}

.pt--70 {
	padding-top: -70px;
}

.pt--80 {
	padding-top: -80px;
}

.pt--90 {
	padding-top: -90px;
}

.pt--100 {
	padding-top: -100px;
}

.pt--110 {
	padding-top: -110px;
}

.pt--120 {
	padding-top: -120px;
}

.pt--130 {
	padding-top: -130px;
}

.pt--140 {
	padding-top: -140px;
}

.pt--150 {
	padding-top: -150px;
}

.pt--160 {
	padding-top: -160px;
}

.pt--170 {
	padding-top: -170px;
}

.pt--180 {
	padding-top: -180px;
}

.pt--190 {
	padding-top: -190px;
}

.pt--200 {
	padding-top: -200px;
}

/* Padding Bottom */
.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-45 {
	padding-bottom: 45px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-55 {
	padding-bottom: 55px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-65 {
	padding-bottom: 65px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-75 {
	padding-bottom: 75px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-85 {
	padding-bottom: 85px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-95 {
	padding-bottom: 95px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-105 {
	padding-bottom: 105px;
}

.pb-110 {
	padding-bottom: 110px;
}

.pb-115 {
	padding-bottom: 115px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pb-125 {
	padding-bottom: 125px;
}

.pb-130 {
	padding-bottom: 130px;
}

.pb-135 {
	padding-bottom: 135px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pb-145 {
	padding-bottom: 145px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pb-155 {
	padding-bottom: 155px;
}

.pb-160 {
	padding-bottom: 160px;
}

.pb-165 {
	padding-bottom: 165px;
}

.pb-170 {
	padding-bottom: 170px;
}

.pb-175 {
	padding-bottom: 175px;
}

.pb-180 {
	padding-bottom: 180px;
}

.pb-185 {
	padding-bottom: 185px;
}

.pb-190 {
	padding-bottom: 190px;
}

.pb-195 {
	padding-bottom: 195px;
}

.pb-200 {
	padding-bottom: 200px;
}

.pb--10 {
	padding-bottom: -10px;
}

.pb--20 {
	padding-bottom: -20px;
}

.pb--30 {
	padding-bottom: -30px;
}

.pb--40 {
	padding-bottom: -40px;
}

.pb--50 {
	padding-bottom: -50px;
}

.pb--60 {
	padding-bottom: -60px;
}

.pb--70 {
	padding-bottom: -70px;
}

.pb--80 {
	padding-bottom: -80px;
}

.pb--90 {
	padding-bottom: -90px;
}

.pb--100 {
	padding-bottom: -100px;
}

.pb--110 {
	padding-bottom: -110px;
}

.pb--120 {
	padding-bottom: -120px;
}

.pb--130 {
	padding-bottom: -130px;
}

.pb--140 {
	padding-bottom: -140px;
}

.pb--150 {
	padding-bottom: -150px;
}

.pb--160 {
	padding-bottom: -160px;
}

.pb--170 {
	padding-bottom: -170px;
}

.pb--180 {
	padding-bottom: -180px;
}

.pb--190 {
	padding-bottom: -190px;
}

.pb--200 {
	padding-bottom: -200px;
}

/* Padding Left */
.pl-10 {
	padding-left: 10px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-60 {
	padding-left: 60px;
}

.pl-70 {
	padding-left: 70px;
}

.pl-80 {
	padding-left: 80px;
}

.pl-90 {
	padding-left: 90px;
}

.pl-100 {
	padding-left: 100px;
}

.pl-110 {
	padding-left: 110px;
}

.pl-120 {
	padding-left: 120px;
}

.pl-130 {
	padding-left: 130px;
}

.pl-140 {
	padding-left: 140px;
}

.pl-150 {
	padding-left: 150px;
}

.pl-160 {
	padding-left: 160px;
}

.pl-170 {
	padding-left: 170px;
}

.pl-180 {
	padding-left: 180px;
}

.pl-190 {
	padding-left: 190px;
}

.pl-200 {
	padding-left: 200px;
}

/* Padding Right */
.pr-10 {
	padding-right: 10px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-60 {
	padding-right: 60px;
}

.pr-70 {
	padding-right: 70px;
}

.pr-80 {
	padding-right: 80px;
}

.pr-90 {
	padding-right: 90px;
}

.pr-100 {
	padding-right: 100px;
}

.pr-110 {
	padding-right: 110px;
}

.pr-120 {
	padding-right: 120px;
}

.pr-130 {
	padding-right: 130px;
}

.pr-140 {
	padding-right: 140px;
}

.pr-150 {
	padding-right: 150px;
}

.pr-160 {
	padding-right: 160px;
}

.pr-170 {
	padding-right: 170px;
}

.pr-180 {
	padding-right: 180px;
}

.pr-190 {
	padding-right: 190px;
}

.pr-200 {
	padding-right: 200px;
}

/* Padding XL */
@media (min-width: 1200px) {
	.pt-xl-10 {
		padding-top: 10px !important;
	}

	.pt-xl-20 {
		padding-top: 20px !important;
	}

	.pt-xl-30 {
		padding-top: 30px !important;
	}

	.pt-xl-40 {
		padding-top: 40px !important;
	}

	.pt-xl-50 {
		padding-top: 50px !important;
	}

	.pt-xl-60 {
		padding-top: 60px !important;
	}

	.pt-xl-70 {
		padding-top: 70px !important;
	}

	.pt-xl-80 {
		padding-top: 80px !important;
	}

	.pt-xl-90 {
		padding-top: 90px !important;
	}

	.pt-xl-100 {
		padding-top: 100px !important;
	}

	.pt-xl-110 {
		padding-top: 110px !important;
	}

	.pt-xl-120 {
		padding-top: 120px !important;
	}

	.pt-xl-130 {
		padding-top: 130px !important;
	}

	.pt-xl-140 {
		padding-top: 140px !important;
	}

	.pt-xl-150 {
		padding-top: 150px !important;
	}

	.pt-xl-160 {
		padding-top: 160px !important;
	}

	.pt-xl-170 {
		padding-top: 170px !important;
	}

	.pt-xl-180 {
		padding-top: 180px !important;
	}

	.pt-xl-190 {
		padding-top: 190px !important;
	}

	.pt-xl-200 {
		padding-top: 200px !important;
	}

	.pb-xl-10 {
		padding-bottom: 10px !important;
	}

	.pb-xl-20 {
		padding-bottom: 20px !important;
	}

	.pb-xl-30 {
		padding-bottom: 30px !important;
	}

	.pb-xl-40 {
		padding-bottom: 40px !important;
	}

	.pb-xl-50 {
		padding-bottom: 50px !important;
	}

	.pb-xl-60 {
		padding-bottom: 60px !important;
	}

	.pb-xl-70 {
		padding-bottom: 70px !important;
	}

	.pb-xl-80 {
		padding-bottom: 80px !important;
	}

	.pb-xl-90 {
		padding-bottom: 90px !important;
	}

	.pb-xl-100 {
		padding-bottom: 100px !important;
	}

	.pb-xl-110 {
		padding-bottom: 110px !important;
	}

	.pb-xl-120 {
		padding-bottom: 120px !important;
	}

	.pb-xl-130 {
		padding-bottom: 130px !important;
	}

	.pb-xl-140 {
		padding-bottom: 140px !important;
	}

	.pb-xl-150 {
		padding-bottom: 150px !important;
	}

	.pb-xl-160 {
		padding-bottom: 160px !important;
	}

	.pb-xl-170 {
		padding-bottom: 170px !important;
	}

	.pb-xl-180 {
		padding-bottom: 180px !important;
	}

	.pb-xl-190 {
		padding-bottom: 190px !important;
	}

	.pb-xl-200 {
		padding-bottom: 200px !important;
	}

	.pl-xl-10 {
		padding-left: 10px !important;
	}

	.pl-xl-20 {
		padding-left: 20px !important;
	}

	.pl-xl-30 {
		padding-left: 30px !important;
	}

	.pl-xl-40 {
		padding-left: 40px !important;
	}

	.pl-xl-50 {
		padding-left: 50px !important;
	}

	.pl-xl-60 {
		padding-left: 60px !important;
	}

	.pl-xl-70 {
		padding-left: 70px !important;
	}

	.pl-xl-80 {
		padding-left: 80px !important;
	}

	.pl-xl-90 {
		padding-left: 90px !important;
	}

	.pl-xl-100 {
		padding-left: 100px !important;
	}

	.pl-xl-110 {
		padding-left: 110px !important;
	}

	.pl-xl-120 {
		padding-left: 120px !important;
	}

	.pl-xl-130 {
		padding-left: 130px !important;
	}

	.pl-xl-140 {
		padding-left: 140px !important;
	}

	.pl-xl-150 {
		padding-left: 150px !important;
	}

	.pl-xl-160 {
		padding-left: 160px !important;
	}

	.pl-xl-170 {
		padding-left: 170px !important;
	}

	.pl-xl-180 {
		padding-left: 180px !important;
	}

	.pl-xl-190 {
		padding-left: 190px !important;
	}

	.pl-xl-200 {
		padding-left: 200px !important;
	}

	.pr-xl-10 {
		padding-right: 10px !important;
	}

	.pr-xl-20 {
		padding-right: 20px !important;
	}

	.pr-xl-30 {
		padding-right: 30px !important;
	}

	.pr-xl-40 {
		padding-right: 40px !important;
	}

	.pr-xl-50 {
		padding-right: 50px !important;
	}

	.pr-xl-60 {
		padding-right: 60px !important;
	}

	.pr-xl-70 {
		padding-right: 70px !important;
	}

	.pr-xl-80 {
		padding-right: 80px !important;
	}

	.pr-xl-90 {
		padding-right: 90px !important;
	}

	.pr-xl-100 {
		padding-right: 100px !important;
	}

	.pr-xl-110 {
		padding-right: 110px !important;
	}

	.pr-xl-120 {
		padding-right: 120px !important;
	}

	.pr-xl-130 {
		padding-right: 130px !important;
	}

	.pr-xl-140 {
		padding-right: 140px !important;
	}

	.pr-xl-150 {
		padding-right: 150px !important;
	}

	.pr-xl-160 {
		padding-right: 160px !important;
	}

	.pr-xl-170 {
		padding-right: 170px !important;
	}

	.pr-xl-180 {
		padding-right: 180px !important;
	}

	.pr-xl-190 {
		padding-right: 190px !important;
	}

	.pr-xl-200 {
		padding-right: 200px !important;
	}

	.pt-xl--10 {
		padding-top: -10px !important;
	}

	.pt-xl--20 {
		padding-top: -20px !important;
	}

	.pt-xl--30 {
		padding-top: -30px !important;
	}

	.pt-xl--40 {
		padding-top: -40px !important;
	}

	.pt-xl--50 {
		padding-top: -50px !important;
	}

	.pt-xl--60 {
		padding-top: -60px !important;
	}

	.pt-xl--70 {
		padding-top: -70px !important;
	}

	.pt-xl--80 {
		padding-top: -80px !important;
	}

	.pt-xl--90 {
		padding-top: -90px !important;
	}

	.pt-xl--100 {
		padding-top: -100px !important;
	}

	.pt-xl--110 {
		padding-top: -110px !important;
	}

	.pt-xl--120 {
		padding-top: -120px !important;
	}

	.pt-xl--130 {
		padding-top: -130px !important;
	}

	.pt-xl--140 {
		padding-top: -140px !important;
	}

	.pt-xl--150 {
		padding-top: -150px !important;
	}

	.pt-xl--160 {
		padding-top: -160px !important;
	}

	.pt-xl--170 {
		padding-top: -170px !important;
	}

	.pt-xl--180 {
		padding-top: -180px !important;
	}

	.pt-xl--190 {
		padding-top: -190px !important;
	}

	.pt-xl--200 {
		padding-top: -200px !important;
	}

	.pb-xl--10 {
		padding-bottom: -10px !important;
	}

	.pb-xl--20 {
		padding-bottom: -20px !important;
	}

	.pb-xl--30 {
		padding-bottom: -30px !important;
	}

	.pb-xl--40 {
		padding-bottom: -40px !important;
	}

	.pb-xl--50 {
		padding-bottom: -50px !important;
	}

	.pb-xl--60 {
		padding-bottom: -60px !important;
	}

	.pb-xl--70 {
		padding-bottom: -70px !important;
	}

	.pb-xl--80 {
		padding-bottom: -80px !important;
	}

	.pb-xl--90 {
		padding-bottom: -90px !important;
	}

	.pb-xl--100 {
		padding-bottom: -100px !important;
	}

	.pb-xl--110 {
		padding-bottom: -110px !important;
	}

	.pb-xl--120 {
		padding-bottom: -120px !important;
	}

	.pb-xl--130 {
		padding-bottom: -130px !important;
	}

	.pb-xl--140 {
		padding-bottom: -140px !important;
	}

	.pb-xl--150 {
		padding-bottom: -150px !important;
	}

	.pb-xl--160 {
		padding-bottom: -160px !important;
	}

	.pb-xl--170 {
		padding-bottom: -170px !important;
	}

	.pb-xl--180 {
		padding-bottom: -180px !important;
	}

	.pb-xl--190 {
		padding-bottom: -190px !important;
	}

	.pb-xl--200 {
		padding-bottom: -200px !important;
	}

	.pt-xl-0 {
		padding-top: 0 !important;
	}

	.pb-xl-0 {
		padding-bottom: 0 !important;
	}

	.pl-xl-0 {
		padding-left: 0 !important;
	}

	.pr-xl-0 {
		padding-right: 0 !important;
	}
}

/* Padding LG */
@media (min-width: 992px) and (max-width: 1199px) {
	.pt-lg-10 {
		padding-top: 10px !important;
	}

	.pt-lg-20 {
		padding-top: 20px !important;
	}

	.pt-lg-30 {
		padding-top: 30px !important;
	}

	.pt-lg-40 {
		padding-top: 40px !important;
	}

	.pt-lg-50 {
		padding-top: 50px !important;
	}

	.pt-lg-60 {
		padding-top: 60px !important;
	}

	.pt-lg-70 {
		padding-top: 70px !important;
	}

	.pt-lg-80 {
		padding-top: 80px !important;
	}

	.pt-lg-90 {
		padding-top: 90px !important;
	}

	.pt-lg-100 {
		padding-top: 100px !important;
	}

	.pt-lg-110 {
		padding-top: 110px !important;
	}

	.pt-lg-120 {
		padding-top: 120px !important;
	}

	.pt-lg-130 {
		padding-top: 130px !important;
	}

	.pt-lg-140 {
		padding-top: 140px !important;
	}

	.pt-lg-150 {
		padding-top: 150px !important;
	}

	.pt-lg-160 {
		padding-top: 160px !important;
	}

	.pt-lg-170 {
		padding-top: 170px !important;
	}

	.pt-lg-180 {
		padding-top: 180px !important;
	}

	.pt-lg-190 {
		padding-top: 190px !important;
	}

	.pt-lg-200 {
		padding-top: 200px !important;
	}

	.pb-lg-10 {
		padding-bottom: 10px !important;
	}

	.pb-lg-20 {
		padding-bottom: 20px !important;
	}

	.pb-lg-30 {
		padding-bottom: 30px !important;
	}

	.pb-lg-40 {
		padding-bottom: 40px !important;
	}

	.pb-lg-50 {
		padding-bottom: 50px !important;
	}

	.pb-lg-60 {
		padding-bottom: 60px !important;
	}

	.pb-lg-70 {
		padding-bottom: 70px !important;
	}

	.pb-lg-80 {
		padding-bottom: 80px !important;
	}

	.pb-lg-90 {
		padding-bottom: 90px !important;
	}

	.pb-lg-100 {
		padding-bottom: 100px !important;
	}

	.pb-lg-110 {
		padding-bottom: 110px !important;
	}

	.pb-lg-120 {
		padding-bottom: 120px !important;
	}

	.pb-lg-130 {
		padding-bottom: 130px !important;
	}

	.pb-lg-140 {
		padding-bottom: 140px !important;
	}

	.pb-lg-150 {
		padding-bottom: 150px !important;
	}

	.pb-lg-160 {
		padding-bottom: 160px !important;
	}

	.pb-lg-170 {
		padding-bottom: 170px !important;
	}

	.pb-lg-180 {
		padding-bottom: 180px !important;
	}

	.pb-lg-190 {
		padding-bottom: 190px !important;
	}

	.pb-lg-200 {
		padding-bottom: 200px !important;
	}

	.pl-lg-10 {
		padding-left: 10px !important;
	}

	.pl-lg-20 {
		padding-left: 20px !important;
	}

	.pl-lg-30 {
		padding-left: 30px !important;
	}

	.pl-lg-40 {
		padding-left: 40px !important;
	}

	.pl-lg-50 {
		padding-left: 50px !important;
	}

	.pl-lg-60 {
		padding-left: 60px !important;
	}

	.pl-lg-70 {
		padding-left: 70px !important;
	}

	.pl-lg-80 {
		padding-left: 80px !important;
	}

	.pl-lg-90 {
		padding-left: 90px !important;
	}

	.pl-lg-100 {
		padding-left: 100px !important;
	}

	.pl-lg-110 {
		padding-left: 110px !important;
	}

	.pl-lg-120 {
		padding-left: 120px !important;
	}

	.pl-lg-130 {
		padding-left: 130px !important;
	}

	.pl-lg-140 {
		padding-left: 140px !important;
	}

	.pl-lg-150 {
		padding-left: 150px !important;
	}

	.pl-lg-160 {
		padding-left: 160px !important;
	}

	.pl-lg-170 {
		padding-left: 170px !important;
	}

	.pl-lg-180 {
		padding-left: 180px !important;
	}

	.pl-lg-190 {
		padding-left: 190px !important;
	}

	.pl-lg-200 {
		padding-left: 200px !important;
	}

	.pr-lg-10 {
		padding-right: 10px !important;
	}

	.pr-lg-20 {
		padding-right: 20px !important;
	}

	.pr-lg-30 {
		padding-right: 30px !important;
	}

	.pr-lg-40 {
		padding-right: 40px !important;
	}

	.pr-lg-50 {
		padding-right: 50px !important;
	}

	.pr-lg-60 {
		padding-right: 60px !important;
	}

	.pr-lg-70 {
		padding-right: 70px !important;
	}

	.pr-lg-80 {
		padding-right: 80px !important;
	}

	.pr-lg-90 {
		padding-right: 90px !important;
	}

	.pr-lg-100 {
		padding-right: 100px !important;
	}

	.pr-lg-110 {
		padding-right: 110px !important;
	}

	.pr-lg-120 {
		padding-right: 120px !important;
	}

	.pr-lg-130 {
		padding-right: 130px !important;
	}

	.pr-lg-140 {
		padding-right: 140px !important;
	}

	.pr-lg-150 {
		padding-right: 150px !important;
	}

	.pr-lg-160 {
		padding-right: 160px !important;
	}

	.pr-lg-170 {
		padding-right: 170px !important;
	}

	.pr-lg-180 {
		padding-right: 180px !important;
	}

	.pr-lg-190 {
		padding-right: 190px !important;
	}

	.pr-lg-200 {
		padding-right: 200px !important;
	}

	.pt-lg--10 {
		padding-top: -10px !important;
	}

	.pt-lg--20 {
		padding-top: -20px !important;
	}

	.pt-lg--30 {
		padding-top: -30px !important;
	}

	.pt-lg--40 {
		padding-top: -40px !important;
	}

	.pt-lg--50 {
		padding-top: -50px !important;
	}

	.pt-lg--60 {
		padding-top: -60px !important;
	}

	.pt-lg--70 {
		padding-top: -70px !important;
	}

	.pt-lg--80 {
		padding-top: -80px !important;
	}

	.pt-lg--90 {
		padding-top: -90px !important;
	}

	.pt-lg--100 {
		padding-top: -100px !important;
	}

	.pt-lg--110 {
		padding-top: -110px !important;
	}

	.pt-lg--120 {
		padding-top: -120px !important;
	}

	.pt-lg--130 {
		padding-top: -130px !important;
	}

	.pt-lg--140 {
		padding-top: -140px !important;
	}

	.pt-lg--150 {
		padding-top: -150px !important;
	}

	.pt-lg--160 {
		padding-top: -160px !important;
	}

	.pt-lg--170 {
		padding-top: -170px !important;
	}

	.pt-lg--180 {
		padding-top: -180px !important;
	}

	.pt-lg--190 {
		padding-top: -190px !important;
	}

	.pt-lg--200 {
		padding-top: -200px !important;
	}

	.pb-lg--10 {
		padding-bottom: -10px !important;
	}

	.pb-lg--20 {
		padding-bottom: -20px !important;
	}

	.pb-lg--30 {
		padding-bottom: -30px !important;
	}

	.pb-lg--40 {
		padding-bottom: -40px !important;
	}

	.pb-lg--50 {
		padding-bottom: -50px !important;
	}

	.pb-lg--60 {
		padding-bottom: -60px !important;
	}

	.pb-lg--70 {
		padding-bottom: -70px !important;
	}

	.pb-lg--80 {
		padding-bottom: -80px !important;
	}

	.pb-lg--90 {
		padding-bottom: -90px !important;
	}

	.pb-lg--100 {
		padding-bottom: -100px !important;
	}

	.pb-lg--110 {
		padding-bottom: -110px !important;
	}

	.pb-lg--120 {
		padding-bottom: -120px !important;
	}

	.pb-lg--130 {
		padding-bottom: -130px !important;
	}

	.pb-lg--140 {
		padding-bottom: -140px !important;
	}

	.pb-lg--150 {
		padding-bottom: -150px !important;
	}

	.pb-lg--160 {
		padding-bottom: -160px !important;
	}

	.pb-lg--170 {
		padding-bottom: -170px !important;
	}

	.pb-lg--180 {
		padding-bottom: -180px !important;
	}

	.pb-lg--190 {
		padding-bottom: -190px !important;
	}

	.pb-lg--200 {
		padding-bottom: -200px !important;
	}

	.pt-lg-0 {
		padding-top: 0 !important;
	}

	.pb-lg-0 {
		padding-bottom: 0 !important;
	}

	.pl-lg-0 {
		padding-left: 0 !important;
	}

	.pr-lg-0 {
		padding-right: 0 !important;
	}
}

/* Padding MD */
@media (min-width: 768px) and (max-width: 991px) {
	.pt-md-10 {
		padding-top: 10px !important;
	}

	.pt-md-20 {
		padding-top: 20px !important;
	}

	.pt-md-30 {
		padding-top: 30px !important;
	}

	.pt-md-40 {
		padding-top: 40px !important;
	}

	.pt-md-50 {
		padding-top: 50px !important;
	}

	.pt-md-60 {
		padding-top: 60px !important;
	}

	.pt-md-70 {
		padding-top: 70px !important;
	}

	.pt-md-80 {
		padding-top: 80px !important;
	}

	.pt-md-90 {
		padding-top: 90px !important;
	}

	.pt-md-100 {
		padding-top: 100px !important;
	}

	.pt-md-110 {
		padding-top: 110px !important;
	}

	.pt-md-120 {
		padding-top: 120px !important;
	}

	.pt-md-130 {
		padding-top: 130px !important;
	}

	.pt-md-140 {
		padding-top: 140px !important;
	}

	.pt-md-150 {
		padding-top: 150px !important;
	}

	.pt-md-160 {
		padding-top: 160px !important;
	}

	.pt-md-170 {
		padding-top: 170px !important;
	}

	.pt-md-180 {
		padding-top: 180px !important;
	}

	.pt-md-190 {
		padding-top: 190px !important;
	}

	.pt-md-200 {
		padding-top: 200px !important;
	}

	.pb-md-10 {
		padding-bottom: 10px !important;
	}

	.pb-md-20 {
		padding-bottom: 20px !important;
	}

	.pb-md-30 {
		padding-bottom: 30px !important;
	}

	.pb-md-40 {
		padding-bottom: 40px !important;
	}

	.pb-md-50 {
		padding-bottom: 50px !important;
	}

	.pb-md-60 {
		padding-bottom: 60px !important;
	}

	.pb-md-70 {
		padding-bottom: 70px !important;
	}

	.pb-md-80 {
		padding-bottom: 80px !important;
	}

	.pb-md-90 {
		padding-bottom: 90px !important;
	}

	.pb-md-100 {
		padding-bottom: 100px !important;
	}

	.pb-md-110 {
		padding-bottom: 110px !important;
	}

	.pb-md-120 {
		padding-bottom: 120px !important;
	}

	.pb-md-130 {
		padding-bottom: 130px !important;
	}

	.pb-md-140 {
		padding-bottom: 140px !important;
	}

	.pb-md-150 {
		padding-bottom: 150px !important;
	}

	.pb-md-160 {
		padding-bottom: 160px !important;
	}

	.pb-md-170 {
		padding-bottom: 170px !important;
	}

	.pb-md-180 {
		padding-bottom: 180px !important;
	}

	.pb-md-190 {
		padding-bottom: 190px !important;
	}

	.pb-md-200 {
		padding-bottom: 200px !important;
	}

	.pl-md-10 {
		padding-left: 10px !important;
	}

	.pl-md-20 {
		padding-left: 20px !important;
	}

	.pl-md-30 {
		padding-left: 30px !important;
	}

	.pl-md-40 {
		padding-left: 40px !important;
	}

	.pl-md-50 {
		padding-left: 50px !important;
	}

	.pl-md-60 {
		padding-left: 60px !important;
	}

	.pl-md-70 {
		padding-left: 70px !important;
	}

	.pl-md-80 {
		padding-left: 80px !important;
	}

	.pl-md-90 {
		padding-left: 90px !important;
	}

	.pl-md-100 {
		padding-left: 100px !important;
	}

	.pl-md-110 {
		padding-left: 110px !important;
	}

	.pl-md-120 {
		padding-left: 120px !important;
	}

	.pl-md-130 {
		padding-left: 130px !important;
	}

	.pl-md-140 {
		padding-left: 140px !important;
	}

	.pl-md-150 {
		padding-left: 150px !important;
	}

	.pl-md-160 {
		padding-left: 160px !important;
	}

	.pl-md-170 {
		padding-left: 170px !important;
	}

	.pl-md-180 {
		padding-left: 180px !important;
	}

	.pl-md-190 {
		padding-left: 190px !important;
	}

	.pl-md-200 {
		padding-left: 200px !important;
	}

	.pr-md-10 {
		padding-right: 10px !important;
	}

	.pr-md-20 {
		padding-right: 20px !important;
	}

	.pr-md-30 {
		padding-right: 30px !important;
	}

	.pr-md-40 {
		padding-right: 40px !important;
	}

	.pr-md-50 {
		padding-right: 50px !important;
	}

	.pr-md-60 {
		padding-right: 60px !important;
	}

	.pr-md-70 {
		padding-right: 70px !important;
	}

	.pr-md-80 {
		padding-right: 80px !important;
	}

	.pr-md-90 {
		padding-right: 90px !important;
	}

	.pr-md-100 {
		padding-right: 100px !important;
	}

	.pr-md-110 {
		padding-right: 110px !important;
	}

	.pr-md-120 {
		padding-right: 120px !important;
	}

	.pr-md-130 {
		padding-right: 130px !important;
	}

	.pr-md-140 {
		padding-right: 140px !important;
	}

	.pr-md-150 {
		padding-right: 150px !important;
	}

	.pr-md-160 {
		padding-right: 160px !important;
	}

	.pr-md-170 {
		padding-right: 170px !important;
	}

	.pr-md-180 {
		padding-right: 180px !important;
	}

	.pr-md-190 {
		padding-right: 190px !important;
	}

	.pr-md-200 {
		padding-right: 200px !important;
	}

	.pt-md--10 {
		padding-top: -10px !important;
	}

	.pt-md--20 {
		padding-top: -20px !important;
	}

	.pt-md--30 {
		padding-top: -30px !important;
	}

	.pt-md--40 {
		padding-top: -40px !important;
	}

	.pt-md--50 {
		padding-top: -50px !important;
	}

	.pt-md--60 {
		padding-top: -60px !important;
	}

	.pt-md--70 {
		padding-top: -70px !important;
	}

	.pt-md--80 {
		padding-top: -80px !important;
	}

	.pt-md--90 {
		padding-top: -90px !important;
	}

	.pt-md--100 {
		padding-top: -100px !important;
	}

	.pt-md--110 {
		padding-top: -110px !important;
	}

	.pt-md--120 {
		padding-top: -120px !important;
	}

	.pt-md--130 {
		padding-top: -130px !important;
	}

	.pt-md--140 {
		padding-top: -140px !important;
	}

	.pt-md--150 {
		padding-top: -150px !important;
	}

	.pt-md--160 {
		padding-top: -160px !important;
	}

	.pt-md--170 {
		padding-top: -170px !important;
	}

	.pt-md--180 {
		padding-top: -180px !important;
	}

	.pt-md--190 {
		padding-top: -190px !important;
	}

	.pt-md--200 {
		padding-top: -200px !important;
	}

	.pb-md--10 {
		padding-bottom: -10px !important;
	}

	.pb-md--20 {
		padding-bottom: -20px !important;
	}

	.pb-md--30 {
		padding-bottom: -30px !important;
	}

	.pb-md--40 {
		padding-bottom: -40px !important;
	}

	.pb-md--50 {
		padding-bottom: -50px !important;
	}

	.pb-md--60 {
		padding-bottom: -60px !important;
	}

	.pb-md--70 {
		padding-bottom: -70px !important;
	}

	.pb-md--80 {
		padding-bottom: -80px !important;
	}

	.pb-md--90 {
		padding-bottom: -90px !important;
	}

	.pb-md--100 {
		padding-bottom: -100px !important;
	}

	.pb-md--110 {
		padding-bottom: -110px !important;
	}

	.pb-md--120 {
		padding-bottom: -120px !important;
	}

	.pb-md--130 {
		padding-bottom: -130px !important;
	}

	.pb-md--140 {
		padding-bottom: -140px !important;
	}

	.pb-md--150 {
		padding-bottom: -150px !important;
	}

	.pb-md--160 {
		padding-bottom: -160px !important;
	}

	.pb-md--170 {
		padding-bottom: -170px !important;
	}

	.pb-md--180 {
		padding-bottom: -180px !important;
	}

	.pb-md--190 {
		padding-bottom: -190px !important;
	}

	.pb-md--200 {
		padding-bottom: -200px !important;
	}

	.pt-md-0 {
		padding-top: 0 !important;
	}

	.pb-md-0 {
		padding-bottom: 0 !important;
	}

	.pl-md-0 {
		padding-left: 0 !important;
	}

	.pr-md-0 {
		padding-right: 0 !important;
	}
}

/* Padding XS */
@media (max-width: 767px) {
	.pt-xs-10 {
		padding-top: 10px !important;
	}

	.pt-xs-20 {
		padding-top: 20px !important;
	}

	.pt-xs-30 {
		padding-top: 30px !important;
	}

	.pt-xs-40 {
		padding-top: 40px !important;
	}

	.pt-xs-50 {
		padding-top: 50px !important;
	}

	.pt-xs-60 {
		padding-top: 60px !important;
	}

	.pt-xs-70 {
		padding-top: 70px !important;
	}

	.pt-xs-80 {
		padding-top: 80px !important;
	}

	.pt-xs-90 {
		padding-top: 90px !important;
	}

	.pt-xs-100 {
		padding-top: 100px !important;
	}

	.pt-xs-110 {
		padding-top: 110px !important;
	}

	.pt-xs-120 {
		padding-top: 120px !important;
	}

	.pt-xs-130 {
		padding-top: 130px !important;
	}

	.pt-xs-140 {
		padding-top: 140px !important;
	}

	.pt-xs-150 {
		padding-top: 150px !important;
	}

	.pt-xs-160 {
		padding-top: 160px !important;
	}

	.pt-xs-170 {
		padding-top: 170px !important;
	}

	.pt-xs-180 {
		padding-top: 180px !important;
	}

	.pt-xs-190 {
		padding-top: 190px !important;
	}

	.pt-xs-200 {
		padding-top: 200px !important;
	}

	.pb-xs-10 {
		padding-bottom: 10px !important;
	}

	.pb-xs-20 {
		padding-bottom: 20px !important;
	}

	.pb-xs-30 {
		padding-bottom: 30px !important;
	}

	.pb-xs-40 {
		padding-bottom: 40px !important;
	}

	.pb-xs-50 {
		padding-bottom: 50px !important;
	}

	.pb-xs-60 {
		padding-bottom: 60px !important;
	}

	.pb-xs-70 {
		padding-bottom: 70px !important;
	}

	.pb-xs-80 {
		padding-bottom: 80px !important;
	}

	.pb-xs-90 {
		padding-bottom: 90px !important;
	}

	.pb-xs-100 {
		padding-bottom: 100px !important;
	}

	.pb-xs-110 {
		padding-bottom: 110px !important;
	}

	.pb-xs-120 {
		padding-bottom: 120px !important;
	}

	.pb-xs-130 {
		padding-bottom: 130px !important;
	}

	.pb-xs-140 {
		padding-bottom: 140px !important;
	}

	.pb-xs-150 {
		padding-bottom: 150px !important;
	}

	.pb-xs-160 {
		padding-bottom: 160px !important;
	}

	.pb-xs-170 {
		padding-bottom: 170px !important;
	}

	.pb-xs-180 {
		padding-bottom: 180px !important;
	}

	.pb-xs-190 {
		padding-bottom: 190px !important;
	}

	.pb-xs-200 {
		padding-bottom: 200px !important;
	}

	.pl-xs-10 {
		padding-left: 10px !important;
	}

	.pl-xs-20 {
		padding-left: 20px !important;
	}

	.pl-xs-30 {
		padding-left: 30px !important;
	}

	.pl-xs-40 {
		padding-left: 40px !important;
	}

	.pl-xs-50 {
		padding-left: 50px !important;
	}

	.pl-xs-60 {
		padding-left: 60px !important;
	}

	.pl-xs-70 {
		padding-left: 70px !important;
	}

	.pl-xs-80 {
		padding-left: 80px !important;
	}

	.pl-xs-90 {
		padding-left: 90px !important;
	}

	.pl-xs-100 {
		padding-left: 100px !important;
	}

	.pl-xs-110 {
		padding-left: 110px !important;
	}

	.pl-xs-120 {
		padding-left: 120px !important;
	}

	.pl-xs-130 {
		padding-left: 130px !important;
	}

	.pl-xs-140 {
		padding-left: 140px !important;
	}

	.pl-xs-150 {
		padding-left: 150px !important;
	}

	.pl-xs-160 {
		padding-left: 160px !important;
	}

	.pl-xs-170 {
		padding-left: 170px !important;
	}

	.pl-xs-180 {
		padding-left: 180px !important;
	}

	.pl-xs-190 {
		padding-left: 190px !important;
	}

	.pl-xs-200 {
		padding-left: 200px !important;
	}

	.pr-xs-10 {
		padding-right: 10px !important;
	}

	.pr-xs-20 {
		padding-right: 20px !important;
	}

	.pr-xs-30 {
		padding-right: 30px !important;
	}

	.pr-xs-40 {
		padding-right: 40px !important;
	}

	.pr-xs-50 {
		padding-right: 50px !important;
	}

	.pr-xs-60 {
		padding-right: 60px !important;
	}

	.pr-xs-70 {
		padding-right: 70px !important;
	}

	.pr-xs-80 {
		padding-right: 80px !important;
	}

	.pr-xs-90 {
		padding-right: 90px !important;
	}

	.pr-xs-100 {
		padding-right: 100px !important;
	}

	.pr-xs-110 {
		padding-right: 110px !important;
	}

	.pr-xs-120 {
		padding-right: 120px !important;
	}

	.pr-xs-130 {
		padding-right: 130px !important;
	}

	.pr-xs-140 {
		padding-right: 140px !important;
	}

	.pr-xs-150 {
		padding-right: 150px !important;
	}

	.pr-xs-160 {
		padding-right: 160px !important;
	}

	.pr-xs-170 {
		padding-right: 170px !important;
	}

	.pr-xs-180 {
		padding-right: 180px !important;
	}

	.pr-xs-190 {
		padding-right: 190px !important;
	}

	.pr-xs-200 {
		padding-right: 200px !important;
	}

	.pt-xs--10 {
		padding-top: -10px !important;
	}

	.pt-xs--20 {
		padding-top: -20px !important;
	}

	.pt-xs--30 {
		padding-top: -30px !important;
	}

	.pt-xs--40 {
		padding-top: -40px !important;
	}

	.pt-xs--50 {
		padding-top: -50px !important;
	}

	.pt-xs--60 {
		padding-top: -60px !important;
	}

	.pt-xs--70 {
		padding-top: -70px !important;
	}

	.pt-xs--80 {
		padding-top: -80px !important;
	}

	.pt-xs--90 {
		padding-top: -90px !important;
	}

	.pt-xs--100 {
		padding-top: -100px !important;
	}

	.pt-xs--110 {
		padding-top: -110px !important;
	}

	.pt-xs--120 {
		padding-top: -120px !important;
	}

	.pt-xs--130 {
		padding-top: -130px !important;
	}

	.pt-xs--140 {
		padding-top: -140px !important;
	}

	.pt-xs--150 {
		padding-top: -150px !important;
	}

	.pt-xs--160 {
		padding-top: -160px !important;
	}

	.pt-xs--170 {
		padding-top: -170px !important;
	}

	.pt-xs--180 {
		padding-top: -180px !important;
	}

	.pt-xs--190 {
		padding-top: -190px !important;
	}

	.pt-xs--200 {
		padding-top: -200px !important;
	}

	.pb-xs--10 {
		padding-bottom: -10px !important;
	}

	.pb-xs--20 {
		padding-bottom: -20px !important;
	}

	.pb-xs--30 {
		padding-bottom: -30px !important;
	}

	.pb-xs--40 {
		padding-bottom: -40px !important;
	}

	.pb-xs--50 {
		padding-bottom: -50px !important;
	}

	.pb-xs--60 {
		padding-bottom: -60px !important;
	}

	.pb-xs--70 {
		padding-bottom: -70px !important;
	}

	.pb-xs--80 {
		padding-bottom: -80px !important;
	}

	.pb-xs--90 {
		padding-bottom: -90px !important;
	}

	.pb-xs--100 {
		padding-bottom: -100px !important;
	}

	.pb-xs--110 {
		padding-bottom: -110px !important;
	}

	.pb-xs--120 {
		padding-bottom: -120px !important;
	}

	.pb-xs--130 {
		padding-bottom: -130px !important;
	}

	.pb-xs--140 {
		padding-bottom: -140px !important;
	}

	.pb-xs--150 {
		padding-bottom: -150px !important;
	}

	.pb-xs--160 {
		padding-bottom: -160px !important;
	}

	.pb-xs--170 {
		padding-bottom: -170px !important;
	}

	.pb-xs--180 {
		padding-bottom: -180px !important;
	}

	.pb-xs--190 {
		padding-bottom: -190px !important;
	}

	.pb-xs--200 {
		padding-bottom: -200px !important;
	}

	.pt-xs-0 {
		padding-top: 0 !important;
	}

	.pb-xs-0 {
		padding-bottom: 0 !important;
	}

	.pl-xs-0 {
		padding-left: 0 !important;
	}

	.pr-xs-0 {
		padding-right: 0 !important;
	}
}