@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --color-primary: #92B8C0;
  --color-secondary: #7A5C66;
  --color-accent: #ffffff;
  --font-color: #000000;
  --top_bar_caolor_text: #fff;
  --nav-color: #7A5C66;
  --nav-color-hover: #7A5C66;
  --section-bg-color: #F5FCFD;
  --bs-font-body: "Raleway", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";
  --bs-font-title: "Raleway", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-font-title);
}


/*
 overlay
******************
*/
[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}

[data-overlay=light]::before {
  background-color: #fff;
}

[data-overlay=theme-2]::before {
  background-color: #2d48c3;
}

[data-overlay=dark]::before {
  background-color: #181b1d;
}

[data-overlay=theme]::before {
  background-color: #43824f;
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}



/*
*****
breadcrumb
******************
*/
.breadcrumb-title .sub-title {
  font-size: 16px;
  color: #fff;
}

.breadcrumb-title .title {
  font-size: 55px;
  font-weight: 700;
  color: #fff;
}


.breadcrumb-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 20px 30px;
}

.breadcrumb-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumb-nav ul li {
  display: inline-block;
  color: #afafaf;
  font-size: 16px;
  margin-right: 15px;
  position: relative;
  font-weight: 700;
}

.breadcrumb-nav ul li:after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  height: 16px;
  width: 2px;
  background: #e9e9e9;
  transform: translateY(-50%);
}

.breadcrumb-nav ul li:last-child {
  margin-right: 0;
}

.breadcrumb-nav ul li:last-child:after {
  display: none;
}

.breadcrumb-nav ul li a {
  color: #afafaf;
}

.breadcrumb-nav ul li a:hover {
  color: #7A5C66;
}

.breadcrumb-nav ul li.active {
  color: #7A5C66;
}

.inner-banner .social-links {
  position: absolute;
  right: 40px;
  bottom: 90px;
  z-index: 9;
}

.breadcrumb-area {
  background-size: cover;
}

.inner-banner {
  padding-top: 7em;
}


.social-icon-three {
  position: relative;
}

.social-icon-three li {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.social-icon-three li a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 40px;
  height: 40px;
  border: 1px dashed transparent;
  border-radius: 50%;
  text-align: center;
}

.social-icon-three li a:hover {
  color: #fff;
  border: 1px dashed #92B8C0;
}


/*--*/

/* Section */


.section-title-5 .title {
  color: #7A5C66;
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-top: 1em;
}

.section-title-5 .title-meet {
  color: #7A5C66;
  font-size: 40px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 15px;

  padding-top: 1em;
}

.section-title-5 .title-info {
  color: #7A5C66;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 15px;

  padding-top: 1em;
}


/* End Section */

/* meet our team*/ 
.team-area {
  position: relative;
  display: block;
  /* padding-top: 110px; */
  padding-bottom: 10px;
}

.view-all-member {
  position: relative;
  display: block;
  margin-top: 39px;
}

.single-team-member {
  position: relative;
  display: block;
  margin-bottom: 50px;
  transition: all 500ms ease;
}

.single-team-member .img-holder {
  position: relative;
  display: block;
  overflow: hidden;
}

.single-team-member .img-holder img {
  width: 100%;
  transform: scale(1.0);
  transition: all 700ms ease;
}

.single-team-member:hover .img-holder img {
  transform: scale(1.05) rotate(0deg);
}

.single-team-member .sociallinks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 4px solid #27282c;
  text-align: center;
  transition: all 900ms ease 100ms;
  transform-style: preserve-3d;
  transform: perspective(1200px) rotateX(-90deg) translateZ(-32px);
  opacity: 0;
}

.single-team-member:hover .sociallinks {
  opacity: 1;
  transform: perspective(1200px) rotateX(0deg) translateZ(0px);
  transition: all 900ms ease 300ms;
}

.single-team-member .sociallinks li {
  position: relative;
  display: inline-block;
  float: left;
  width: 20%;
  line-height: 60px;
  border-right: 1px solid #ededed;
}

.single-team-member .sociallinks li:last-child {
  border-right: none;
}

.single-team-member .sociallinks li a i {
  position: relative;
  display: block;
  background: #ffffff;
  color: #7c7e84;
  font-size: 14px;
  line-height: 60px;
  transition: all 500ms ease;
}

.single-team-member .sociallinks li a:hover i {
  color: #ffffff;
  background: #e9212e;
}

.sign__new .social_icons {
  text-align: center;

}

.sign__new .social_icons i {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  margin-right: 4px;
  color: var(--color-accent);
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-size: 16px;
}

.sign__new .social_icons i:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.single-team-member .overlay {
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.85);
  transition: all 900ms ease 100ms;
  opacity: 0;
  transform-style: preserve-3d;
  transform: perspective(1200px) rotateX(-90deg) translateZ(-32px);
}

/* .single-team-member:hover .overlay{
    opacity: 1;
    transform: perspective(1200px) rotateX(0deg) translateZ(0px);
    transition: all 900ms ease 300ms;    
} */
.single-team-member .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}

.single-team-member .overlay .box .link {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.single-team-member .overlay .box .link a {
  color: #ffffff;
}

.single-team-member .name {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 24px 0 24px;
  transition: all 700ms ease 600ms;
  -webkit-box-shadow: 0px 3px 7px 1px #f3f3f3;
  box-shadow: 0px 3px 7px 1px #f3f3f3;
}

.single-team-member:hover .name {
  -webkit-box-shadow: 0px 3px 15px 1px #F3F3F3;
  box-shadow: 0px 3px 15px 1px #F3F3F3;
}

.single-team-member .name p {
  position: relative;
  display: inline-block;
  background: #ffffff;
  margin: 0;
  line-height: 20px;
  padding: 0 30px;
  z-index: 1;
}

.single-team-member .name p:before {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 1px;
  background: #ededed;
  content: "";
  z-index: -1;
}

.single-team-member .name p span {
  position: relative;
  display: inline-block;
  background: #ffffff;
  padding: 0 10px;
  color: #828282;
  line-height: 20px;
  margin: 0;
  z-index: 2;
}

.single-team-member .name h3 {
  color: #27282c;
  font-weight: 600;
  margin: 8px 0 0;
  font-size: 22px;
}

/*****
 sign
******************
*/
.sign__wrapper {
  padding: 50px 70px;
  padding-bottom: 45px;
  margin: 0 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 40px 80px 0px rgba(2, 2, 26, 0.14);
  -moz-box-shadow: 0px 40px 80px 0px rgba(2, 2, 26, 0.14);
  box-shadow: 0px 40px 80px 0px rgba(2, 2, 26, 0.14);
  z-index: 11;
}

.sign__action p {
  font-size: 16px;
  font-weight: 600;
}

.sign__action p a {
  font-size: 16px;
  font-weight: 600;
  color: #7A5C66;
}

.sign__action p a:hover {
  font-size: 16px;
  font-weight: 600;
  color: #92B8C0;
}

.sign__shape img {
  position: absolute;
  z-index: -1;
}

.sign__shape img.man-1 {
  left: 28%;
  top: 60%;
  z-index: 1;
}

.sign__shape img.man-2 {
  right: 24%;
  top: 65%;
}

.sign__shape img.man-2.man-22 {
  top: 50%;
}

.sign__shape img.circle {
  right: 32%;
  top: 38%;
  animation: signCircle 5s linear 0s infinite alternate;
  -webkit-animation: signCircle 5s linear 0s infinite alternate;
}

.sign__shape img.dot {
  right: 34%;
  top: 43%;
  animation: signDot 5s linear 0s infinite alternate;
  -webkit-animation: signDot 5s linear 0s infinite alternate;
}

.sign__shape img.bg {
  left: 33%;
  top: 26%;
  opacity: 0.06;
  max-width: 100%;
  animation: signBg 5s linear 0s infinite alternate;
  -webkit-animation: signBg 5s linear 0s infinite alternate;
}

.sign__shape img.zigzag {
  left: 32%;
  top: 43%;
  animation: signZigzag 5s linear 0s infinite alternate;
  -webkit-animation: signZigzag 5s linear 0s infinite alternate;
}

.sign__shape img.flower {
  bottom: 13%;
  right: 30%;
}

.sign__header {
  padding: 0 35px;
}

.sign__header h3 {
  color: #7A5C66;
  font-size: 22px;
}

.sign__header p {
  margin-bottom: 0;
  color: #7a797f;
  position: relative;
  padding: 0 40px;
  display: inline-block;
}

.sign__header p span {
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sign__header p span:last-child {
  left: auto;
  right: 0;
}

.sign__header p a:hover {
  color: #7A5C66;
}

.sign__social {
  display: inline-block;
  height: 50px;
  background: #eeedf2;
  border-radius: 6px;
  position: relative;
  line-height: 48px;
  padding-left: 23px;
  z-index: 1;
  padding-right: 20px;
  overflow: hidden;
  font-size: 16px;
  color: #777;
}

.sign__social::after {
  position: absolute;
  content: "";
  left: 0;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 220px;
  width: 53px;
  background: #7A5C66;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.sign__social i {
  color: #ffffff;
  font-size: 16px;
  margin-right: 50px;
}

.sign__social:hover {
  color: #ffffff;
}

.sign__social:hover::after {
  width: 100%;
  height: 150%;
  left: 0;
  border-radius: 6px;
}

.sign__social.g-plus::after {
  background: #e93e30;
}

.sign__form h5 {
  font-size: 16px;
  font-weight: 500;
  color: #0d0b33;
  margin-bottom: 11px;
}

.sign__input {
  position: relative;
}

.sign__input input {
  width: 100%;
  height: 60px;
  line-height: 52px;
  padding: 0 50px;
  font-size: 14px;
  border: 2px solid transparent;
  background: #f6f6f7;
  color: #1a152e;
  border-radius: 6px;
}

.sign__input input::placeholder {
  color: #8e8c94;
}

.sign__input input:focus {
  outline: none;
  background: #ffffff;
  border-color: #7A5C66;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(8, 0, 42, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(8, 0, 42, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(8, 0, 42, 0.2);
}

.sign__input i {
  position: absolute;
  top: 51%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 25px;
  font-size: 14px;
  color: #8e8c94;
}

.sign__agree input {
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  display: block;
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid #7a797f;
  outline: none;
  margin-top: 2px;
  border-radius: 4px;
}

.sign__agree input:checked {
  position: relative;
  background-color: #7A5C66;
  border-color: transparent;
}

.sign__agree input:checked::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  font-size: 10px;
  color: #ffffff;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sign__agree input:hover {
  cursor: pointer;
}

.sign__agree label {
  padding-left: 10px;
  font-size: 14px;
}

.sign__agree label:hover {
  cursor: pointer;
}

.sign__agree label a {
  color: #0d0b33;
  font-weight: 500;
}

.sign__agree label a:hover {
  color: #7A5C66;
}

.sign__forgot a {
  color: #7a797f;
}

.sign__forgot a:hover {
  color: #7A5C66;
}

.sign__new p {
  color: #7a797f;
  margin-bottom: 0;
}

.sign__new p a {
  color: #7A5C66;
}

@keyframes signDot {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  100% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
}

@keyframes signZigzag {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  100% {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
}

@keyframes signCircle {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sign-breadcrumb-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign__up__button {
  text-align: center;
}

.sign__up__button .m-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
  -moz-box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
  box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);

  background: #7A5C66;
}

.sign__up__button .m-btn a {
  color: #fff;
}

.sign__up__button .m-btn {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 35px;
  color: #ffff;
  background: #92B8C0;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  border: 0;

  z-index: 1;
}

.sign__up__button .m-btn-vendor:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
  -moz-box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
  box-shadow: 0px 14px 20px 0px rgba(37, 17, 124, 0.16);
  background: #92B8C0;
}

.sign__up__button .m-btn-vendor a {
  color: #fff;
}

.sign__up__button .m-btn-vendor {

  height: 60px;
  line-height: 60px;
  /* padding: 0 35px; */
  color: #ffffff;
  background: #7A5C66;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  position: relative;
  border: 0;
  display: inline-block;
  z-index: 1;
}

.sign__social-2::after {
  background-color: #e93e30;
}

.sign__agree label {
  color: #545252;
  transform: translateY(4px);
}

.m-check-label {
  line-height: 1;
}

/* End Sign */

/*
about styles
*/
.about-one {
  padding-top: 15px;
  padding-bottom: 100px;
}

.about-one .block-title {
  margin-bottom: 30px;
}
.about-one__content .block-title__title{
  font-size:40px;
  color:#404040;
}
.about-one__text {
  font-size: 16px;
  line-height: 26px;
  color: #777777;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.about-one__content .block-title__tag-line {
  font-size:25px;
  color:#7A5C66;
  font-weight: 700;
 
}

.about-one__image {
  position: relative;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(8, 13, 62, 0.15);
  box-shadow: 0px 30px 50px 0px rgba(8, 13, 62, 0.15);
}
.about-one__image-block .inner .about-one__image:before {
 
  transition: all 500ms ease;
}

.about-one__image-title {
  margin: 0;
  color: #222222;
  font-size: 40px;
  background-color: #fff;
  mix-blend-mode: screen;
  font-weight: bold;
  line-height: 1em;
  padding-top: 30px;
  opacity: .95;
}

.about-one__image-text {
  margin: 0;
  text-transform: uppercase;
  color: #222222;
  font-size: 14px;
  background-color: #fff;
  mix-blend-mode: screen;
  font-weight: bold;
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 40px;
  opacity: .95;
}

.about-one__image-block {
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

.about-one__image-block:after {
  content: '';
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: var(--color-secondary);
  z-index: 0;
}

.about-one__image-block:before {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 85px;
  width: 100%;
  height: 71%;
  background-color: #fff;
  background-image: url(../images/gallery/dot-pattern-1-1-op19.png);
  background-repeat: repeat;
  background-position: -4px 0;
  z-index: 1;
}

.about-one__image-block .inner {
  position: relative;
  z-index: 10;
}

.about-one__image-content {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 100%;
  max-width: 240px;
  text-align: center;
}

.about-two {
  padding: 150px 0;
}

.about-two__image {
  position: relative;
}

.about-two__image:before {
  content: '';
  width: 346px;
  height: 346px;
  background-color: #fff;
  background-image: url(../images/resources/dot-pattern-1-1-op19.png);
  background-repeat: repeat;
  background-position: -4px 0;
  position: absolute;
  bottom: -80px;
  left: -80px;
}

.about-two__image>img {
  max-width: 100%;
  -webkit-box-shadow: 0px 30px 50px 0px rgba(8, 13, 62, 0.15);
  box-shadow: 0px 30px 50px 0px rgba(8, 13, 62, 0.15);
  position: relative;
}


.about-two .block-title {
  margin-bottom: 30px;
}

.about-two__text {
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  margin: 0;
}

.about-two__experience {
  background-color: #92B8C0;
  text-align: center;
  width: 100%;
  max-width: 240px;
  padding: 34.5px 0;
  margin-top: 40px;
}

.about-two__experience__title {
  margin: 0;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  line-height: 1em;
}

.about-two__experience__text {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}

/*
End About  us
/*

/* Ask deema Contact */
.askdeema-contact-area{
  position: relative;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 41px 0 80px;
  z-index: 1;  
}
.askdeema-contact-area .icon-holder{
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background: #e9212e;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  animation: fa-spin 9s ease infinite;
}
.askdeema-contact-area .icon-holder span:before {
  position: relative;
  display: block;
  color: #7A5C66;
  font-size: 25px;
  line-height: 120px;
}
.askdeema-contact-area .inner-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.askdeema-contact-area .inner-content .title{
  display: block;
  padding-bottom: 40px;
}
.askdeema-contact-area .inner-content .title h1{
  color: #7A5C66;
  font-size: 25px;
  line-height: 44px;
  font-weight: 700;
  text-transform: capitalize;
}
.askdeema-contact-area .inner-content .title h1 span{
  font-weight: 400;
}
.askdeema-contact-area .inner-content .button{

}
.askdeema-contact-area .inner-content .button a{
  color: #fff;
  background: #7A5C66;
  margin: 0 13px;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.askdeema-contact-area .inner-content .button i:before {
  position: relative;
  top: 2px;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.askdeema-contact-area .inner-content .button a:hover{
  color: #ffffff;
  background: #92B8C0;
}
.askdeema-contact-area .inner-content .button a.call-us:hover{
  color: #ffffff;
  background: #7A5C66;
}
.askdeema-contact-area .inner-content .button a.call-us{
  color: #ffffff;
  background: #92B8C0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;

}
.askdeema-contact-area .inner-content .button a.call-us i:before {
  position: relative;
  top: 2px;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

/* End Ask Deema Contact */

/* Vendor */
.vendor-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.vendor-one .block-title {
  margin-bottom: 0;
}
.vendor-one .block-title__text,
.vendor-one .block-title__tag-line {
  color: rgba(255, 255, 255, 0.7);
}
.vendor-one .block-title__title {
  color: #fff;
}
.vendor-one__title{
  /* text-transform: uppercase; */
  font-size: 24px;
  font-weight: 600;
  color: #7a5c66;
  margin: 0;
  /* margin-top: 35.5px; */
  position: relative;
  text-align: center;
}
.vendor-one__title a {
  color: inherit;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.vendor-one__title a:hover {
  color: #fff;
}

.vendor-one__text{
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 35px;
  margin-top: 20.5px;
  position: relative;
  text-align: center;
}

.vendor-one__home-two {
  padding-top: 50px;
  padding-bottom: 110px;
}

.vendor-one__home-two .service-one__single {
  margin-top: 0px;
  margin-bottom: 40px;
}

.vendor-one__home-two .block-title {
  margin-bottom: 5rem;
    padding-top: 4rem;
}


.vendor-one__home-two .block-title__tag-line {
  color: #848484;
}
.vendor-one__home-two .block-title__title {
  color: #7a5c66;
}



.vendor-thumbnail-second-icon {
	border: 1px solid #f6f6f6;
	background-color: #fff;
	cursor: pointer;
	border-radius: 3px;
  padding: 40px 30px;
	text-align: center;
  -webkit-box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  position: relative;
  z-index: 10;
  border-radius: 1.3em;
  margin-bottom: 4em;
 
 
}

.vendor-thumbnail-second-icon-circle {
	
	font-size: 45px;
	line-height: 1;
	padding: 36px;
	color: #908b8b;
	background-color: #fbf8f7;
	display: inline-block;
	margin-bottom: 75px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 55%, 0);
	transition: .8s ease;
}

.vendor-thumbnail-second-icon:hover {
	border-color: #7A5C66;

	box-shadow: 0px 11px 20px 0 rgba(103, 103, 103, .15);
}

.vendor-thumbnail-second-icon.active {
	border-color: #7A5C66;
	transition: .8s ease;
	box-shadow: 0px 11px 20px 0 rgba(103, 103, 103, .15);
}

.vendor-thumbnail-second-icon:hover .vendor-thumbnail-second-icon-circle {
	background-color: #B8D8DF;
	color: #7A5C66;
  transition: .8s ease;
	transform: translate3d(0px, 40%, 0px);
}

.vendor-thumbnail-second-icon.active .vendor-thumbnail-second-icon-circle {
	background-color: #B8D8DF;
	color: #7A5C66;
}

/* End Vendor */

/* Service */
.inner-banner .button-ask {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  text-align: center;
  padding-top: 2em;
}
.inner-banner .button-ask .button a{
color: #fff;
background: #92B8C0;
/* margin: 0 13px; */
padding: 1rem;
font-family: 'Open Sans', sans-serif;
font-style: 20px;
font-weight: 600;
border-radius: 10px;
}
.inner-banner .button-ask  .button i:before {
position: relative;
top: 2px;
display: inline-block;
padding-right: 10px;
font-size: 20px;
line-height: 20px;
color: #fff;
}
.inner-banner .button-ask  .button a:hover{
color: #ffffff;
background: #7A5C66;
}


.service-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.service-one .block-title {
  margin-bottom: 0;
}

.service-one .block-title__text,
.service-one .block-title__tag-line {
  color: rgba(255, 255, 255, 0.7);
}

.service-one .block-title__title {
  color: #fff;
}

.service-one__parallax {
  padding: 140px 0 189px;
  position: relative;
}

.service-one__parallax:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: .5;
}

.service-one__parallax .container {
  position: relative;
}

.service-one__single {
  padding: 30px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  margin-top: -140px;
  position: relative;
  z-index: 10;
  text-align: center;
}

.service-one__single:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A5838F;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  transform-origin: top center;
  transition: transform .4s ease;
  border-radius: 10px;
}

.service-one__single:hover:before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  transform-origin: bottom center;
}

.service-one__icon {
  font-size: 80px;
  color: #222222;
  opacity: .5;
}

.service-one__title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #7A5C66;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  position: relative;
}

.service-one__title a {
  color: inherit;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.service-one__title a:hover {
  color: #fff;
}

.service-one__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 35px;
  margin-top: 20.5px;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.service-one__btn {
  padding: 11px 30.5px;
  font-size: 14px;
  color: #222222;
  border: 1px solid #92B8C0;
  background-color: transparent;
  position: relative;
}

.service-one__single:hover .service-one__btn,
.service-one__btn:hover {
  background-color: #fff;
  color: #222222;
}

.service-one__single:hover .service-one__icon,
.service-one__single:hover .service-one__title,
.service-one__single:hover .service-one__text {
  color: #fff;
}

.service-one__home-two {
  padding-top: 70px;
  padding-bottom: 50px;
}

.service-one__home-two .service-one__single {
  margin-top: 0px;
  margin-bottom: 40px;
}

.service-one__home-two .block-title {
  margin-bottom: 50px;
}

.service-one__home-two .block-title__tag-line {
  color: #848484;
}

.service-one__home-two .block-title__title {
  color: #7A5C66;
}



.service-one__service-page .service-one__single {
  margin-bottom: 30px;
  border-radius: 15px;
}


.service-post-filter-one {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}

.service-post-filter-one__list+.service-post-filter-one__list {
  margin-left: 25px;
}

.service-post-filter-one__link {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  color: #222222;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.service-post-filter-one__link:hover {
  color: #7A5C66;
}

.active .service-post-filter-one__link {
  color: #7A5C66;
}
.service-thumbnail-second-icon-circle {
	padding: 36px;
	background-color: #fbf8f7;
	display: inline-block;
	margin-bottom: 52px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	font-size: 45px;
	line-height: 1;
	cursor: pointer;
	color: #7A5C66;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 55%, 0);
	transition: .8s ease;
}

.service-thumbnail-second-icon-circle:hover {
	background-color: #fff;
	color: #92B8C0;
	transition: .8s ease;
	transform: translate3d(0px, 40%, 0px);
}
.icon-circle {
	border: 2px solid #fff;
	text-align: center;
	padding-top: 25px;
	border-radius: 100%;
	position: relative;
}

.vendor-thumbnail-second-icon:hover {
	border-color: #92B8C0;
	transition: .8s ease;
	box-shadow: 0px 11px 20px 0 rgba(103, 103, 103, .15);
}

.vendor-thumbnail-second-icon.active {
	border-color: #92B8C0;
	transition: .8s ease;
	box-shadow: 0px 11px 20px 0 rgba(103, 103, 103, .15);
}

.vendor-thumbnail-second-icon:hover .vendor-thumbnail-second-icon-circle {
	background-color: #C5ACB5;
	color: #fff
}

.vendor-thumbnail-second-icon.active .vendor-thumbnail-second-icon-circle {
	background-color: #C5ACB5;
	color: #92B8C0;
}
.circle-xxl {
	height: 154px;
	width: 154px;
}

.circle-xl {
	height: 100px;
	width: 100px;
}

/* End Service */


/* Ask deema Services Contact */
.askdeema-contact-service{
  position: relative;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0px 0 80px;
  z-index: 1;  
}
.askdeema-contact-service .inner-content-left{
  display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    padding-top: 54px;

}
.askdeema-contact-service .icon-holder{
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background: #e9212e;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  animation: fa-spin 9s ease infinite;
}
.askdeema-contact-service .icon-holder span:before {
  position: relative;
  display: block;
  color: #7A5C66;
  font-size: 25px;
  line-height: 120px;
}
/* .askdeema-contact-service .inner-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
} */
.askdeema-contact-service .inner-content .title{
  display: block;
  padding-bottom: 20px;
}
.askdeema-contact-service .inner-content .title h1{
  color: #7A5C66;
  font-size: 25px;
  line-height: 44px;
  font-weight: 700;
  text-transform: capitalize;
}
.askdeema-contact-service .inner-content .title h1 span{
  font-weight: 400;
}
.askdeema-contact-service .inner-content .button{

}

.askdeema-contact-service .inner-content .button a{
  color: #fff;
  background: #7A5C66;
  margin: 0 13px 0 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.askdeema-contact-service .inner-content-left .button a{
  color: #fff;
  background: #7A5C66;
  margin: 0 13px 0 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.askdeema-contact-service .inner-content-left .button i:before {
  position: relative;
  top: 4px;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.askdeema-contact-service .inner-content .button i:before {
  position: relative;
  top: 4px;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.askdeema-contact-service .inner-content .button a:hover{
  color: #ffffff;
  background: #92B8C0;
}
.askdeema-contact-service .inner-content-left .button a.ask-deema-start:hover{
  color: #ffffff;
 
  background: #7A5C66;
}
.askdeema-contact-service .inner-content-left .button a.ask-deema-start{
  color: #ffffff;
  background: #92B8C0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.askdeema-contact-service .inner-content .button a.call-us:hover{
  color: #ffffff;
  background: #92B8C0;
}
.askdeema-contact-service .inner-content .button a.call-us{
  color: #ffffff;
  background: #7A5C66;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.askdeema-contact-service .inner-content .button a.mail-us:hover{
  color: #ffffff;
  background: #92B8C0;
}
.askdeema-contact-service .inner-content .button a.mail-us{
  color: #ffffff;
  background: #7A5C66;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}
.askdeema-contact-service .inner-content .button a.whats-app:hover{
  color: #ffffff;
  background: #92B8C0;
}
.askdeema-contact-service .inner-content .button a.whats-app{
  color: #ffffff;
  background: #7A5C66;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-style: 20px;
  font-weight: 600;
  border-radius: 10px;
}


/* End Ask Deema  Service Contact */


/* Vendor Portal */ 
.vendor-portal-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.vendor-portal-one .block-title {
  margin-bottom: 0;
}

.vendor-portal-one .block-title__text,
.vendor-portal-one .block-title__tag-line {
  color: rgba(255, 255, 255, 0.7);
}

.vendor-portal-one .block-title__title {
  color: #fff;
}

.service-one__parallax {
  padding: 140px 0 189px;
  position: relative;
}

.service-one__parallax:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: .5;
}

.service-one__parallax .container {
  position: relative;
}

.vendor-portal-one__single {
  padding: 30px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  margin-top: -140px;
  position: relative;
  z-index: 10;
  text-align: center;
}

.vendor-portal-one__single:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A5838F;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  transform-origin: top center;
  transition: transform .4s ease;
  border-radius: 10px;
}

.vendor-portal-one__single:hover:before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  transform-origin: bottom center;
}

.service-one__icon {
  font-size: 80px;
  color: #222222;
  opacity: .5;
}

.vendor-portal-text__title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #7A5C66;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  position: relative;
}

.vendor-portal-text__title a {
  color: inherit;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.vendor-portal-text__title a:hover {
  color: #fff;
}
.vendor-portal-one .block-title__line{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.vendor-portal-one__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 35px;
  margin-top: 20.5px;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.vendor-portal__btn {
  padding: 11px 30.5px;
  font-size: 14px;
  color: #222222;
  border: 2px solid #92B8C0;
  background-color: transparent;
  position: relative;
  border-radius: 8px;
}

.vendor-portal-one__single:hover .vendor-portal__btn,
.vendor-portal__btn:hover {
  background-color: #fff;
  color: #222222;
}

.vendor-portal-one__single:hover .service-one__icon,
.vendor-portal-one__single:hover .vendor-portal-text__title,
.vendor-portal-one__single:hover .vendor-portal-one__text {
  color: #fff;
}

.vendor-portal__home-two {
  padding-top: 70px;
  padding-bottom: 50px;
}

.vendor-portal__home-two .vendor-portal-one__single{
  margin-top: 0px;
  margin-bottom: 40px;
}

.vendor-portal__home-two .block-title {
  margin-bottom: 50px;
}

.vendor-portal__home-two .block-title__tag-line {
  color: #848484;
}

.vendor-portal__home-two .block-title__title {
  color: #7A5C66;
}



.vendor-portal-page__service-page .vendor-portal-one__single{
  margin-bottom: 30px;
  border-radius: 15px;
}


.service-post-filter-one {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}

.service-post-filter-one__list+.service-post-filter-one__list {
  margin-left: 25px;
}

.service-post-filter-one__link {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  color: #222222;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.service-post-filter-one__link:hover {
  color: #7A5C66;
}

.active .service-post-filter-one__link {
  color: #7A5C66;
}

/* End Vendor Portal */


/* Event Planner */
.eventplanner-one  {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.eventplanner-one .block-title {
  margin-bottom: 0;
}
.eventplanner-one .block-title__text,
.eventplanner-one .block-title__tag-line {
  color: rgba(255, 255, 255, 0.7);
}
.eventplanner-one .block-title__title {
  color: #fff;
}
.eventplanner-one__title{
  /* text-transform: uppercase; */
  font-size: 24px;
  font-weight: 600;
  color: #7a5c66;
  margin: 0;
  /* margin-top: 35.5px; */
  position: relative;
  text-align: center;
}
.eventplanner-one__title a {
  color: inherit;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.eventplanner-one__title a:hover {
  color: #fff;
}

.eventplanner-one__text{
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
  margin-bottom: 35px;
  margin-top: 20.5px;
  position: relative;
  text-align: center;
}

.eventplanner--one__home-two {
  padding-top: 50px;
  padding-bottom: 110px;
}

.eventplanner--one__home-two .service-one__single {
  margin-top: 0px;
  margin-bottom: 40px;
}

.eventplanner--one__home-two .block-title {
  margin-bottom: 5rem;
    padding-top: 4rem;
}


.eventplanner--one__home-two .block-title__tag-line {
  color: #848484;
}
.eventplanner--one__home-two .block-title__title {
  color: #7a5c66;
}

.eventplanner-thumbnail-second-icon {
	border: 1px solid #f6f6f6;
	background-color: #fff;
	cursor: pointer;
	border-radius: 3px;
  padding: 1px 16px;
	text-align: center;
  -webkit-box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  box-shadow: 0px 15px 39px 0px rgba(9, 24, 33, 0.1);
  position: relative;
  z-index: 10;
  border-radius: 1.3em;
  margin-bottom: 4em;
 
 
}

.eventplanner-thumbnail-second-icon-circle {
	
	font-size: 45px;
	line-height: 1;
	padding: 36px;
	color: #908b8b;
	background-color: #fbf8f7;
	display: inline-block;
	margin-bottom: 75px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 55%, 0);
	transition: .8s ease;
}

.eventplanner-thumbnail-second-icon:hover {
	border-color: #7A5C66;

	box-shadow: 0px 11px 20px 0 rgba(103, 103, 103, .15);
}

.eventplanner-thumbnail-second-icon.active {
	border-color: #7A5C66;
	transition: .8s ease;
	box-shadow: 0px 11px 20px 0 rgba(103, 103, 103, .15);
}

.eventplanner-thumbnail-second-icon:hover .eventplanner-thumbnail-second-icon-circle  {
	background-color: #B8D8DF;
	color: #7A5C66;
  transition: .8s ease;
	transform: translate3d(0px, 40%, 0px);
}

.eventplanner-thumbnail-second-icon.active .eventplanner-thumbnail-second-icon-circle  {
	background-color: #B8D8DF;
	color: #7A5C66;
}

/* End Event Planner*/