@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
 

 :root {
 	--color-primary: #92B8C0;
 	--color-secondary: #7A5C66;
 	--color-accent: #ffffff;
 	--font-color: #000000;
 	--top_bar_caolor_text: #fff;
 	--nav-color: #7A5C66;
 	--nav-color-hover: #7A5C66;
 	--section-bg-color: #F5FCFD;
 	--bs-font-body: "Raleway", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";
 	--bs-font-title: "Raleway", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";
 	--font_open_sans: "Open Sans", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans";
 
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	font-family: var(--bs-font-title);
 }

 .header,
 .section,
 .wd100 {
 	width: 100%;
 	float: left;
 }
 .__tagbio {
 	margin: 0 5px;
 }
 .__tagbio {}
 .__topbar_wrp .container {
 	display: flex;
 	justify-content: flex-end;
 }
 .container.__cctest {
 	display: flex;
 	justify-content: space-between;
 }
 .__hdrtpart {
 	-webkit-flex: 1;
 	-ms-flex: 1;
 	flex: 1;
 }
 .logo {
 	padding: 15px 0;
 	display: flex;
 	align-items: center;
 }
 .__sbrasct {
 	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	padding: 17px 0 0;
 }
 .__logregdrp {}
 .__logretbn {
 	position: relative;
 	color: #fff;
 	font-size: 15px;
 	font-weight: bold;
 	background: var(--color-primary);
 	border-radius: 7px;
 	padding: 7px 15px;
 	white-space: nowrap;
 }
 .__logretbn a {
 	color: #fff;
 }
 .__logretbn a:hover {
 	color: #fff;
 }
 .__cart {
 	position: relative;
 	margin-left: 10px;
 	color: #000;
 	font-size: 15px;
 	font-weight: 500;
 	display: none;
 }
 .__cart:hover {
 	color: #000;
 }
 .__cart span {
 	padding-left: 10px;
 }
 ._gtag {
 	background: #E81D1D;
 	width: 18px;
 	height: 18px;
 	float: right;
 	text-align: center;
 	font-size: 11px;
 	color: #fff;
 	position: absolute;
 	border-radius: 50%;
 	left: 12px;
 	padding-top: 2px;
 	margin-top: 0;
 	line-height: 14px;
 	top: -7px;
 }
 /* User Admin S*/
 /* ============ desktop view ============ */
 
 @media all and (min-width: 992px) {
 	.dropdown-menu li {
 		position: relative;
 	}
 	.dropdown-menu .submenu {
 		display: none;
 		position: absolute;
 		left: 100%;
 		top: -7px;
 	}
 	.dropdown-menu .submenu-left {
 		right: 100%;
 		left: auto;
 	}
 	.dropdown-menu > li:hover {
 		background-color: #f1f1f1;
		font-size: 13px;
 	}
 	.dropdown-menu > li:hover > .submenu {
 		display: block;
		font-size: 13px;
 	}
 }
 /* ============ desktop view .end// ============ */
 /* ============ small devices ============ */
 
 @media (max-width: 991px) {
 	.dropdown-menu .dropdown-menu {
 		margin-left: 0.7rem;
 		margin-right: 0.7rem;
 		margin-bottom: .5rem;
 	}
 }
 /* ============ small devices .end// ============ */
 
 .navbar-light .navbar-toggler {
 	border-radius: 0px;
 	background: #038ed1;
 }
 .navbar-toggler {
 	padding: 3px 8px;
 	font-size: 19px;
 	line-height: 1;
 	background-color: #2fc1d2;
 	border: 1px solid transparent;
 	border-radius: 0;
 	float: right;
 }
 .menu_wrap {
 	font-size: 14px;
 	font-weight: bold;
 	padding-top: 0px;
 	margin-right: 15px;
 }
 .menu_wrap .nav-item {
 	position: relative;
 }
 .menu_wrap .navbar {
 	padding: 0px;
 }
 .menu_wrap ul li {
 	display: block;
 }
 .menu_wrap ul li a {
 	text-transform: uppercase;
 	padding: 20px 7px 20px !important;
 	border-radius: 0px;
 	color: var(--nav-color) !important;
 	line-height: 12px;
 	white-space: nowrap;
 }
 .menu_wrap ul li a:hover,
 .menu_wrap ul li a:focus {
 	transition: all 1s;
 	color: var(--nav-color-hover) !important;
 }
 .menu_wrap ul li.dropdown ul li a {
 	padding-top: 12px !important;
 	padding-bottom: 12px !important;
 	font-size: 14px;
 	color: var(--nav-color) !important;
 	border: none;
 }
 .menu_wrap ul li.dropdown ul li .submenu.dropdown-menu {
 	color: var(--color-accent) !important;
 }
 .navbar-expand-lg .navbar-nav .dropdown-menu {
 	padding: 0px;
 	border: none;
 	border-radius: 5px;
 	overflow: hidden;
 	-webkit-box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 7%);
 	-moz-box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 7%);
 	box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 7%);
 }
 .menu_wrap ul li.dropdown ul li a:hover,
 .menu_wrap ul li.dropdown ul li a:focus {
 	transition: none;
 	color: var(--color-accent) !important;
 	background: var(--nav-color-hover);
 }
 .menu_wrap ul li.dropdown ul li .submenu.dropdown-menu:hover {
 	color: #fff;
 }
 .menu_wrap ul li.active a {
 	color: var(--nav-color-hover) !important;
 	transition: all 1s;
 }
 .menu_wrap ul li:hover::after,
 .menu_wrap ul li.active::after {
 	position: absolute;
 	width: 7px;
 	height: 7px;
 	top: 2px;
 	left: 0;
 	margin: 0 auto;
 	right: 0;
 	color: var(--color-primary);
 	display: inline-block;
 	content: "";
 	border-top: 0.3em solid;
 	border-right: 0.3em solid transparent;
 	border-left: 0.3em solid transparent;
 	transition: all 1s;
 }
 .menu_wrap ul li:hover::before,
 .menu_wrap ul li.active::before {
 	transition: all 1s;
 	position: absolute;
 	width: 100%;
 	left: 0;
 	margin: 0 auto;
 	right: 0;
 	color: var(--color-primary);
 	display: inline-block;
 	content: "";
 	border-top: 2px solid;
 	border-right: 0em solid transparent;
 	border-left: 0em solid transparent;
 }
.menu_wrap ul li ul li:hover::after, 
.menu_wrap ul li ul li.active::after,
 .menu_wrap ul li ul li:hover::before,
 .menu_wrap ul li ul li.active::before {
	 display: none;
}




 .menu_wrap .navbar-light .navbar-nav .nav-link:hover,
 .menu_wrap .navbar-light .navbar-nav .nav-link:focus {
 	background: var(--color-secondary);
 	color: var(--nav-color-hover);
 }

.menu_wrap .dropdown-menu > li:hover ,
.menu_wrap .dropdown-menu > li:focus {
 	color: #16181b;
 	text-decoration: none;
 	background: #000 !important;
 }




 .menu_wrap.navbar-light .navbar-toggler {
 	border-radius: 0px;
 	background: #ffffff;
 	border: 2px solid var(--color-primary);
 	margin-bottom: 5px;
 	border-radius: 3px;
 }




 
.menu_wrap .nav-item.dropdown:hover{
    
    
}

.menu_wrap .nav-item.dropdown:hover> .dropdown-menu{
   display: block;  
}





 .__banner {}
 .__banner .carousel-control-prev-icon,
 .__banner .carousel-control-next-icon {
 	width: 75px;
 	height: 75px;
 	background-color: #0000008c;
 	border-radius: 50%;
 	background-size: 40% 100%;
 }
 .__banner .carousel-caption {
 	text-align: left;
 	font-size: 20px;
 	font-weight: 500;
 	bottom: 9.25rem;
 	top: 25%;
 	left: 13%;
 }
 .__banner .carousel-caption h5 {
 	text-align: left;
 	font-weight: 700;
 	color: #fff;
 	font-size: 55px;
 	line-height: 65px;
 	/*
	 
   text-shadow: 
     1px  1px     #000, 
    -1px  1px     #000, 
     1px -1px     #000, 
    -1px -1px     #000,
     1px  1px 5px #555;
*/
 }
 .__banner .carousel-indicators {
 	display: flex;
 	justify-content: flex-start;
 	margin-left: 13%;
 }

.__banner .carousel-item img{
	height: 700px;
	object-fit: cover;
}







 .carousel-indicators [data-bs-target] {
 	box-sizing: content-box;
 	flex: 0 1 auto;
 	width: 10px;
 	height: 10px;
 	opacity: 10;
 	border-radius: 50%;
 	border: #fff 1px solid;
 }
 .carousel-indicators .active {
 	border: #fff 1px solid;
 	background: #92b8c0;
 }
 .__bnrbtmscrwrp {}
 .__bnrbtmscrwrp .container {
 	position: relative;
 }
 .__brtabbz {
 	position: absolute;
 	z-index: 1000;
 	width: 100%;
 	bottom: 50px;
 }
 .__bnr_txtfxd {
 	text-align: left;
 	font-size: 20px;
 	font-weight: 500;
 	color: #fff;
 	margin-bottom: 15px;
 }
 .__bnr_txtfxd h5 {
 	text-align: left;
 	font-weight: 700;
 	color: #fff;
 	font-size: 55px;
 	line-height: 65px;
 }
 .__brtabbz .nav.nav-tabs {
 	display: flex;
 	flex-wrap: nowrap;
 	justify-content: space-between;
 	border: none;
 }
 .__brtabbz .nav-tabs .nav-link {
 	margin-right: 3px;
 	border-top-left-radius: 10px;
 	border-top-right-radius: 10px;
 }
 .__brtabbz .nav.nav-tabs .nav-link {
 	display: flex;
 	width: 100%;
 	background: #fff;
 	justify-content: flex-start;
 	align-items: center;
 	border: none;
 	font-size: 14px;
 	font-weight: bold;
 	color: #7A5C66;
 	padding: 10px;
	 line-height: 16px;
 }
 .__brtabbz .nav.nav-tabs .nav-link.active {
 	background: var(--color-primary);
 	border: none;
 	color: #fff;
 }
 .__brtabbz .nav.nav-tabs .nav-link .__icon {
 	float: left;
 	width: 40px;
 	height: 40px;
 	margin-right: 5px;
 }
 .__brtabbz .tab-content {
 	background: #fff;
 	padding: 30px;
 	-webkit-border-bottom-right-radius: 10px;
 	-webkit-border-bottom-left-radius: 10px;
 	-moz-border-radius-bottomright: 10px;
 	-moz-border-radius-bottomleft: 10px;
 	border-bottom-right-radius: 10px;
 	border-bottom-left-radius: 10px;
 	width: 99.777%;
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-wedding_venue-tab .__icon {
 	background: url(../images/icons/wedding_venue.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-wedding_venue-tab .__icon {
 	background: url(../images/icons/wedding_venue_a.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-florist-tab .__icon {
 	background: url(../images/icons/florist.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-florist-tab .__icon {
 	background: url(../images/icons/florist_a.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-photographer-tab .__icon {
 	background: url(../images/icons/photographer.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-photographer-tab .__icon {
 	background: url(../images/icons/photographer_a.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-wedding_dj-tab .__icon {
 	background: url(../images/icons/wedding_dj.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-wedding_dj-tab .__icon {
 	background: url(../images/icons/wedding_dj_a.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-catering-tab .__icon {
 	background: url(../images/icons/catering.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-catering-tab .__icon {
 	background: url(../images/icons/catering_a.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-bands_performances-tab .__icon {
 	background: url(../images/icons/bands_performances.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-bands_performances-tab .__icon {
 	background: url(../images/icons/bands_performances_a.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link#nav-event_planners-tab .__icon {
 	background: url(../images/icons/event_planners.svg);
 }
 .__brtabbz .nav.nav-tabs .nav-link.active#nav-event_planners-tab .__icon {
 	background: url(../images/icons/event_planners_a.svg);
 }
 .__tfdsyl {
 	margin-bottom: 30px;
 }
 .__tfdsyl .form-select,
 .__tfdsyl .form-control {
 	font-weight: 600;
 	border: none;
 	border-bottom: var(--color-secondary) 1px solid;
 	border-radius: 0px;
 	padding-left: 0;
 	padding-right: 0px;
 }
 /*
.__tfdsyl select {
	padding: 15px;

}
*/
 
 .__srfilsctm .form-control {
 	border: #8A8A8A 1px solid;
 	border-radius: 10px;
 	padding: 12px 15px;
 }
 .__search_btn img {
 	width: 25px;
 	margin-right: 15px;
 }
 .__search_btn {
 	border-radius: 10px;
 	width: 100%;
 	height: 100%;
 	font-weight: 500;
 	padding: 10px 10px;
 	/*	background: url(../images/search_icon.svg) no-repeat  var(--color-primary) 1px 15px;*/
 }
 .__srcfld {
 	padding: 0;
 }
 .__location_fld .form-select,
 .__location_fld .form-control {
 	background: url(../images/map_icon.svg) no-repeat 98% 3px #fff;
 	background-origin: content-box;
 }








 .__fr2bk {
 	padding: 50px 0px;
 }
 .__fr2bk h2 {
 	color: var(--color-secondary);
 	font-size: 35px;
 	text-align: center;
 }
 .__fr2bk h3 {
 	color: var(--color-secondary);
 	font-size: 55px;
 	text-align: center;
 	margin-bottom: 30px;
 }
 .__bxzsr {
 	flex: 0 0 auto;
 	width: 25%;
 }
 .__slrp {
 	display: block;
 	background: #ffffff;
 	-webkit-box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 16%);
 	-moz-box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 16%);
 	box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 16%);
 	overflow: hidden;
 	padding: 30px;
 	transition: all 1s;
 }
 .__slrp:hover {
 	background: var(--color-primary);
 	color: #ffff;
 	transition: all 1s;
 }
 .__simgwp {
 	width: 100px;
 	height: 100px;
 	float: left;
 	margin: 30px 0 15px;
 }
 .__simgwp img {}
 .__slrptx {
 	padding: 1px 0px;
 	text-align: left;
 	transition: all 1s;
 	font-weight: 500;
 	display: -webkit-box;
 	-webkit-line-clamp: 4;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	min-height: 60px;
 	color: #868585;
 	font-size: 15px;
 }
 .__slrptx:hover {}
 .__slrp h4 {
 	color: #000;
 	margin: 7px 0;
 	font-size: 20px;
 	text-transform: uppercase;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	transition: all 1s;
 }
 .__slrptx h4 a {}
 .__slrptx h4 a:hover {}
 .__slrp .__btn {
 	font-weight: bold;
 	width: 100%;
 	margin: 0 auto;
 	display: inline-block;
 	color: var(--color-secondary);
 }
 .__slrp .__btn,
 .__slrp .__slrptx,
 .__slrp h4 {
 	transition: all 1s;
 }
 .__slrp:hover .__btn,
 .__slrp:hover .__slrptx,
 .__slrp:hover h4 {
 	color: #fff;
 	transition: all 1s;
 }
 .__rdnhfj {}
 .__slrp h5 {
 	font-size: 15px;
 	font-weight: 500;
 	margin: 1px 0;
 	padding: 1px 0;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	min-height: 18px;
 	color: #333333;
 }








 /* footer SS */
 
 .footer {
 	padding: 35px 0 0 0;
 	background: #F2F8F8;
 	color: #000;
 }
 .f_info {
 	line-height: 20px;
 	color: #000;
 	margin-bottom: 20px !important;
 }
 .f_info a {
 	color: #000;
 	transition: all 1s;
 }
 .f_info a:hover {
 	transition: all 1s;
 	color: #000;
 }
 .f_info b {
 	font-size: 14px;
 	color: #000;
 }
 .footer ul {
 	padding: 0px;
 	margin: 0;
 }
 .footer ul li {
 	padding: 4px 0;
 	margin: 0px;
 	list-style: none;
 }
 .ft a {
 	color: #000;
 	transition: all 1s;
 }
 .ft a:hover {
 	color: var(--color-secondary);
 	transition: all 1s;
 }
 .ft ul li {
 	margin-bottom: 5px;
 }
 .ft ul li:hover,
 .ft ul li:focus,
 .ft ul li:active {
 	transition: all 1s;
 }
 .ft_menu ul li {
 	line-height: 28px;
 	margin-left: 20px;
 	font-weight: 600;
 	list-style-image: url(../images/right_arrow.png);
 }
 .ft_menu ul li a {
 	color: #000;
 	transition: all 1s;
 }
 .ft_menu ul li a:hover {
 	color: var(--color-primary);
 	transition: all 1s;
 }
 .__ftinstagram h5,
 .ft_menu h5 {
 	font-size: 16px;
 	margin-bottom: 20px;
 }
 .__ftinstagram h5::after,
 .ft_menu h5::after {
 	content: "";
 	display: block;
 	border-bottom: 2px solid #92B8C0;
 	margin: 5px 0 0;
 	width: 60px;
 }
 .__ftFtext img {
 	margin-bottom: 15px;
 }
 .__fti_nstagram {}
 .__instBoz {
 	float: left;
 	max-height: 110px;
 	min-height: 110px;
 	max-width: 33%;
 	padding: 5px;
 	overflow: hidden;
 }
 .__instBoz img {
 	object-fit: cover;
 	max-height: 100px;
 	min-height: 100px;
 }
 .__inwrap {
 	margin-left: -5px;
 }
 .__storeIc {
 	display: flex;
 }
 .__storeIc img {
 	margin-right: 5px;
 }
 .__appdowWrp {
 	margin-top: 15px;
 }
 ._social_icons_top {
 	float: left;
 	margin-top: 15px;
 }
 ._social_icons_top i {
 	border-radius: 50%;
 	float: left;
 	width: 35px;
 	height: 35px;
 	text-align: center;
 	padding-top: 10px;
 	margin-right: 4px;
 	color: var(--color-accent);
 	-webkit-transition-duration: .4s;
 	transition-duration: .4s;
 	-webkit-transition-property: transform;
 	transition-property: transform;
 	-webkit-transition-timing-function: ease-in-out;
 	transition-timing-function: ease-in-out;
 	font-size: 16px;
 }
 ._social_icons_top i:hover {
 	-webkit-transform: rotate(360deg);
 	transform: rotate(360deg);
 }
 .fa-facebook-f {
 	background: #3b5998;
 }
 .fa-twitter {
 	background: #00acee;
 }
 .fa-linkedin-in {
 	background: #0e76a8;
 }
 .fa-youtube {
 	background: #c4302b;
 }
 .fa-instagram {
 	background: #f09433;
 	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
 	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
 	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
 	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
 }
 .store {
 	margin: 0px 0px 5px;
 	float: left;
 	padding: 0 10px 5px 0px
 }
 .store img {
 	border-radius: 6px;
 	overflow: hidden;
 }
 .__social_wrap h6 {
 	font-size: 14px;
 }
 .copy_right {
 	padding: 15px 0;
 	text-align: left;
 	color: #ccc;
 	margin-top: 31px;
 	background: #2B2B2B;
 }
 .copy_right a {
 	color: #ccc;
 }
 .copy_right a:hover {
 	color: #fff;
 	text-decoration: underline;
 }
 .pay_icon {
 	float: right; 
 }
 .__ftsubNav {}
 .__ftsubNav ul {
 	margin-bottom: 5px
 }
 .__ftsubNav ul li {
 	margin-right: 15px;
 	display: inline-block;
 }
 .__ftsubNav ul li a {
 	color: #ffffff;
 	transition: all .5s;
 }
 .__ftsubNav ul li a:hover {
 	transition: all .5s;
 	color: #92b8c0;
 }
 /*Footer E*/
 



.__innerbanner {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    height: -webkit-fill-available;
}

.__innerbanner.__event_planners_search {
    min-height: 500px;
    background: url(../images/Event_Planners.jpg) no-repeat center center;
} 

.__innerbanner h2 {
	font-size: 55px;
	color: #fff;
}
 
.__innerbanner h5 {
	font-size: 25px;
	color: #fff;
}
.__shareFixd {
    position: fixed;
    right: 40px;
    display: flex;
    flex-direction: column;
    top: 25%;
    z-index: 10;
    background: #0003;
    border-radius: 25px;
    padding: 8px;
}
.__shareFixd img{
	margin: 5px 0;
	width: 40px;
}




.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 40px;
    display: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #92B8C0;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
	transition: all 1s;
	z-index: 100000;
} 

.back-to-top:hover {
	transition: all 1s ;
	color: #fff;
	background: var(--color-secondary);
}



.__inrFlterWrp{
	margin: 30px auto;
}

.__inrFlrbz .form-select  {
	background-color: #E0EAEC;
	border: none;
	min-height: 50px;
	font-weight: 600;
}
.__inrFlrbz .form-select  option {
	background: #fff;
}



.__rlutlistWrp{
 	margin-bottom: 45px;
} 
.__rlutLtwigWrp{
	border: #707070 1px solid;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 30px;
} 
.__rlutLtwigWrp label {
   font-weight: bold;
} 
.__subrelttxt{
	color: #7A5C66;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

.__rluLGrid{}

 

.__rluLGridBozInrp {
	margin-bottom: 25px;
    background: #fff;
	position: relative;
	-webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
}

.__rluLGridBozImg{
  overflow: hidden; 
    margin-bottom: 15px;
	
}


.__rluLGridBozImg img {
    width: 100%;
    height: 216px;
    object-fit: cover;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
} 
.__rluLGridBozInrp:hover .__rluLGridBozImg img {
	max-width: 120%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}  
.__rluLGdrps{
	padding: 0 15px;
	margin-bottom: 15px;
	
} 
.__rluLGdrps img.__brnd{
	width: 47px;
	height: 47px;
	object-fit: cover;
	border: #ccc 2px solid;
	border-radius: 50px;
}
 
.__rluLGdrps h5{
	font-size: 16px;
	font-weight: 600;
	color: #404040;
	margin-bottom: 4px;
}

.__rluLGdrps h5 a{ 
	color: #404040;
}

.__starRate {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.___staricon{
	color: #7A5C66; 
}

.___staricon a{
	color: #7A5C66; 
}
.__starRate span{
	
}
.__starRtvlu {
    font-weight: bold;
    color: #7A5C66;
    line-height: 22px;
    padding-left: 10px;
}

.__rluLGdrps .d-flex{
	
    border-bottom: #ccc 1px solid;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.__liloctnWrp{
	padding: 2px 15px !important;
	margin: 0 0 !important;
	border: none !important;
	font-family: 'Open Sans', sans-serif;
}

.__liloctnWrp a {
	font-weight: bold;
	color: #8A8A8A;
	transition: all 1s;
}

.__liloctnWrp a:hover {
	color: #000;
	transition: all 1s;
}

.__liloctnWrp .flex-shrink-0,
.__licallWrp .flex-shrink-0{
	min-width: 25px;
}

.__ListBnt{
	font-weight: bold;
	background: #7A5C66;
	border-radius: 7px; 
	padding: 8px 0;
	text-align: center;
	color: #fff;
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	transition: all 1s;
}
.__ListBnt:hover{
	transition: all 1s;
	color: #fff;
	background: #92b8c0;
}


.__wishliico {
    background: #7a5c66;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 15px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 4px;
    border-radius: 50%;
    border: #fff 2px solid;
    margin-top: -30px;
    z-index: 10000;
    cursor: pointer;
}


 



.__b2svSlir{
	padding: 0 15px;
}


.inside_box {
    overflow: hidden;
    position: relative;
}

.__evpllWp{
  
	 
}

.__evpllbwzWp{
	padding-top: 25px;
	border-top: #D4D4D4 1px solid;
	display: flex;
    justify-content: space-between;
	
}



.__evpLewd{
	display: block;
    width: 100%;
	padding-right: 50px;
}
.__evp_tabwp{ }


.__evp_tabwp .nav-tabs {
    border-bottom: none;
}
.__evp_tabwp .nav-link {
	 color: #404040;
	font-size: 17px;
	font-weight: 600;
	border-bottom: #fff 1px solid;
	padding-left: 3px;
	padding-right: 20px;	
}
 
 
.__evp_tabwp .nav-tabs .nav-link:hover, 
.__evp_tabwp .nav-tabs .nav-link:focus,
.__evp_tabwp .nav-tabs .nav-link.active,
.__evp_tabwp .nav-tabs .nav-item.show .nav-link {
	 color: #404040;
    background-color: #fff;
	border: #fff 1px solid !important;
    border-bottom: var(--color-secondary) 2px solid !important;
}


.__evp_tabwp .nav-link.active {
	border-bottom: var(--color-secondary) 1px solid;
}
 
.__evpabcotWboz{
	margin-top: 30px;
}

.__evpabbzinfo { 
	margin-bottom: 30px;
}

.__evpabbzinfo h4{
	font-size: 18px; 
	color: #404040;
    margin-bottom: 5px;
}

.__epd_wishliico {
    background: #7a5c66;
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    border-radius: 50%;
    border: #7a5c66 1px solid;
    cursor: pointer;
	display: inline-block;
	transition: all .5s;
}

.__epd_wishliico:hover {
	transition: all .5s;
	color: #7a5c66;
	background: #fff;
	border: #7a5c66 1px solid; 
}

.__epdloction {
	color: #404040;
}
.__epdsAbout{
	color: #707070;
	font-family: 'Open Sans', sans-serif;
}
.__epdsAbout h2 {
	color: #404040;
	font-size: 16px;
	
}

 

.__epdsDetails{}
.__epdsDetails h3{
	color: #404040;
	font-size: 16px;
}


.__epdsAwardAffi{
	margin-top: 30px;
	max-width: 60%;
	width: auto;
}

.__eplaliboz{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.__epdsAwardAffi h3{
	color: #404040;
	font-size: 18px;
	margin-bottom: 30px;
}


.__eplaliboz img{
	width: 80px;
	height: 80px;
	object-fit: cover;
}



.__rateExperience{
	margin-top: 30px;
	margin-bottom: 30px;
}

.__rateExperience h2{
	color: #404040;
	font-size: 18px;
	margin-bottom: 20px;
}


.__rateExperience .___staricon {
	font-size: 18px;
}

.__write_review{
	margin-top: 15px;
}

.__write_review .form-control{
    min-height: 42px;
	border: #E1E1E1 1px solid;
	border-radius: 7px;
}
 
.__write_review .btn {
	font-weight: bold;
	padding: 10px 25px;
}


.form-label{
	font-weight: bold;
}


.__wrirewInfo{
	margin: 25px 0; 
}
.__wrirewInfo img{
	width: 52px;
	height: 52px;
	object-fit: cover;
}
.__wrirewInfo .__dcrpgltetr h6{
	font-size: 16px;
	margin-bottom: 3px;
	
}
.__wrirewInfo .__dcrpgltetr{
	font-size: 12px;
	font-weight: 500;
}

.__acv{
	font-size: 15px;
}

.___rulreviewWrp{
	display: flex;
	flex-direction: column;

}
.__rulreview{
	min-width: auto;
    max-width: 500px;
    width: auto;
    margin: 15px 0;
}

.__rulreview_bl2{
	margin-left: 50px;
	 max-width: 500px;
	background: #F0F5F6;
	padding: 20px;
	padding-bottom: 10px;
	color: #707070;
	border-radius: 7px;
}

.__rulreview_bl2 h5{
	font-size: 16px;
	color: #404040;

}


/*Lightzb*/

.__ptolibzWr{}

.gallery {
    display: flex;
    flex-wrap: wrap;
/*    border: 10px solid #fff;*/
    width: calc(100% - 0px);
    margin: 20px auto 0;
}

.gallery a {
    display: block;
    text-decoration: none;
    width: 25%;
    overflow: hidden;
    outline: none;
	
	 
}

.gallery a img {
    height: 100%;
    transform: scale(1,1);
    transition: all 300ms ease;
	border: #fff 1px solid; 

}

.gallery a img:hover {
    transform: scale(1.1,1.1);
}

 

.bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    transform: scale(1,1);
    transition: all 300ms ease;
	border: #fff 1px solid;
}

.bg:hover {
    transform: scale(1.1,1.1);
}

@media(max-width: 991px) {
 	.gallery a {
		width: 50%;
	} 
}

@media(max-width: 767px) {

	.gallery a {
		width: 100%;
	}

	.bg {
		height: 300px;
	} 
}

/*Lightzb*/


.__evpDetailsWrp{
	margin: 20px 0; 
}

.__evpDetailsbz{
	margin-bottom: 20px;
    background: #e0eaec;
    padding: 15px;
	padding-bottom: 5px;
    border-radius: 7px;
	
} 
.__evpDetailsbz h4{
	font-size: 16px;
	
}

.__epd_contact{
	padding: 20px 0; 
}
  
.__epd_contact h3{ 
	font-size: 18px; 
}

.__epd_contact_boz .__liloctnWrp {
    padding-left: 0px !important;
}
.__epd_contact_boz {
    background: #e0eaec;
    padding: 25px;
    border-radius: 7px;
	color: #000;
}
.__epd_contact_boz a {
	color: #000;
	font-weight: 500;
}

.__epdteamWrp{
	margin: 25px 0; 
}
 
.__epd_contact_froBz {
    padding: 25px;
    border-radius: 7px;
    background: #e0eaec;
    padding-bottom: 5px;
}
.__teaminfoBz{
	margin-bottom: 15px;
	text-align: center;
}

.__teaminfoBz img{
	min-height: 150px;
	max-height: 150px;
	object-fit: cover;
	border-radius: 5px;
}
.__teaminfoBz h6{
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	margin: 7px 0; 
}


.__evpRtewgt {
    min-width: 330px;
    max-width: 330px; 
}
.__evpRtewgtInfoB{
	background: #E8F0F2;
	border-radius: 7px;
	padding: 25px;
}

.__bntCpry,
.__bntCscy{ 
	font-weight: bold;  
    border-radius: 7px;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    transition: all 1s; 
} 

.__bntCscy{
	background: #92B8C0;
	border: #92B8C0 2px solid;
}

.__bntCscy:hover { 
    background: #fff; 
    color: #92B8C0; 
    transition: all 1s;
	border: #92B8C0 2px solid;
}

.__bntCpry{
	background:  var(--color-secondary);
	border: var(--color-secondary) 2px solid;
}

.__bntCpry:hover {
	background: #fff; 
    color: var(--color-secondary); 
	border: var(--color-secondary) 2px solid;
    transition: all 1s;
}

.__evpRtewgtInfo2Sx {
	margin: 15px 0;
}
 
.__evpRtewgtInfo2Sx {
	padding: 25px;
	background: #fff;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 13%);
    -moz-box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 13%);
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 13%);
}

.__evpRtewgtInfo2Sx .__rluLGdrps{
	padding: 0;
	margin-bottom: 5px;
}

.__evpRtewgtInfo2social{
	margin-top: 0px;
	margin-left: 36px;
}
.__evpRtewgtInfo2social._social_icons_top i {
     width: 25px;
    height: 25px; 
    padding-top: 6px;
    margin-right: 4px; 
    font-size: 14px;
}

 

.__sendrfqPop {
	font-family: var(--font_open_sans);	
	}
.__sendrfqPop h5{
	font-size: 16px;
	color: #7A5C66;
}

.__sendrfqPop .modal-body {
	padding: 0 5%;
}

.__sendrfqPop .modal-header{
	border-bottom: none;
}

.__sendrfqPop .modal-footer{
	border-top: none;
	padding-bottom: 20px;
	padding-left: 5%;
	padding-right: 5%;
}


.__sendrfqPop .form-select,
.__sendrfqPop .form-control{
	min-height: 50px;
}
.__sendrfqPop .form-label{
	color: #7A5C66;
}
.__sendrfqPop .form-check-label{
	font-weight: 600;
}
.__sendrfqPop .form-check-input {
    width: 20px;
    height: 20px;
	 
    margin-right: 5px;
}




.__anermoreQs{
    padding: 12px 20px;
    font-weight: bold;
	border-radius: 7px;
}

.__outlinbnt{
	border-radius: 7px;
	padding: 12px 20px;
    font-weight: bold;
	background: #fff;
	color: var(--color-secondary);
	border:  var(--color-secondary) 1px solid;
}

.__blogWpPg{
	min-height: 400px;
}
.__blogWpPg h6{
	color: #fff;
	font-size: 20px;
}
.breadcrumb_wrap { }
  
.__blog_wrp{
	padding: 65px 0;
}

.__blog_wrp h2 {
	text-align: center;
	font-size: 45px;
	color: var(--color-secondary);
} 

.__blog_tabwp {
	
}

.__blgtbbz{
	
} 

.__blgtbbz img {
	min-height: 300px;
	max-height: 300px;
	object-fit: cover;
	
}


.__blgtbbz h5 {
    margin-top: -5px;
    background: #fff;
    padding: 14px 20px;
    text-align: center;
    color: var(--color-secondary);
    -webkit-box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 16%);
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 16%);
    position: relative;
    width: 95%;
    margin: -19px auto 0;
    border-radius: 7px;
    font-size: 17px;
	transition: all .5s;
}

.__blgtbbz:hover h5{
	transition: all .5s;
	background: var(--color-secondary);
	color: #fff;
} 
.__blog_tabwp .nav-tabs .nav-link{
	width: 25%;
	border: none;
}

.__blog_tabwp .nav-tabs {
	border: none; 
}
.__forgotPass{
	color: #777;
    margin: 5px 0 16px;
    float: right;
    font-weight: 600;
}
.__forgotPass:hover{
	color: var(--color-secondary);
}



.jconfirm .jconfirm-box.jconfirm-type-green {
    border-top: solid 7px #7a5c66 !important;
}

.jc-bs3-container .jconfirm-type-green {
    border-top: solid 7px var(--color-secondary) !important;
} 

.jc-bs3-container .btn-secondary { 
    float: right;
}




















@media (max-width: 1199px) {
	.__bnr_txtfxd h5 {
		font-size: 45px;
	}
	.__brtabbz .nav.nav-tabs .nav-link {
		font-size: 13px;
	}
	.menu_wrap {
		font-size: 12px;
	}
}

@media (max-width: 991px) {
	
	.__epdsAwardAffi { 
		max-width: 100%;
		width: 100%;
	}
	.__evpRtewgt {
		min-width: 260px;
		max-width: 260px;
	}
	.__evpLewd {
		padding-right: 20px;
	}
	.__eplaliboz img {
		width: 60px;
		height: 60px; 
	}
	.__teaminfoBz img {
		min-height: 100px;
		max-height: 100px;
	}
	
	 
	
	
	.ft_menu,
	.__ftinstagram {
		margin-bottom: 25px;
	}
	._social_icons_top {
		margin-top: 15px;
		margin-bottom: 35px;
	}
	.menu_wrap ul li a {
		padding: 20px 5px 20px !important;
	}
	.__brtabbz .nav.nav-tabs .nav-link {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 5px;
		flex-direction: column;
	}
	.__brtabbz .nav.nav-tabs .nav-link .__icon {
		width: 30px;
		height: 30px;
		margin-right: 0;
		margin-bottom: 5px;
	}
	.__slrp {
		padding: 15px;
	}
	.__bxzsr {
		flex: 0 0 auto;
		width: 50%;
		margin-bottom: 30px;
	}
	.__fr2bk h2 {
		font-size: 25px;
	}
	.__fr2bk h3 {
		font-size: 35px;
	}
	.__srcfld {
		padding: 0;
		width: 130px;
		display: flex;
		align-items: center;
	}
	.__tfdsyl {
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	.__rulreview_bl2 {
    	margin-left: 5%;
	}
	.__eplaliboz {
		 
		margin-right: 0; 
		width: 33.333%;
		text-align: center;
	}
	
	.__evpRtewgt {
		min-width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
	}
	.__evpllbwzWp {
	 	display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	
	.__inrFlterWrp .__inrFlrbz{
		margin-bottom: 15px;
	}
	
	
	
	
	
	
	.pay_icon {
		float: right;
	}
	.__bxzsr {
		width: 100%;
	}
	.__srfilsctm {
		flex: 100%;
		margin-bottom: 10px;
	}
	.__srcfld {
		padding: 0 15px;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.__brtabbz {
		position: relative;
		width: 100%;
		bottom: 0;
	}
	.__banner .carousel-item img {
		height: 290px;
	}
	.__bnrbtmscrwrp {
		background: #7e5c66;
		padding: 25px 0;
	}
	.__bnr_txtfxd h5 {
		font-size: 25px;
		line-height: 35px;
	}
	.__bnr_txtfxd {
		text-align: left;
		font-size: 14px;
	}
	.__brtabbz .nav.nav-tabs .nav-link {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 5px;
		flex-direction: column;
		width: 113px;
	}
	.__brtabbz .nav.nav-tabs {
		display: -webkit-box;
		flex-wrap: nowrap;
		justify-content: space-between;
		border: none;
		overflow: scroll;
		margin-bottom: 3px;
	}
	.__brtabbz .tab-content {
		padding: 15px 15px;
	}
}

@media (max-width: 576px) {}