@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


:root {
	--color-primary: #92B8C0;
	--color-secondary: #7a5c66;
	--open_sans: 'Open Sans', sans-serif;
}

.__open_sans {
	font-family: var(--open_sans);
}
.wd100 {
	width: 100%;
	float: left;
}


.aside-left .svg-icon.menu-icon,
.__micoctm {

	width: 30px;
	height: 30px;
}

.aside-left .svg-icon svg,
.__micoctm img {
	display: none;
	margin-right: 10px;
	width: 100% !important;
	height: 30px !important;
}

.aside-fixed.aside-minimize .svg-icon svg {
	display: block;
}


.header-fixed.header-mobile-fixed.aside-minimize .__micoctm img {
	display: block;
}

.aside-menu .menu-item.menu-item-active .svg-icon svg,
.aside-menu .menu-nav > .menu-item > .menu-link:hover .svg-icon svg{
	display: block;
}



.menu-item:hover .__micoctm img,
.menu-item.menu-item-active .__micoctm img {
	display: block;
}
.aside-menu .menu-nav > .menu-item {
	margin-left: 10%;
}


.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link,
.aside-menu .menu-nav > .menu-item > .menu-link {
	-webkit-border-top-left-radius: 35px;
	-webkit-border-bottom-left-radius: 35px;
	-moz-border-radius-topleft: 35px;
	-moz-border-radius-bottomleft: 35px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}
.aside-menu .menu-nav > .menu-item > .menu-link {
	padding: 9px 15px;
}
.__headerCmMen .menu-nav > .menu-item > .menu-link .menu-text {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold !important;
}
.__headerCmMen .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link .menu-text {
	font-size: 13px;
}
.__headerCmMen {
	padding-left: 25px;
}
.header-fixed.subheader-fixed .subheader {
	border-top: none;
	/* -webkit-box-shadow: none;
    box-shadow: none; */
}
.__cubrgome img {
	width: 32px;
}
.__noftiico {
	background: #E8E8E8 !important;
	border-radius: 30px;
}
.__noftiico i {
	font-size: 25px !important;
	color: var(--color-secondary) !important;
}
.card.card-custom {
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}
.container-fluid {
	padding: 0 35px;
}
.card {
	border-radius: 7px;
}
.__mainblk {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.__mainblk .__textLebs {
	text-align: center
}
.__mainblk .card {
	background: var(--color-primary);
	color: #fff;
}
.__mainblk .__textLebs {
	color: #fff;
	transition: all .5s;
}
.__mainblk .card.__active,
.__mainblk .card:hover {
	color: #fff;
	background: var(--color-secondary);
}
.__maintexhd {
	color: var(--color-secondary);
}
.__maintexhd .font-weight-bold {
	font-weight: 600 !important;
}
.__sublk {
	margin-top: 35px;
}
.__sublk .card-body {
	padding: 15px 20px !important;
}
.__textCotr {
	color: var(--color-secondary);
	transition: all 0.5s;
}
.__textLebs {
	color: #404040;
	transition: all 0.5s;
}
.__textLebs a {
	color: #404040;
	transition: all 0.5s;
}

.__sublk .card {
	transition: all 0.5s;
}
.__sublk .card.__active .__textLebs,
.__sublk .card.__active .__textCotr,
.__sublk .card:hover .__textLebs,
.__sublk .card:hover .__textLebs a,
.__sublk .card:hover .__textCotr {
	color: #fff;
	transition: all 0.5s;
}
.__sublk .card.__active,
.__sublk .card:hover {
	color: #fff;
	background: var(--color-secondary);
}

/*////////////////////*/

.__ledBlkWrp {
	margin-top: 50px;
	margin-bottom: 50px;
}
.__ledBlk {
	margin-bottom: 30px;
}
.__ledBlkInr {
	padding: 3px;
	border: #B9B9B9 1px solid;
	transition: all 0.5s;
}
.__ledBlkInr:hover {
	transition: all 0.5s;
	border: var(--color-secondary) 1px solid;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}
.__ledBlkImg img {
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	object-fit: cover;
}
.__ledBlkDicp {
	padding: 15px;
	position: relative;
	min-height: 97px;
}
.__ledBlkDicp a {
	color: #404040;
}
.__ledBlkDicp h4 {
	font-size: 16px;
	font-weight: 600;
	color: #404040;
}
.__ledBlkDicp h5 {
	font-size: 13px;
	color: #8A8A8A;
	font-family: var(--open_sans);
}
.__ledBlkDicp h6 {
	font-size: 13px;
	color: #8A8A8A;
	font-family: var(--open_sans);
}
.__ledBlkBtn {
	display: flex;
	justify-content: flex-end;
	padding: 10px 15px;
	padding-top: 0;
}
.__ldBBtn {
	background: var(--color-primary);
	border-radius: 7px;
	text-align: center;
	margin-left: 5px;
	width: 35px;
	height: 30px;
	padding-top: 3px;
}
.__ldBBtn:hover {
	background: var(--color-secondary);
}
.__ldBBtn img {
	width: 18px;
}

/*/////////////*/

.__lddelbk {}
.__lddelbkImg img {
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	object-fit: cover;
}
.__lddelbk h3 {
	color: #8A8A8A;
}
.checkbox.checkbox-outline > span {
	border-color: #8A8A8A;
}
.checkbox.checkbox-outline > input:checked ~ span:after {
	border-color: #7a5c66;
}
.checkbox.checkbox-outline > input:checked ~ span {
	border-color: #7a5c66;
}
.checkbox.checkbox-outline > input:focus ~ span {
	background-color: transparent;
	border-color: #8A8A8A;
}

/*/////////////*/

.footer {
	font-size: 14px;
	font-weight: 600;
	font-family: var(--open_sans);
}
.__lddelbk .form-group label {
	font-weight: 600;
}
.__lddelbk .form-control {
	color: #000;
	border: #8A8A8A 1px solid;

}
.__lddelbk .form-control::-webkit-input-placeholder {
	color: #000;
}
.__lddelbk .form-control::-moz-placeholder {
	color: #000;
}
.__lddelbk .form-control:-ms-input-placeholder {
	color: #000;
}
.noUi-target .noUi-connect {
	background: var(--color-secondary);
}
.noUi-handle {
	border: 1px solid #3e282f;
	border-radius: 3px;
	background: var(--color-secondary);
}
.noUi-tooltip {
	font-family: var(--open_sans);
	border: 1px solid #3e2d32;
	border-radius: 3px;
	background: #7a5c66;
	color: #fff;
	padding: 3px 5px;
}
.__lddelbk_REblk {}
.__ldDPg_actBzInrp,
.__ldde_REblk {
	border-radius: 7px;
	padding: 15px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}

/************************/

.__REbntGrid {
	padding: 0 10px;
	margin-top: 20px;
}
.__REbnt {
	padding: 0 7px;
	margin-bottom: 15px;
}
.__REbntboz {

	padding: 10px;
	border-radius: 7px;
	min-height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-secondary);
	font-family: var(--open_sans);
}

.tooltip{
	font-family: var(--open_sans);
}
.__REbntboz:hover {
	background: var(--color-primary);
}
.__REbntboz i{
	font-size: 45px;
	color: #fff;
	line-height: 0;
}
.__REbntboz img{
	max-width: 100%;
}

/***********************/

.__ldDPg_actBz {}
.__ldDPg_actBzInrp {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    min-height: 310px;
    height: 90%;
    align-content: flex-start;
}
.__inrldBBtn {
	padding: 15px;
	border-radius: 7px;
	background: var(--color-secondary);
	margin: 0 0px 15px;
	display: flex;
	height: 62px;
	width: 30%;
	text-align: center;
	justify-content: center;
}
.__inrldBBtn:hover {
	background: var(--color-primary);
}
.__inrldBBtn img {
	width: 25px;
}
.pulse.pulse-primary .pulse-ring {
	border-color: var(--color-secondary);
}
.__notification_number {
	position: absolute;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: var(--color-secondary);
	top: 0;
	text-align: center;
	color: #fff;
	right: -9px;
	z-index: 999999;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
}
.__searchWpIcs {
	background: #e7e7e7 !important;
	border-radius: 30px;
}
.__search_drop {
	border: #7a5c6678 1px solid;
}
.__userUltxt {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	line-height: 17px;
}
.__userUltxt_wlc {}
.__userUltxt_wlcNme {
	font-size: 15px;
}
.__UserWrp {
	border-left: #D6D6D6 1px solid;
	padding-left: 10px;
	margin-left: 10px;
}
.__UserWrp .symbol .symbol-label {
	border-radius: 50% !important;
}
.__cmFltTp .form-control {}
.checkbox,
.form-label {
	font-weight: 600;
}
.__noticotr {
	position: absolute;
	right: 10px;
	display: flex;
	top: -10px;
}
.__reddboll,
.__yolboll {
	font-size: 12px;
	margin-left: 7px;
	color: #fff;
	width: 18px;
	height: 18px;
	text-align: center;
	padding-top: 7px;
	line-height: 0px;
	border-radius: 50%;
	/*	cursor: pointer;*/
}
.__yolboll {
	background: #fcc599;
}
.__reddboll {
	background: #ef4356;
}
.__create_eventBtn {
	font-size: 18px;
	padding: 15px 45px;
	font-weight: 500;
}
.__topSwitch {
	margin-bottom: 15px;
}
.__topSwitchBtn .btn.dropdown-toggle {
	font-weight: bold;
	padding: 10px 30px;
}
.__subbnrWrp {
	margin-bottom: 30px;
}
.__subbnrTxpt {
	width: 40%;
	background: var(--color-secondary);
	text-align: center;
	color: #fff;
	font-family: var(--open_sans);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.__subbnrTxpt h2 {
	font-size: 25px;
	margin-bottom: 10px;
}
.__subbnrTxpt h3 {
	font-size: 20px;
	margin-bottom: 10px;
}
.__subbnrTxpt h4 {
	font-size: 18px;
	margin-bottom: 5px;
}
.__subbnrTxpt h5 {
	font-size: 25px;
	font-weight: 600;
}
.__subbnrImgpt {
	background-color: #ececec;
	min-height: 275px;
	max-height: 275px;
	object-fit: cover;
	width: 100%;
	display: block;
}
.__tpExpBtnWrp {
	margin-bottom: 25px;
}
.__tpExpBtnWrp .btn {
	margin-left: 15px;
}
.__bozflddrp .form-control {
	border: 1px solid var(--color-secondary);
	padding: 4px 7px;
	height: auto;
}
.__srvBzbk {
	background: #f6f6f8;
	padding: 20px 15px;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	transition: all 0.5s;
}
.__srvBzbk h5 {
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	color: #000;
	transition: all 0.5s;
}
.__sbkIcon i {
	transition: all 0.5s;
	font-size: 50px;
	color: var(--color-secondary);
}

.__srvBzbk.active ,
.__srvBzbk:hover {
	transition: all 0.5s;
	background: var(--color-primary);
}

.__srvBzbk.active  .__sbkIcon i,
.__srvBzbk.active h5,
.__srvBzbk:hover h5,
.__srvBzbk:hover .__sbkIcon i {
	color: #fff;
	transition: all 0.5s;
}
.__enrtTabwgt {}
.nav.nav-pills .nav-item .nav-link{
	white-space: nowrap;
}
.__enrtTabwgt .nav.nav-pills .nav-item .nav-link {
	background: var(--color-primary);
	color: #fff;
	justify-content: center;
	font-weight: 600;
	font-size: 13px;
	padding-left: 5px;
    padding-right: 5px;
}
.__enrtTabwgt .nav.nav-pills .show > .nav-link,
.__enrtTabwgt .nav.nav-pills .nav-link.active {
	background: var(--color-secondary);
	color: #fff;
}
.__enrtTabwgt .nav.nav-pills .nav-item {
	margin-right: 0;
	padding-right: 0.25rem;
	width: 33%;
}
.__enrtTabwgt .card-header {
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0 15px;
	border-bottom: none;
	min-height: auto !important;
}
.__enrtTabwgt .card-header .card-toolbar {
	padding: 0;
	margin: 0 !important;
}
.__enrtTabwgt .card-body {
	padding: 0px 0px !important;
}
.font_size_18 {
	font-size: 18px;
}
.__taurpic img {
	border-radius: 50% !important;
	height: 50px !important;
}
.__rtUrclibz {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px 15px;
	transition: all 0.5s;
}
.__rtUrclibz:hover {
	transition: all 0.5s;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}
.__wrRsutVw {
	border-radius: 7px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}
.__wrRsutVw ol {
	margin: 15px 15px;
	padding: 0;
	font-size: 15px;
	font-weight: 500;
	font-family: var(--open_sans);
}
.__wrRsutVw ol li {
	margin-bottom: 16px;
	color: #000;
}
.__wrRsutVw ol li a {
	color: #000;
}
.__wrRsutVw ol li a:hover {
	color: var(--color-primary);
}
.__vndrCots {
	margin-bottom: 20px;
}
.__vndrCotsBoz {
	padding: 15px 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: #dedede 1px dashed
}
.__vndrCotsBoz img {
	width: 65px;
	height: 65px;
	object-fit: cover;
	border-radius: 50%;
}
.__vndrCotsBoz h5 a {
	color: #000;
}
.__vclink {
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	font-family: var(--open_sans);
}
.__vclink a {
	color: #8a8a8a;
	font-weight: 600;
}
.__vclink a:hover {
	color: #000;
}
.__vclink i {
	display: flex;
	color: var(--color-secondary);
	margin-right: 5px;
	min-width: 20px;
	font-size: 14px;
}
.__vndrHomeOhr {}
.__vndrHomeOhr {}
.__vndrHomeOhr.__sublk .card.__active,
.__vndrHomeOhr.__sublk .card:hover {
	color: #fff;
	background: var(--color-primary);
}
.__ppserch {
	border: #ccc 1px solid;
	border-radius: 7px;
	min-width: 410px;
}
.__vtrTpBtnWrp {
	padding: 0 5px;
	justify-content: space-between;
}
.__vrttbtn {
	width: 100%;
	padding: 20px 15px;
	text-align: center;
	background: #fff;
	font-weight: bold;
	color: var(--color-secondary);
	border-radius: 7px;
	margin-right: 7px;
	margin-left: 7px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.__shadow30 {
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}
.__vrttbtn:hover,
.__vrttbtn:focus,
.__vrttbtn.active {
	color: #fff;
	background: var(--color-secondary);
}
.__vtrSrBz {
	margin-top: 45px;
	margin-bottom: 25px;
}
.__vtrSrBzInr {
	border-radius: 7px;
	padding: 20px;
	margin-bottom: 25px;
	border: #8A8A8A 1px solid;
	transition: all .5s;
}
.__vtrSrBzInr:hover {
	transition: all .5s;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
}
.__vtrSrBzInr .form-control {
	border: #8A8A8A 1px solid;
	color: #000;
}
.__vtrSrBzInr .form-control::-webkit-input-placeholder {
	color: #000;
}
.__vtrSrBzInr .form-control::-moz-placeholder {
	color: #000;
}
.__vtrSrBzInr .form-control:-ms-input-placeholder {
	color: #000;
}
.__LprtBoz .form-control:-moz-placeholder,
.has-search .form-control:-moz-placeholder,
.__sqmfld .form-control:-moz-placeholder {
	color: #fff;
}
.__vtrSrBzInr .__vndrCotsBoz {
	margin: 00 0 20px;
	border: none;
	padding: 0px;
}
.__vtrSrBzInr h6 {
	color: var(--color-secondary);
	font-weight: 600;
}
.__fontWtbld {
	font-weight: 600;
}
.__PropsInrBnt {
	text-align: center;
	padding: 12px;
	width: 80%;
	font-size: 16px;
	font-weight: 600 !important;
	background: #F4F4F4;
	color: var(--color-secondary);
}
.__vtrSrBzInr:hover .__PropsInrBnt,
.__PropsInrBnt:hover {
	color: #fff;
	background: var(--color-secondary);
}
.__proslAddWrp {
	margin-top: 25px;
	margin-bottom: 25px;
}
.__proslAddWrp .form-control {
	border: #8A8A8A 1px solid;
}
.__cutmSwitch .switch input:empty ~ span:before {
	width: 100px;
}
.__cutmSwitch .switch input:checked ~ span:after {
	margin-left: 71px;
}
.__scopeWorkWrp {
	margin-bottom: 60px;
}
.__scopeWorkHdprt {
	margin-bottom: 20px;
}
.form-control{
	padding: 5px 10px
}
.form-control,
.datetimepicker-input,
.__terAgntWrpBz,
.__scopeWorkTbvw {
	font-family: var(--open_sans);
}
.__scpTbImg {}
.__scpTbImg img {
	width: 80px;
	height: 65px;
	border: #707070 1px solid;
	object-fit: cover;
}
.__scopeWorkTbvw th,
.__scopeWorkTbvw td {
	vertical-align: middle !important;
	border-bottom: #8A8A8A 1px solid;
	padding: 5px;

}
.__scopeWorkTbvw .table {
 	border-bottom: #8A8A8A 1px solid;
}
.__terAgntWrp {
	margin-bottom: 60px;
}
.__terAgntWrpBz {
	padding: 20px;
	padding-bottom: 10px;
	border: #8A8A8A 1px solid;
	color: #000;
}
.__terAgntWrpBz {
	font-size: 16px;
}
.__drliNew{
	margin-bottom: 15px;
}
.__terAgntWrpBz ol {
	margin: 00;
	padding: 0 15px;
}
.__terAgntWrpBz li {
	margin-bottom: 15px;
}
.__addscpWrkPg {}

.__evmTpBr{
	margin-top: 25px;
}

.__evmTpBr .row {
	display: flex;
    align-items: center;
    justify-content: center;
}


.__secondary_drop{
	background: var(--color-secondary);
	color: #fff;
}
.__secondary_drop.form-control:focus {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    outline: 0;
}

.__primary_drop{
	background: var(--color-primary);
	color: #fff;
}
.__primary_drop.form-control:focus {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-secondary);
    outline: 0;
}


.__eBk{
	margin-bottom: 35px;
}

.__minTilbz h2,
.__eBk h2{
	color: var(--color-primary);
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
}

.__cateringBozAdd{
    width: 100%;
    height: 170px;
    height: 100%;
    padding-top: 0;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: #92b8c8 1px dashed;
    border-radius: 10px;
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 22%);
    -moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 22%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 22%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    line-height: 24px;
    font-weight: 600;
    color: #92b8c8;

}
.__cateringBozAdd i {
    font-size: 55px;
    color: #92b8c0;
    transition: all .5s;
}


.__cateringBozAdd:hover{
	color:#7a5c66;
	transition: all .5s;
	border: #7a5c66 1px dashed;

}
.__cateringBozAdd:hover i {
	color:#7a5c66;
	transition: all .5s;
}


.__djs{}

.__eBkBz{
	overflow: hidden;
	/* -webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; */
	background: #fff;
	transition: all .5s;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
	/* margin-bottom: 25px; */
	border-radius: 10px;
}

.__eBkBzImg img{
	width: 100%;
    min-height: 170px;
    max-height: 170px;
	object-fit: cover;
}

.__eBkBz h5 {
	font-weight: bold;
	color: #000;
	margin-bottom: 15px;
	font-size: 17px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.__eBkBz h5 a {
	color: #000;
}

.__drosmllboz{}

.__eBkBzDrop {
    max-width: 250px;
    margin: 0 auto 10px;
}
.__eBkBzDrop .form-control {
  height: auto;
  padding: 4px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 14px;
}

.__eBkBzDrop.__bth50 {
  display: flex;
}

.__eBkBzDrop.__bth50 .btn ,
.__eBkBzDrop.__bth50 .__bntWhts {

  display: flex;
  align-items: center;
  justify-content: center;
}
.__eBkBzDrop.__bth50 .btn{
  font-weight: 600;
  font-size: 12px;
  color: #fff !important;
  width: 100%;
}

.__eBkBzDrop.__bth50 .btn a {
  color: #fff;
}

.__eBkBzDrop.__bth50 .__bntWhts {
  min-width: 45px
}

.__bntWhts {
  background: #4caf50;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__bntWhts img{
  width: 20px;
}


.__bth50vewlrqt {
    display: flex;
}

.__bth50vewlrqt.__bth50 .btn{
  min-width: 50%;
}





/*==========*/
.__drosml_Awaiting.form-control{
	background: #faedee;
	color: #000;
	border: var(--color-secondary) 1px solid;
}
.__drosml_Awaiting.form-control:focus {
    color: #000;
    background-color: #faedee;
    border-color: var(--color-secondary);
    outline: 0;
}


.__drosml_Received.form-control{
	background: #f6f6f8;
	color:var(--color-secondary);
	border: #f6f6f8 1px solid;
}
.__drosml_Received.form-control:focus {
    color: var(--color-secondary);
    background-color: #f6f6f8;
    border-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.__drosml_w8_signed.form-control{
	background: var(--color-primary);
	color:#fff;
	border: 1px solid var(--color-primary);
}
.__drosml_w8_signed.form-control:focus {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}


/*============*/

.__florist{	}

.__eventPlanner{ }
.__bandPerformcs{}
.__venueBcd{}
.__cateringcd{}



.__evBozBtmBtNwrp {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 15px;
}

.__evBozBtmBtNwrp .btn-light::focus,
.__evBozBtmBtNwrp .btn-light:hover,
.__evBozBtmBtNwrp .btn-light{
	color: var(--color-secondary);
}
.__evBozBtmBtNwrp .btn-sm{
	padding: 6px 10px;
	border-radius:7px;
}

.__Photographerbk{}

.__rstsumry {
	font-family: var(--open_sans);
	color: #000;
	font-weight: 500;
	margin-bottom: 15px;
}
.__sentReminder{}
.__eBkBzDrsecAct {
    max-width: 250px;
    margin: 0 auto 10px;
}

/*=========*/
.__eBkBzDrsecAct .form-control {
    height: auto;
    padding: 4px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
}


.__sentReminder.form-control{
	background: var(--color-secondary);
	color:#fff;
	border: 1px solid var(--color-secondary);
}
.__sentReminder.form-control:focus {
    color: #fff;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}


.__ApprovedDrBd.form-control{
	background:#62c085;
	color:#fff;
	border: 1px solid #62c085;
}
.__ApprovedDrBd.form-control:focus {
    color: #fff;
    background-color: #62c085;
    border-color:#62c085;
}

.__RejectedDrBd.form-control{
	background:#ef445d;
	color:#fff;
	border: 1px solid #ef445d;
}
.__RejectedDrBd.form-control:focus {
    color: #fff;
    background-color: #ef445d;
    border-color:#ef445d;
}

.__advancedOptcPl {
    background: #fff;
  	border-radius: 15px;
    padding: 15px 15px 0;

	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 25%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 25%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 25%);
}

.__enFrInBk .row{
	display: flex;
    align-items: inherit;
    justify-content: inherit;
}



/*+++++++++++++++++=======*/

._evBozLigrV {
	margin: 30px 0;
}
.__subrelttxt{
	color: #7A5C66;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
}

.__rluLGrid{}


.__rluLGridBoz{
	padding: 0 15px;
}
.__rluLGridBozInrp {
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 25px;
    background: #fff;
	position: relative;
	-webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
}

.__rluLGridBozImg{
	overflow: hidden;
	margin-bottom: 15px;

}


.__rluLGridBozImg img {
    width: 100%;
    height: 216px;
    object-fit: cover;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.__rluLGridBozInrp:hover .__rluLGridBozImg img {
	max-width: 120%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.__rluLGdrps{
	padding: 0 15px;
	margin-bottom: 15px;

}
.__rluLGdrps img.__brnd{
	width: 47px;
	height: 47px;
	object-fit: cover;
	border: #ccc 2px solid;
	border-radius: 50px;
}

.__rluLGdrps h5{
	font-size: 16px;
	font-weight: 600;
	color: #404040;
	margin-bottom: 4px;
}

.__rluLGdrps h5 a{
	color: #404040;
}

.__starRate {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.___staricon i{
	color: #7A5C66;
	font-size: 14px;
}

.___staricon a{
	color: #7A5C66;
}
.__starRate span{

}
.__starRtvlu {
    font-weight: bold;
    color: #7A5C66;
    line-height: 22px;
    padding-left: 10px;
}

.__rluLGdrps .d-flex{

    border-bottom: #ccc 1px solid;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.__liloctnWrp{
	padding: 2px 15px !important;
	margin: 0 0 !important;
	border: none !important;
	font-family: 'Open Sans', sans-serif;
}

.__liloctnWrp a {
	font-weight: bold;
	color: #8A8A8A;
	transition: all 1s;
}

.__liloctnWrp a:hover {
	color: #000;
	transition: all 1s;
}

.__liloctnWrp .flex-shrink-0,
.__licallWrp .flex-shrink-0{
	min-width: 25px;
}

.__ListBnt{
	font-weight: bold;
	background: #7A5C66;
	border-radius: 7px;
	padding: 8px 0;
	text-align: center;
	color: #fff;
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	transition: all 1s;
}
.__ListBnt:hover{
	transition: all 1s;
	color: #fff;
	background: #92b8c0;
}


.__wishliico {
    background: #7a5c66;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 15px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 4px;
    border-radius: 50%;
    border: #fff 2px solid;
    margin-top: -30px;
    z-index: 10;
    cursor: pointer;
}
.__wishliico i{
	color: #fff;
	font-size: 14px;
}

/*+++++++++++++++++=======*/



.__evDpg_slider  {
	margin: 0 0 20px;
	overflow: hidden;
	border-radius: 7px;
    min-height: 350px;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    background-size: 100% !important;
}

.__evDpg_slider h3 {
	font-size: 45px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}






 /* overlay*******************/
 [data-overlay] {
 	position: relative;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center center;
 }

 [data-overlay]::before {
 	position: absolute;
 	left: 0;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	content: "";
 }

 [data-overlay=light]::before {
 	background-color: #fff;
 }

 [data-overlay=theme-2]::before {
 	background-color: #2d48c3;
 }

 [data-overlay=dark]::before {
 	background-color: #181b1d;
 }

 [data-overlay=theme]::before {
 	background-color: #43824f;
 }

 [data-opacity="1"]::before {
 	opacity: 0.1;
 }

 [data-opacity="2"]::before {
 	opacity: 0.2;
 }

 [data-opacity="3"]::before {
 	opacity: 0.3;
 }

 [data-opacity="4"]::before {
 	opacity: 0.4;
 }

 [data-opacity="5"]::before {
 	opacity: 0.5;
 }

 [data-opacity="6"]::before {
 	opacity: 0.6;
 }

 [data-opacity="7"]::before {
 	opacity: 0.7;
 }

 [data-opacity="8"]::before {
 	opacity: 0.8;
 }

 [data-opacity="9"]::before {
 	opacity: 0.9;
 }


 /* overlay*******************/


.__evDpgPg {
    padding: 20px;

}

.__evpabcotWboz {
    margin-top: 30px;
}
.__evpabbzinfo {
    margin-bottom: 30px;
}
.__evpabbzinfo h4 {
    font-size: 22px;
    color: #404040;
    margin-bottom: 5px;
	font-weight: bold;
}
.__epd_wishliico {
    background: #7a5c66;
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    border-radius: 50%;
    border: #7a5c66 1px solid;
    cursor: pointer;
    display: inline-block;
    transition: all .5s;
}
.__epd_wishliico i{
	color: #fff;
	font-size: 13px;
}
.__starRate {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.___staricon {
    color: #7A5C66;
}

.__epdloction {
    color: #404040;
}
.__epdsAbout {
	color: #000;
    font-family: 'Open Sans', sans-serif;
}
.__epdsAbout h2 {
    color: #404040;
    font-size: 16px;
	font-weight: bold;
}
.__epdsDetails h3 {
    color: #404040;
    font-size: 16px;
	font-weight: bold;
}
.__epdsAwardAffi {
    margin-top: 30px;
    max-width: 60%;
    width: auto;
}
.__epdsAwardAffi h3 {
    color: #404040;
    font-size: 18px;
    margin-bottom: 30px;
	font-weight: bold;
}

.__eplaliboz {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.__eplaliboz img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}





.__rluLGrid{
	display: flex;
    align-items: inherit;
    justify-content: flex-start;
	margin-left: 0px;
}

.__rateExperience {
    margin-top: 30px;
    margin-bottom: 30px;
}

.__rateExperience h2 {
    color: #404040;
    font-size: 18px;
    margin-bottom: 20px;
	font-weight: bold;
}
.__write_review {
    margin-top: 15px;
}



.__wrirewInfo {
    margin: 25px 0;
}
.__wrirewInfo img {
    width: 52px;
    height: 52px;
    object-fit: cover;
}
.__wrirewInfo .__dcrpgltetr {
    font-size: 12px;
    font-weight: 500;
	margin-left: 15px;
}
.__wrirewInfo .__dcrpgltetr h6 {
    font-size: 16px;
    margin-bottom: 3px;
}
.___rulreviewWrp {
    display: flex;
    flex-direction: column;
	font-weight: 500;
	color: #000;
	font-family: var(--open_sans);
}
.__rulreview {
    min-width: auto;
    max-width: 500px;
    width: auto;
    margin: 15px 0;
}

.__rulreview_bl2 {
    margin-left: 50px;
    max-width: 500px;
    background: #F0F5F6;
    padding: 20px;
    padding-bottom: 10px;
    color: #707070;
    border-radius: 7px;
}

.__rulreview_bl2 h5 {
    font-size: 16px;
    color: #404040;
	font-weight: bold;
}
.__evDpgPg .nav.nav-pills .nav-link {
    background: #c9d9dc;
    color: #000;
    padding: 13px 30px;
    font-size: 15px;
    font-weight: bolder !important;
	margin-bottom: 5px;
}



/*Lightzb*/

.__ptolibzWr{}

.gallery {
    display: flex;
    flex-wrap: wrap;
/*    border: 10px solid #fff;*/
    width: calc(100% - 0px);
    margin: 20px auto 0;

}

.gallery a {
    display: block;
    text-decoration: none;
    width: 25%;
    overflow: hidden;
    outline: none;
}

.gallery a img {
    height: 100%;
/*    transform: scale(1,1);*/
    transition: all 300ms ease;
	border: #fff 1px solid;
}

.gallery a img:hover {
/*    transform: scale(1.1,1.1);*/
}



.bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    transform: scale(1,1);
    transition: all 300ms ease;
	border: #fff 1px solid;



	display: block;
    text-decoration: none;
    width: 25%;
    overflow: hidden;
    outline: none;
}

.bg:hover {
/*    transform: scale(1.1,1.1);*/
}

@media(max-width: 991px) {
 	.gallery a {
		width: 50%;
	}
}

@media(max-width: 767px) {

	.gallery a {
		width: 100%;
	}

	.bg {
		height: 300px;
	}
}

/*Lightzb*/


.__evpDetailsWrp {
    margin: 20px 0;
}
.__evpDetailsbz {
    margin-bottom: 20px;
    background: #e0eaec;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 7px;
	color: #000;
}
.__evpDetailsbz h4 {
    font-size: 16px;
	font-weight: bold;
}


.__epd_contact {
    padding: 20px 0;
}
.__epd_contact_boz {
    background: #e0eaec;
    padding: 25px;
    border-radius: 7px;
    color: #000;
}
.__epd_contact h3 {
    font-size: 18px;
	font-weight: bold;
}
.__epd_contact_boz .__liloctnWrp {
    padding-left: 0px !important;
}



.__epd_contact_froBz {
    padding: 25px;
    border-radius: 7px;
    background: #e0eaec;
    padding-bottom: 5px;
}
.float-end{
	float: right;
}



.__epdteamWrp {
    margin: 25px 0;
}
.__teaminfoBz {
    margin-bottom: 15px;
    text-align: center;
}
.__teaminfoBz img {
	border: #fff 2px solid;
	width: 150px;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.__teaminfoBz h6 {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 7px 0;
}


.__evpRtewgtInfoB{
	background: #E8F0F2;
	border-radius: 7px;
	padding: 25px;
}

.__evpRtewgtInfoB .__bntWhts{
    padding: 9px 5px;
    color: #fff;
    margin-top: 3px;
    font-size: 13px;
    font-weight: bold;
        transition: all 1s;
}
.__evpRtewgtInfoB .__bntWhts a{
    color:#fff;
        transition: all 1s;
}
.__evpRtewgtInfoB .__bntWhts:hover  {
   background: #319735;
       transition: all 1s;
}

.__bntCpry,
.__bntCscy{
	font-weight: bold;
    border-radius: 7px;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    transition: all 1s;
}

.__bntCscy{
	background: #92B8C0;
	border: #92B8C0 2px solid;
}
.__bntCscy:hover {
    background: #fff;
    color: #92B8C0;
    transition: all 1s;
	border: #92B8C0 2px solid;
}
.__bntCpry{
	background:  var(--color-secondary);
	border: var(--color-secondary) 2px solid;
}
.__bntCpry:hover {
	background: #fff;
    color: var(--color-secondary);
	border: var(--color-secondary) 2px solid;
    transition: all 1s;
}


.__guestListWrp {
	margin-top: 10px;
}

.__gltkBz{
	margin-bottom: 25px;
	font-family: var(--open_sans);
	overflow: hidden;
 	padding: 15px;
    background: #fff;
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
    -moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
	border: 1px solid #fff0;
}
.__gltkBz.active,
.__gltkBz:hover{
	border: 1px solid var(--color-secondary);
}

.__gltkBz a {
	color: #000;
}
.__gltkBz a:hover {
	color: #000;
}
.__gltkBz h4{
	font-weight: bold;
}

.__gltkBzImg{
	margin-top: 5px;
	margin-bottom: 15px;
}
.__gltkBzImg img{
	width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.__gltkBzDrcp{}
.__gltkBzDat{
	font-size: 15px;
	color: #8A8A8A;
}
.__gltkBzloctn{
	color: #8A8A8A;
	font-size: 15px;
}

.__gltkBzDrcp h5{
	font-weight: 600;
}

.__gustsbBtn{
	padding: 15px 45px;
	font-size: 18px;
	font-weight: bold;
}

.__guestListWrp .__tpExpBtnWrp{
	margin-top: 25px;
	margin-bottom: 25px;
}

.__guestListWrp  .__ppserch {
    border: #ccc 1px solid;
    min-width: auto;
    width: 100%;
}

._gstListSbbnwrp{}

._gstListSbbnwrp .__vrttbtn{
 	background: var(--color-secondary);
    font-weight: bold;
    color: #fff;
	padding: 15px 20px;
}

.__guestListMBnt .__vrttbtn {
	font-size: 18px;
	  padding: 26px 15px;
}

._gstListSbbnwrp .__vrttbtn:hover,
._gstListSbbnwrp .__vrttbtn:focus,
._gstListSbbnwrp .__vrttbtn:active,
._gstListSbbnwrp .__vrttbtn.active{
		background: var(--color-primary);
}

.__guestListTavw{
	margin: 25px 0;
}

.__brdsLt{
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.__brdsRt  {
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.__guestListTavw .table .thead-dark th {
     border-bottom: none;
}
.__guestListTavw td {
	color: #000000;
    border-bottom: #a19e9f8c 1px solid;
}



.__guestLisBnt{
	padding: 12px 45px;
}

.__gutAdpg  {
	padding: 25px 25px 15px;
}

.__check_listWrp {
	margin-top: 20px;
}

.__checkListBtn{
    padding: 0 5px;
    justify-content: flex-start;
    display: flex;


}
.__checkListBtn .__vrttbtn{
	width: auto;
	padding: 26px 45px;
}

.__ckLstFtre {
	margin: 25px 0
}
 .__ckLstFtre .__ppserch {
    border: #ccc 1px solid;
    min-width: auto;
    width: 100%;
}

.__checkListRutb{
	 margin: 5px 0;
}

.__checkListRutb h4{
	font-family: var(--open_sans);
}

.__checkListRutb .__scopeWorkTbvw th,
.__checkListRutb .__scopeWorkTbvw td {
	border:none;
	border-bottom: #8A8A8A 1px solid;
}


.__addItemPopvw{}

.__addItemPopvw .close {
    position: absolute;
    width: 30px;
    height: 30px;
    border:var(--color-secondary)  2px solid;
    right: 20px;
    border-radius: 50%;
	color: var(--color-secondary);
}
.__addItemPopvw .modal-header{
	display: flex;
    justify-content: center;
	padding-bottom: 0;
	border: none;

}
.__addItemPopvw .modal-footer{
	padding-top: 0;
	border: none;
	display: flex;
    justify-content: center;
}
.__addItemPopvw .modal-title {
	text-align: center;
	font-weight: bold !important;
	color: var(--color-secondary) !important
}
.__addItemPopvw .modal-body  {
	padding: 15px 4% 0;
}
.__addItemPopvw .modal-footer .btn {
	min-width: 320px;
	padding: 15px;
	font-weight: bold;
}

.__ckLit {
	 padding: 20px 20px 5px;
	font-family: var(--open_sans);
	margin-bottom: 25px;
}
.__clistItme  {
	padding: 10px;
	border-radius: 10px;
	border: #8b8c8b 1px solid;
	margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
	min-height: 56px;
}
.__nubr{
	font-weight: 600;
	min-width: 40px;
    text-align: center;
}
.__nubrThd {
    font-weight: 600;
    width: 100%;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.__droStr {
	border-radius: 7px;
	padding: 15px 15px 0 !important;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}

.__droStrwrap {
	margin-top: 15px;
}

.__droStrwrap .card{
	display: flex;
    align-items: flex-end;
}
.__droStrwrap .card-header .card-title {
  font-weight: bold !important;
    float: right !important;
    background: #fff!important;
    padding: 7px 18px !important;
    width: 120px;
    border: var(--color-secondary) 2px solid !important;
    border-radius: 7px !important;
    margin-bottom: 15px !important;
}
.__droStrwrap .card-header .card-title:after {
	margin-right: 5px;
}
.swal2-styled.swal2-confirm{
	background-color: var(--color-primary);
}
.__contractsWrp{}

.__ctmCircle {
	border:  var(--color-secondary) 5px solid;
	background: #fff;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
	font-size: 20px;
	display: flex;
    align-items: center;
    justify-content: center;
	font-family: var(--open_sans);
}
.__cerlebehd{
	color: #000;
	font-weight: bold;
	font-size: 20px;
	display: flex;
    align-items: center;
    justify-content: center;
	padding-left: 15px;
}
.__ctmCircleWrp{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 6%;
}
.__contractsChkBoz {}
.__ctmCircleWrpMin{}
.__contractsChkBoz .checkbox.checkbox-outline{
	display: flex;
    align-items: flex-start;
}
.__ctmCircleWrpMin {
    margin-bottom: 30px;
}
.__budgeterWrp{
	margin-top: 20px;
}
.__budgeterBoz{}
.__begtLoction {
    color: #000 !important;
}
.__budgeterFlterWp{}

.__invoicWrp{}
.__invoicBoz{

}
.__tbbodr{
	border: none !important;
}

.__invoiceblok1{}

.__tabInvoice {}

.__viewIncWoz{
	margin-top: 15px;
	border: #707070 1px solid;
	border-radius: 10px;
	padding: 20px
}


.__ctndrofid .form-label{
	width: 100%;
}
.__ctndrofid  .select2.select2-container.select2-container--default{
	    width: 100% !important;

}
.__ctndrofid  .select2-container--default .select2-selection--single{
	border: #8A8A8A 1px solid;
}


.__webDesignWrp{
	padding: 45px 0;
}



.__tmxDesigWrz {
	border: #707070 1px solid;
	margin-bottom: 30px;
	padding: 2px;
	position: relative;
	transition: all 1s;
}

.__tmxDesigWrz::before{
	transition: all 1s;
}
.__tmxDesigWrz:hover::before {
	background-color: #181b1d;
	transition: all 1s;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: "";
	transition: all 1s;
}

.__tmxDesigWrz .__temWebBnt_item{
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0px;
    width: 100%;
    text-align: center;
}
.__tmxDesigWrz:hover .__temWebBnt_item{
	display: block;
}


.__temWebBnt{
	padding: 10px 45px;
	margin: 0 auto;
	text-align: center;
}


.__tmxDesiimg{ }

.__tmxDesiTex {
	padding: 10px 15px;
	font-weight: bold;
}
.__tmxDesiTex h5{
	font-weight: bold;
	font-size: 18px;
	color: #000;
}
.__tmxDesiTex h6{
	font-size: 14px;
	color: #000;
}


.__dekVews{
	position: relative;
	width: 80%;
	float: right;
	box-shadow: 0 0 3px rgb(0 0 0 / 50%);
	border-radius: 10px;
	overflow: hidden;
	background:  #CACCD0;
}
.__dekVews:after{
 	content: "";
    display: block;
    padding-bottom: 10px;
}
.__desktopNav{
    background: #CACCD0;
    height: 28px;

}



.dot--bc1fd {
    background: #fff;
    width: 13px;
    display: inline-block;
    margin-right: 7px;
    border-radius: 100%;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}
.dot--bc1fd:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.__webMobileVew {
	width: 25%;
    position: absolute;
	top: 150px;
    left: 10%;
    z-index: 1;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    background: #caccd0;
    border-radius: 10px;
    overflow: hidden;
}

.__webMobileVew:after{
 	content: "";
    display: block;
    padding-bottom: 5px;
}

.__webImgBoz{
	margin-top: 25px;
	padding-right: 5%;
}

.__webFrmSpbz{
	background: #fff;
	padding: 22px 20px;
	margin-top: 25px;
}
.__webFrmSpbz h4{
	font-weight: bold;
	color: #000;
	font-size: 20px;
	margin-bottom: 15px;
}


.__webPgWedding_Dets{}


.__cmPgBlkz {
	border-bottom: #d4d4d4 1px solid;
	padding: 25px 0px;
}

.__urlprt{
	font-size: 15px;
	color: #000;
}

.__copy_btn{
	 color: #000;
	margin-left: 15px;
	cursor: pointer;
	border: #fff 1px solid;
	border-radius: 5px;
	padding:1px 5px;
}

.__copy_btn i{
	color: #92B8C0;
	font-size: 14px;
}

.__copy_btn:hover {
	border:#92B8C0 1px solid;
}

.__registry {}



.__webEditeWrap {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 50px;

}
.__webEditeWrap .accordion {
	overflow: hidden;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}

.__webEditeWrap .accordion .card{
	border-bottom: #c7c7c7 1px solid;
  	border-radius: 0px;

}

.__webEditeWrap .accordion .card .card-header .card-title {
	color: #000;
	font-weight: 600;
}



.__webEditeWrap .card .card-header{
	padding: 10px 25px;
}
.__cpleNme{
	font-weight: bold;
	font-size: 16px;
	color: #000;
	margin: 15px 0 10px;
}

.__addurWdLoction{
	margin: 10px 0;
}
.__datewebPg {}


.dropzone.dropzone-default {
    border: 2px dashed #cecece;
}
.__webEditeWrpRt {

}

.__urShorPix{
	border: #ccc 1px solid;
	padding: 2px;
	    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}

.__webEditeWrap .accordion .card:last-child {
    margin-bottom: 0;
    border-bottom: none !important;
}





/**/

.__toListWrp  {	}


.__toListWrp .nav.nav-tabs {
    width: 100%;
    border-bottom: none;
}

.__toListWrp .nav.nav-tabs li {
    width: 100%;
    flex: 1;
    padding: 0 10px;
    margin-bottom: 20px;
}

.__toListWrp .nav.nav-tabs li a {
    background: #fff;
	padding: 12px 15px;
    width: 100%;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    -moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
	text-align: center;
}

.__toListWrp .nav.nav-tabs  li a.active {
	background: var(--color-secondary) ;
	color: #fff;
}

.__todlistInrFlter h3{
	color:  var(--color-secondary) ;
}

.__todlistInrFlter{
    justify-content: space-between;
}

.__todLifilFrm   {
	 width: 100%;
	margin-top: 10px;
	justify-content: flex-end;
}

.__todSubRwp{
	display: flex;
}

.__toderptrep{
	width: 100%;
}

.__todoleftFiltr {
    min-width: 230px;
    max-width: 230px;
	background: #fff;
	padding: 15px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	-moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	margin-right: 15px;
	height: auto;
}


.__clear_all {
    border: #bdbdbd 1px solid;
    display: inline-block;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    color: #bdbdbd;
    border-radius: 6px;
	float: right;
    cursor: pointer;
}

.__clear_all i {
	color: #bdbdbd;
}

.__clear_all:hover {
	background: #e8e8e8;
	color: #000;
	border: #000 1px solid;
}

.__clear_all:hover i {
	color: #000;
}
.__todoleftFiltr .checkbox-list .checkbox{
	margin-bottom: 10px;
	margin-top: 10px;
}

.__grcadbz {
	position: relative;
	margin-bottom:20px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
    -moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 35%);
}
.__grcadbzImg{
	width: 55px;
	height: 55px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	display: inline-flex;
}
.__todLilcotin {
	min-height: 19px;
		display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.__todLilcotin.mb-4 {
	margin-bottom: 2px !important;
}

.__todLilcotin a{
	font-size: 14px;
	color: #848484;
}

.__todoCall{
	font-size: 17px;
	font-weight: 500;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.__grcadbz h4{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
}

.__todoCall a{
	color: #000;
}
.__todoEmail{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.__todoEmail a{
	color: #848484;
}

.__selcBntWrp{
    position: absolute;
    right: 10px;
    display: flex;
    top: 10px;
}
.__CloseBn{

}
.__CloseBn i{
	color: red;
	font-size: 22px;
	cursor: pointer;
	margin: 0 2px;
}
.__selcBn i{
	margin: 0 2px;
	color: green;
	font-size: 22px;
	cursor: pointer;
}
/**/



.login.login-4 .login-form {
    background: #ffffffdb;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 5%);
}




.__contraLtgrVwWrp{}

.__cotrLboz {
	font-family: var(--open_sans);
	padding: 15px;
	background: #fff;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 7px 1px #00000024;
    -moz-box-shadow: 0px 0px 7px 1px #00000024;
    box-shadow: 0px 0px 7px 1px #00000024;
	margin-bottom: 25px;

}

.__cotrLbozHeadcrd {

	display: flex;
    justify-content: space-between;
    align-items: center;
}


.__viewEditBtn{}

.__cotrLbozbodycrd{ }
.__cotrLbozbodycrd table {
	line-height: 28px;
	font-size: 14px;
	white-space: nowrap;
}

.input-group-text{
	border: 1px solid #7a5c66;
}

.__tabhd{
	color: #000;
	width: 50%;
}
.__tabresut{
	width: 50%;
	color: #7a5c66;
	font-weight: 500;
}


.__cumScroll {
	max-height: 530px;
    overflow-y: auto;
    padding: 10px;
}

.todolisGrWrp__selctd {
	/*
		border: #ccc 1px solid;
		border-radius: 5px;
		padding: 10px;
	*/
}



.__tabBnNeUi{

}
.__tabBnNeUi .__vrttbtn {
	padding: 25px 20px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
.__tabBnNeUi .__vrttbtn i{
	font-size: 50px;
	color: #7a5c66;
	line-height: 0;
	margin-bottom: 15px;
}

.__tabBnNeUi .__vrttbtn:hover {
	background: var(--color-secondary);
	color: #fff;
}
.__tabBnNeUi .__vrttbtn:hover i{
	color: #fff;
}


.__orgChecklistTab  .table{

}
.__orgChecklistTab .table-bordered th{
/*	border: none !important;*/
	border: #fff 1px solid;
	margin-bottom: 4px;
}

.__orgChecklistTab .table-bordered td {
    border: #a19e9f8c 1px solid !important;
    font-weight: 600;
}

.__taboutldays{
    /* padding: 1px 8px;
    border: #7a5c66 1px solid;
    border-radius: 17px;
    background: #7a5c6621;
    color: #7a5c66;
    font-weight: 600; */
}

.__taboutldateFrom {
    /* padding: 1px 8px;
    border: #92b8c0 1px solid;
    border-radius: 17px;
    background: #cdf5fd3b;
    color: #92b8c0;
    font-weight: 600; */
}


.__taboutldays a{
	padding: 4px 5px;
	text-align: center;
}

.__taboutldays a{
	padding: 1px 7px;
	border-radius: 15px;
	color: #fff;
	background: #7a5c66;

	min-width: 37px;
	display: inline-block;
	text-align: center;
}
.__taboutldays a:hover {
	background: #95b6bd;
	color: #fff;
}

.__codeThum {
    width: 90px;
    height: 60px;
    float: left;
    border: #ccc 1px solid;
    padding: 2px;
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
}

.__codeThum img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.__covrClose{
    position: absolute;
    right: -7px;
    top: -7px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #fff;
    border-radius: 100%;
	cursor: pointer;
	z-index: 1;
}

.__covrClose i{
	color: #a2a2a2;
    font-size: 21px;
}
.__covrClose:hover i{
	color: red;
}

.__addImage a {
    width: 100px;
    height: 100px;
    background: #eaeaea;
    border: #a5a5a5 2px dashed;
    padding-top: 23px;
    text-align: center;
    display: inline-block;
    margin-bottom: 25px;
    color: #000;
    font-size: 12px;
	border-radius: 4px;
}


.__addImage a i {
    color: #8c8c8c;
    font-size: 28px;
}

.__countCustom{
	font-family: var(--open_sans);
	font-size: 20px;
	padding-left: 16px;
	font-weight: 600;
}


.__steouboz {
    margin-bottom: 11px;
    border: #d2d2d2 1px solid;
    padding: 12px;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.__steouboz h5 {
    font-weight: 600;
    margin-bottom: 14px;
    color: #000;
    font-size: 18px;
	font-family: var(--open_sans);
}

.__steouboz ol {
    margin: 0 5px;
    padding: 0 5px;
}

.__steouboz ol li {
    margin: 0 5px;
    padding: 3px 5px;
}

.__stepImg {
    border: #d2d2d2 1px solid;
    margin: 10px auto;
    width: 100%;
    float: left;
}

.__candbntCrt{
    float: right;
    padding: 2px 7px;
    border-radius: 7px;
    margin-top: -3px;
    background: var(--color-primary);
    color: #fff;

}








.tiles {
	/* font-size: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	 transform: translate(-50%, -50%); */
  }

  .tiles .tile {
	/* display: inline-block; */
	/* margin: 10px; */
	/* text-align: left;
	opacity: .99; */
	overflow: hidden;
	position: relative;
	/* border-radius: 3px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); */
  }

  .tiles .tile:before {
	content: '';
	background: var(--color-primary);
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	transition-property: top, opacity;
	transition-duration: 0.3s;
  }
  .tiles .tile img {
	display: block;
	max-width: 100%;
	backface-visibility: hidden;
  }
  .tiles .tile .details {
		font-size: 16px;
		padding: 10px 10px;
		color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
}
.tiles .tile .details span {
	display: block;
	opacity: 0;
	position: relative;
	top: 100px;
	transition-property: top, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
}
.tiles .tile .details .title {
	line-height: 1;
	font-size: 14px;
}
.tiles .tile .details .info {
	line-height: 1.2;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 600;
}
.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
	opacity: 1;
}
.tiles .tile:focus:before,
.tiles .tile:hover:before {
	top: 00%;
}
.tiles .tile:focus span,
.tiles .tile:hover span {
	top: 0;
}
.tiles .tile:focus .title,
.tiles .tile:hover .title {
		transition-delay: 0.15s;
}
.tiles .tile:focus .info,
.tiles .tile:hover .info {
		transition-delay: 0.25s;
}


.__cumashSMbyot{

}

.__cumashSMbyot .card  {
	border: #7a5c66 1px dashed;
}

.__cumashSMbyot .card-body{
	padding: 20px !important;
}

.__cumashSubbZ{
	width: 100%;
	font-weight: bold;
}

.__cumashSubhd{
	width: 75%;
}

.__cumashSubRut {

}

.__minhdprc {
	color: var(--color-secondary);
}



.__piLefCard {
    border: #e7e7e7 1px solid;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    margin-top: 12px;
}

.__askAcctProgs {
	height: 20px;
    border-radius: 30px;
    border: #92b8c0 1px solid;
}


.__askAcctProgs .progress-bar {
    font-size: 12px;
    background-color: #92b8c0;
    font-family: var(--open_sans);
    font-weight: 600;
}
.__askAcctinfoemcl{
	font-family: var(--open_sans);
	font-size: 13px;
}

.__askAccttbaNv { }

.__askAccttbaNv.navi.navi-active .navi-item .navi-link.active {
    background-color: #92b8c0;
    color: #fff;
	font-weight: 500;
}

.__askAccttbaNv.navi .navi-item .navi-link.active .navi-icon i,
.__askAccttbaNv.navi .navi-item .navi-link.active .navi-text {
	color: #fff !important;
	font-weight: 500;
}


.__askAccttbaNv.navi.navi-link-rounded .navi-item .navi-link{
	background-color: #92b8c054;
	font-weight: 500;
}
.__askAccttbaNv.navi .navi-item .navi-link .navi-icon i {
    color: #92b8c0;
}

.__askAccttbaNv.navi .navi-item .navi-link:hover{
	color: #000;
}





.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple  {
	border: 1px solid #7a5c66;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #94b6bf;
}


.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
	color: #3F4254;
}


.__calander_btn{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
/* .__calander_btn .btn.btn-secondary,
.__calander_btn .btn.btn-primary {
  min-width: 185px;

} */


.__crtBntPn {
    width: 50%;
    height: auto;
    margin: 0 5px;
    padding: 14px;
    font-size: 15px;
    text-align: center;
    background: var(--color-primary) ;
    border: var(--color-primary) 1px dashed;
    border-radius: 10px;
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 22%);
    -moz-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 22%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 22%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    line-height: 18px;
    font-weight: 600;
    color: #ffffff;
}

.__crtBntPn i {
    font-size: 35px;
    color: #ffffff;
    transition: all .5s;
}
.__crtBntPn:hover {
	background: var(--color-secondary) ;
	color: #ffffff;
    border:  1px dashed  var(--color-secondary) ;
}
.__crtBntPn:hover i {
	color: #ffffff;
}



.__guestDat  {

	font-size: 14px;
	color: #000;
}
.__guestcoutol {
	font-size: 14px;
	color: #000;
}

.__guestcoutol span {
    background: #7a5c66;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 55%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.__guestlocation {
    font-size: 14px;
    color: #767676;
}

.__evtPlnCount{
	height: 25px;
    width: 25px;
    position: absolute;
    right: 29px;
    top: -10px;
    background: #7a5c66;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-family: var(--open_sans);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 3px;
}


.__topSwitchBtn.dropdown.__selcDrop {
    margin-left: 15px;
	min-width: 160px;
}

.__topSwitchBtn.dropdown.__selcDrop .form-control {
	min-height: 45px;
}

.__unlinkStatus {
	cursor: inherit;
}

.__clthubk {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.__clthubkBoz {
	padding: 10px;
    background: #f1f1f1;
    display: inline-block;
    text-align: center;
    color: #7a5c66;
    border-radius: 5px;
    margin: 10px 0;
	margin-right: 10px;
    border: #7a5c66 1px solid;
    font-weight: bold;
	font-size: 12px;
}
.__clthubkBoz i {
	font-size: 27px;
    color: #7a5c66;
}
.__liXZe{
    border-top: 2px solid rgb(146, 184, 192);
	border: #ccc 1px solid;
    margin-top: 8px;
}
.__sli2fldz .select2-selection.select2-selection--single {
	border-radius: 0;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.__sli2fldz .input-group-append .btn{
	line-height: 18px;
}

.breadcrumb{
	font-family: var(--open_sans);
}
.__budgeter .numeric.form-control {
	width: 50%;
    margin: 0 auto;
    text-align: center;
	font-weight: 600;
}
.__budgeter.wd100 {
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
    border-radius: 7px;
	overflow-x: auto;
}
.__cumTbstatus{
	white-space: nowrap;
}
.field-icon.toggle-password {
    float: right;
    margin-top: -28px;
    position: relative;
    z-index: 2;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
.__droStrwrap.accordion .card{
	background: none;
}

.label.label-inline {
	white-space: nowrap;
}

.__nowrap{
	white-space:nowrap;
}


.__statusChkWrap {
	display: flex;
    align-items: center;
    justify-content: center;
}



.__statusChkWrap .label.label-warning,
.__statusChkWrap .label.label-info {

    background-color: var(--color-secondary) !important;
}


.__statusChkWrap .label.label-inline{
        min-width: 60px;
    padding: 5px !important;
}




.__tpExto_list{
	width: 100%;
}

.__tpExtoFld {
	width: 100%;
}

.__topSwitchBtn.__flez{
    display: flex;
}

.__dvflez{

}

.__drosml_Awaiting {
	margin-bottom: 10px;
}

.__togleftFiltr {
    display: none;
    float: left;
    border-radius: 5px;
    background: #92b8c0;
    padding: 8px 13px;
    margin-bottom: 10px;
    color: #fff;
    width: 96px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.__togleftFiltr i {
	color: #FFF;
}





.__inrldBBtn.disabled  {
	background: #b7b7b7;
	cursor: not-allowed;
}




.google-login-wrong-email-id {
	/* background: #e31000  !important;
    border-color: #e31000  !important; */
}

.google-login-active{
	/* background:  green  !important;
    border-color: green  !important; */

}


#calendar{
	font-family: var(--open_sans);
}

.fc .fc-daygrid-day-number{
	font-weight: bold;
}

.fc-push_google-button,
.fc-today-button,
.fc-calender_settings-button ,
.fc-googleActive-button    {
	font-size: 12px !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
	padding: 3px 6px !important;
}


.__todoLifTogle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7a5c66;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

.__todoLifTogle i{
    color:#fff;
    margin-right: 6px;
}
.__todoleftFiltrNewWrp {
	margin-bottom: 5px;
	position: relative;


}
.__todoleftFiltrNewWrp .__todoleftFiltr {
    min-width: 100%;
    max-width: 100%;
    display: inline-block;
    margin-right: 0 !important;
    position: relative;
    z-index: 10;
    width: 100%;
    top: -10px;
	float: left;

}


.__todoleftFiltrNewWrp .__todoleftFiltr .checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
}


.__todoleftFiltrNewWrp .__todoleftFiltr .checkbox-list .checkbox{
	margin-bottom: 3px;
	margin-top: 4px;
	float: left;
	width: 25%;
}

.__ftCose{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
	cursor: pointer;
}
.__ftCose i{
	font-size: 22px;
    color: #ff5656 !important;
}


.__prwrouli{
	display: flex;
    align-items: center;
}

.__prwrouli .btn,
.__prwrouli .__propTcBtnAcc {
	margin-left: 3px;
	white-space: nowrap;
}


.__propTcBtnAcc{
	border: 2px solid var(--color-secondary);
	padding: 7px 10px;
	padding-right:20px;
	text-align: left;
	font-weight: 600;
	font-size: 15px;
	border-radius: 5px;
	cursor:pointer;

	position: relative;
}


.__propTcBtnAcc:after {
	position: absolute;
	font-family: Ki;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	content: "";
	color: #7a5c66;
	font-size: 0.7rem;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	margin-top: 6px;
	position: absolute;
	right: 7px;
	}

.__propTcBtnAcc.collapsed:after {
	color: #7a5c66;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
  }


.__bgtTabtfrWrap{}

.__bgtTabtfr{}

.__bgtTabtfr.__enrtTabwgt .nav.nav-pills .nav-item .nav-link {
    min-width: 75px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.__bgtTabtfr.__enrtTabwgt .nav.nav-pills .nav-item {
	width: auto;
}


.__grvwBgttm{
	padding: 7px;
	border: #ccc 1px solid;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 15px;
}
.__bgtTabtfrListWrp{
	padding: 15px;
}

.__grvwBgttmImg{
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.__grvwBgttmImg img{
	width: 100%;
	min-width: 150px;
	max-height: 150px;
	object-fit: cover;

	border-radius: 5px;
	overflow: hidden;
}


.__bgtTabtfrListWrp h5{
	font-weight: 600;
	text-align: center;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 16px;
}

.__bgtTabtfrListWrp h5 a{
	color: #000;
}

.__bgtTabtfrListWrp h5 a:hover{
	color: var(--color-secondary)
}

.__wgwtTotLab{
	text-align: center;
    font-weight: 600;
    font-family: var(--bs-font-title);
    font-size: 14px;
    margin-bottom: 10px;
    color: #7a5c66;
	margin-bottom: 10px;
}

.__grvwBgttm .btn {
	width: 90%;
	margin: 0 auto;
    text-align: center;
}


.pointer {
	width: auto;
	height: 20px;
	background: #7a5c66;
	position: absolute;
	left: 12px;
	color: #fff;
	font-weight: 600;
	padding: 1px 6px;
	top: 20px;
	}

.pointer:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid black;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	display: none;
}

.pointer:before {
	content: "";
	position: absolute;
	right: -10px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 10px solid #725962;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	}



.__bgtTabtfr.__enrtTabwgt .card-header {
	flex-wrap: inherit;
}

.__crneBtn{
	margin-top: 6px	;
}









@media (max-width: 1199px) {
	.__ppserch {
		min-width: auto;
	}
}



@media (max-width: 991px) {
	.__togleftFiltr {
		display: block;
	}
	.__todSubRwp {
		display: flex;
		flex-direction: column;
	}
	.__topSwitchBtn.__flez  .btn{
		margin: 0 7px;
	}
	.__toListWrp .nav.nav-tabs li a {

		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.__tpExtoFld {
		margin-bottom: 15px;
	}
	.__tpExto_list {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}

	.__todoleftFiltr{
		display: none;

		position: absolute;
		z-index: 999;
		margin: 0 auto;
		left: 15px;
		right: auto;
		max-width: 320px;
		min-width: 320px;
		margin-top: 40px;
	}

	.__guestListTavw {
		margin: 0px 0;
	}

	.__tabBnNeUi .__vrttbtn{
		font-size: 14px;
	}

	.__tabBnNeUi .__vrttbtn i {
		font-size: 40px;
	}


	.font_size_18 {
		font-size: 16px;
	}
	.__subbnrTxpt h2 {
		font-size: 15px;
	}
	.__subbnrTxpt h3 {
		font-size: 15px;
	}
	.__subbnrTxpt h4 {
		font-size: 15px;
	}

	.__subbnrTxpt h5 {
		font-size: 15px;
	}

	.__sublk {
		margin-top: 25px;
	}

	.container-fluid {
		padding: 0;
	}

	.subheader .brand-toggle.btn.btn-sm.px-0,
	.__cmoemynone {
		display: none;
	}
	.row.__sublk .col-xl-3 {
		margin-bottom: 15px;
	}
	.__vrttbtn {
		padding: 10px 10px;
		margin-bottom: 15px;
	}
	.__vtrTpBtnWrp {
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
		flex-direction: row;
		justify-content: space-between;
	}
	.__vrttbtn {
		margin-right: 0px;
		margin-left: 0px;
		width: 23%;
	}
	.__vtrSrBz {
		margin-top: 35px;
	}

	.__cmFltTp.__lddelbk .__cmoemynone {
		display: block;
	}

	.__sublk .card {
		height: auto;
		margin-bottom: 16px  !important;
	}

	.__sbkIcon i {
		font-size: 30px;
	}
	.__srvBzbk h5 {
		font-size: 14px;
	}
	.bg {
		width: 33.336%;
	}

	.__todoleftFiltrNewWrp .__todoleftFiltr .checkbox-list .checkbox {

		width: 33.33%;
	}

}


@media (max-width: 767px) {

	.__todoleftFiltrNewWrp .__todoleftFiltr .checkbox-list .checkbox {
			width: 50%;
	}
	.__guestListWrp .__tpExpBtnWrp {
		margin-top: 10px;
		margin-bottom: 10px;
	}



	.bg {
		width: 50%;
	}

	.__evDpgPg{
		margin-bottom: 15px;
	}


	.__subbnrWrp {
		margin-bottom: 15px;
	}
	.__tpExpBtnWrp {
		margin-bottom: 20px;
	}


	.btn{
		font-size: 13px  !important;
	}
	.__cmFltTp.__lddelbk .form-label.wd100.__cmoemynone {
		display: none;
	}

	.__todlistInrFlter {
		width: 100%;
		float: left;
	}
	.__todLifilFrm {
		flex-wrap: wrap;
	}
	.__tpExpBtnWrp>.d-flex {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}
	.__tpExpBtnWrp .btn {
		margin-left: 0;
	}
	.__ppserch {
		padding: 0 !important;
		min-width: 100%;
		margin-bottom: 15px;
	}
	.__vrttbtn {
		width: 48%;
	}

	.__contractsFlter {
		margin: 15px 0;
	}

	.__topSwitchBtn.dropdown.__selcDrop .form-control{
		min-height: auto;
	}
	.__contractsFlter >.d-flex{
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
		flex-direction: row;
		justify-content: center;
	}
	.__contractsFlter .dropdown.__topSwitchBtn {
		margin: 0 5px;
	}

}

@media (max-width: 576px) {
	.__todoleftFiltrNewWrp .__todoleftFiltr .checkbox-list .checkbox {
	  	width: 100%;
	}


	.__sublk .card-body {
		padding: 10px 15px !important;
	}

	.__subbnrWrp {
		display: flex;
		flex-direction: column;
	}
	.__subbnrTxpt {
		width: 100%;
		padding-top: 15px;
	}

	.__addItemPopvw .modal-footer .btn {
		min-width: 100%;
	}

	.__tpExpBtnWrp .btn {
		margin-left: 0;
		font-size: 11px !important;
	}
}
