
.__vndrCotsBoz .heading-text{
    font-size:20px;
    font-weight:700;
    color:#404040;
}

.__vndrCotsBoz .heading-text .sub-text{
    font-size:18px;
    font-weight:600;
    color:#7A5C66;
    font-family: var(--open_sans);
}
.__vtrSrBzInr .pro-status .status{
    font-size:16px;
    font-weight:400;
    color:#000;
    font-family: var(--open_sans);
}
.__vtrSrBzInr .pro-name .vendor-name{
    font-size:16px;
    font-weight:400;
    color:#000;
    font-family: var(--open_sans);
}
.__vtrSrBzInr .pro-status .status .status-text,.vendor-cate{
    color:#7A5C66;
    font-weight:700;
     font-family: var(--open_sans);
}
.__vtrSrBzInr .pro-name .vendor-name .name-ven,.pro-value{
   color:#7A5C66;
    font-weight:700;
    font-family: var(--open_sans);
}
.btn.btn-view {
    color: #FFFFFF;
    background-color: #7a5c66;
    border-color: #7a5c66;
}
.__budgeter{
     font-family: var(--open_sans);
}
.__budgeter .table .thead-dark th{
    color: #fff !important;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
.__budgeter .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #EBEDF3;
     font-family: var(--open_sans);
     font-size:14px;
     text-align: center;

}
.__budgeter .table tr{
    border-bottom: 1px solid #EBEDF3;
}
.__bud-btn{
    float:right;
}
.table.table-head-bg thead tr:first-child, .table.table-head-bg thead th:first-child {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__circle--cost {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}
.circle-chart__percent{
   font-family: var(--open_sans);
   font-size:6px;
   font-weight:600;
   color:#404040;
}
.circle-chart__subline{
  font-family: var(--open_sans);
   font-size:5px;
   font-weight:600;
   color:#404040;
}
.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}
.grid-one {

}
.grid-one h2,.grid-two h2{
    text-align:center;
    font-size:15px;
    font-weight:800;
}
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Layout styles only, not needed for functionality */

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.__toListWrp {
    margin-top: 10px;
}
.__toBtnwrap  {
    padding: 0 0px;
    justify-content: space-between;
}
.__toListMBnt .__vrttbtn {
    font-size: 18px;
    padding: 15px 15px;
}
.__toListWrp  .__tpExpBtnWrp {
    margin-top: 25px;
    margin-bottom: 25px;
}
.__tolistserch
{
    border: #ccc 1px solid;
    border-radius: 7px;
    min-width: 494px;
}
.__toListWrp  .__tolistserch {
    border: #ccc 1px solid;
    /*min-width: auto;*/
    /*width: 100%;*/
}
._toListSbbnwrp{
}
._toListSbbnwrp .__vrttbtn {
    background: #fff;
    font-weight: bold;
    color: var(--color-secondary);
    padding: 15px 20px;
/*}*/
/*.nav-tolist {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    padding-left: 0;*/
/*    margin-bottom: 0;*/
/*    list-style: none;*/
/*}*/
/*.nav-tolist.nav-pills .nav-item-list {*/
/*    margin-right: 0.25rem;*/
/*}*/
/*.nav-tolist .show > .nav-link-tolist .nav-text, .nav-tolist .nav-link-tolist:hover:not(.disabled) .nav-text, .nav-tolist .nav-link-tolist .active .nav-text {*/
/*    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    color: #000;*/

/*}*/
/*.nav-tolist .nav-link-tolist .nav-text {*/
/*    -webkit-box-flex: 1;*/
/*    -ms-flex-positive: 1;*/
/*    flex-grow: 1;*/
/*    font-size: 18px;*/
/*    font-weight:600;*/
/*    color: #7E8299;*/
/*    font-weight: 600;*/
/*    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*}*/
/*.nav-tolist .nav-pills .show > .nav-link-tolist, .nav-tolist .nav-pills .nav-link-tolist.active {*/
/*    color: #ffffff;*/
/*    background-color: #8950FC;*/
/*    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;*/
/*    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;*/
/*}*/
