@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

:root {
	--color-primary: #92B8C0;
	--color-secondary: #7a5c66;
	--open_sans: 'Open Sans', sans-serif;
}

.__open_sans {
	font-family: var(--open_sans);
}


.wd100 {
	width: 100%;
	float: left;
}

.__micoctm {
	margin-right: 10px;
	width: 30px;
	height: 30px;

}


.__micoctm img {
	display: none;
	width: 100%;
	height: 30px;
}

.header-fixed.header-mobile-fixed.aside-minimize .__micoctm img {
	display: block;
}

.menu-item:hover .__micoctm img,
.menu-item.menu-item-active .__micoctm img {
	display: block;
}


.aside-menu .menu-nav > .menu-item {
	margin-left: 10%;
}

.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link,
.aside-menu .menu-nav > .menu-item > .menu-link {
	-webkit-border-top-left-radius: 35px;
	-webkit-border-bottom-left-radius: 35px;
	-moz-border-radius-topleft: 35px;
	-moz-border-radius-bottomleft: 35px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}

.aside-menu .menu-nav > .menu-item > .menu-link {
	padding: 9px 15px;
}

.__headerCmMen .menu-nav > .menu-item > .menu-link .menu-text {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold !important;
}

.__headerCmMen .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link .menu-text {
	font-size: 14px;
}

.__headerCmMen {
	padding-left: 25px;
}

.header-fixed.subheader-fixed .subheader {
	border-top: none;
	/*
	-webkit-box-shadow: none;
    box-shadow: none;
*/
}

.__cubrgome img {
	width: 32px;
}

.__noftiico {
	background: #E8E8E8 !important;
	border-radius: 30px;
}

.__noftiico i {
	font-size: 25px !important;
	color: var(--color-secondary) !important;
}

.card.card-custom {
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}

.container-fluid {
	padding: 0 35px;
}


.card {
	border-radius: 7px;
}




.__mainblk {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.__mainblk .__textLebs {
	text-align: center
}

.__mainblk .card {
	background: var(--color-primary);
	color: #fff;
}


.__mainblk .__textLebs {
	color: #fff;
	transition: all .5s;
}

.__mainblk .card.__active,
.__mainblk .card:hover {
	color: #fff;
	background: var(--color-secondary);
}


.__maintexhd {
	color: var(--color-secondary);
}

.__maintexhd .font-weight-bold {
	font-weight: 600 !important;
}



.__sublk {
	margin-top: 35px;
}

.__sublk .card-body {
	padding: 15px 20px !important;

}

.__textCotr {
	color: var(--color-secondary);
	transition: all 0.5s;
}


.__textLebs {
	color: #404040;
	transition: all 0.5s;
}

.__sublk .card {
	transition: all 0.5s;
}


.__sublk .card.__active .__textLebs,
.__sublk .card.__active .__textCotr,
.__sublk .card:hover .__textLebs,
.__sublk .card:hover .__textCotr {
	color: #fff;
	transition: all 0.5s;
}

.__sublk .card.__active,
.__sublk .card:hover {
	color: #fff;
	background: var(--color-secondary);
}



/*////////////////////*/
.__ledBlkWrp {
	margin-top: 50px;
	margin-bottom: 50px;
}

.__ledBlk {
	margin-bottom: 30px;
}

.__ledBlkInr {
	padding: 3px;
	border: #B9B9B9 1px solid;
	transition: all 0.5s;
}

.__ledBlkInr:hover {
	transition: all 0.5s;
	border: var(--color-secondary) 1px solid;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}

.__ledBlkImg img {
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	object-fit: cover;
}

.__ledBlkDicp {
	padding: 15px;
}

.__ledBlkDicp a {
	color: #404040;
}

.__ledBlkDicp h4 {
	font-size: 16px;
	font-weight: 600;
	color: #404040;
}

.__ledBlkDicp h5 {
	font-size: 13px;
	color: #8A8A8A;
	font-family: var(--open_sans);
}

.__ledBlkDicp h6 {
	font-size: 13px;
	color: #8A8A8A;
	font-family: var(--open_sans);
}

.__ledBlkBtn {
	display: flex;
	justify-content: flex-end;
	padding: 10px 15px;
	padding-top: 0;
}

.__ldBBtn {
	background: var(--color-primary);
	border-radius: 7px;
	text-align: center;
	margin-left: 5px;
	width: 35px;
	height: 30px;
	padding-top: 5px;
}

.__ldBBtn:hover {
	background: var(--color-secondary);
}

.__ldBBtn img {
	width: 18px;
}


/*/////////////*/

.__lddelbk {}

.__lddelbkImg img {
	width: 100%;
	min-height: 300px;
	max-height: 300px;
	object-fit: cover;
}

.__lddelbk h3 {
	color: #8A8A8A;
}


.checkbox.checkbox-outline > span {
	border-color: #8A8A8A;
}

.checkbox.checkbox-outline > input:checked ~ span:after {
	border-color: #7a5c66;
}

.checkbox.checkbox-outline > input:checked ~ span {
	border-color: #7a5c66;
}

.checkbox.checkbox-outline > input:focus ~ span {
	background-color: transparent;
	border-color: #8A8A8A;
}

/*/////////////*/

.footer {
	font-size: 14px;
	font-weight: 600;
	font-family: var(--open_sans)
}

.__lddelbk .form-group label {
	font-weight: 600;
}

.__lddelbk .form-control {
	color: #000;
	border: #8A8A8A 1px solid;
}


.__lddelbk .form-control::-webkit-input-placeholder {
	color: #000;
}

.__lddelbk .form-control::-moz-placeholder {
	color: #000;
}

.__lddelbk .form-control:-ms-input-placeholder {
	color: #000;
}

.noUi-target .noUi-connect {
	background: var(--color-secondary);
}

.noUi-handle {
	border: 1px solid #3e282f;
	border-radius: 3px;
	background: var(--color-secondary);
}

.noUi-tooltip {
	font-family: var(--open_sans);
	border: 1px solid #3e2d32;
	border-radius: 3px;
	background: #7a5c66;
	color: #fff;
	padding: 3px 5px;
}

.__lddelbk_REblk {}


.__ldDPg_actBzInrp,
.__ldde_REblk {
	border-radius: 7px;
	padding: 15px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
	box-shadow: 0px 0px 10px 0px rgb(95 95 95 / 29%);
}


/************************/
.__REbntGrid {
	padding: 0 10px;
	margin-top: 20px;
}

.__REbnt {
	padding: 0 7px;
	margin-bottom: 15px;
}

.__REbntboz {
	padding: 10px;
	border-radius: 7px;
	min-height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-secondary);
}

.__REbntboz:hover {
	background: var(--color-primary);
}

/***********************/

.__ldDPg_actBz {}

.__ldDPg_actBzInrp {
	display: flex;
	justify-content: flex-start;
	padding: 20px;
	flex-wrap: wrap;
	min-height: 310px;
	align-content: flex-start;
}


.__inrldBBtn {
	padding: 15px;
	border-radius: 7px;
	margin-right: 15px;
	min-width: 65px;
	background: var(--color-secondary);
	margin: 0 6px 15px;
	display: flex;
	height: 65px;
	text-align: center;
	justify-content: center;
}

.__inrldBBtn:hover {
	background: var(--color-primary);
}

.__inrldBBtn img {
	width: 30px;
}


.pulse.pulse-primary .pulse-ring {
	border-color: var(--color-secondary);
}


.__notification_number {
	position: absolute;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: var(--color-secondary);
	top: 0;
	text-align: center;
	color: #fff;
	right: -9px;
	z-index: 999999;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
}

.__searchWpIcs {
	background: #e7e7e7 !important;
	border-radius: 30px;
}

.__search_drop {
    border: #7a5c6678 1px solid;
}

.__userUltxt {
	display: flex ;
    flex-direction: column;
    align-items: flex-end;
	line-height: 17px;
}

.__userUltxt_wlc{

}
.__userUltxt_wlcNme {
    font-size: 18px;
}
.__UserWrp {
	border-left: #D6D6D6 1px solid;
    padding-left: 10px;
    margin-left: 10px;
}
.__UserWrp .symbol .symbol-label {
	border-radius: 50% !important;
}























































































