.request__wrapper {
  margin: -20px;
}

.request__wrapper .request__header {
  width: 100%;
  height: 150px;
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/$logo-orange+0,20a8d8+100 */
  background: #f5981c;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5981c 0%, #20a8d8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.request__wrapper .request__header .profile-image {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.request__wrapper .request__header .profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.request__wrapper .request__content {
  margin-top: 120px;
  text-align: center;
}

.request__wrapper .request__content span {
  font-size: 18px;
}

.request__wrapper .request__message {
  margin-top: 80px;
  text-align: center;
}

.request__wrapper .request__message .request__buttons {
  margin-top: 30px;
}

.request__wrapper .request__message .request__buttons a {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  line-height: 1px;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  margin: 0px 10px;
}

.request__wrapper .request__message .request__buttons .decline-btn {
  border: 1px solid #f5981c;
  color: #f5981c;
  transition: 0.3s all;
  cursor: pointer;
}

.request__wrapper .request__message .request__buttons .decline-btn:hover {
  background: #f5981c;
  color: #fff;
}

.request__wrapper .request__message .request__buttons .accept-btn {
  background: #f5981c;
  border: 1px solid #f5981c;
  color: #fff;
  transition: 0.3s all;
  cursor: pointer;
}

.request__wrapper .request__message .request__buttons .accept-btn:hover {
  background: #d57e09;
  border: 1px solid #d57e09;
}

.request__wrapper .send__request__message {
  margin-top: 30px;
}

.request__wrapper .send__request__message input {
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #f5981c;
  width: 350px;
}

.request__wrapper .send__request__message input::-moz-placeholder {
  color: #c2c2c2;
}

.request__wrapper .send__request__message input:-ms-input-placeholder {
  color: #c2c2c2;
}

.request__wrapper .send__request__message input::placeholder {
  color: #c2c2c2;
}

.request__wrapper .send-request-btn {
  text-decoration: none;
  line-height: 1px;
  border-radius: 20px;
  background: #f5981c;
  color: #fff;
  padding: 10px 20px;
  transition: 0.3s all;
  font-weight: bold;
  cursor: pointer;
}

.request__wrapper .send-request-btn:hover {
  background: #d57e09;
}

.ajax-loading {
  position: inherit !important;
  transform: translate(0, 0) !important;
  display: block;
  top: inherit !important;
  left: inherit !important;
}

#loadMoreConversationBtn,
#loadMoreArchiverConversationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadMoreConversationBtn a,
#loadMoreArchiverConversationBtn a {
  border-radius: 5px;
  box-shadow: 0 3px 15px -10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  color: #fff;
  background: #f5981c;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

#loadMoreConversationBtn a:hover,
#loadMoreArchiverConversationBtn a:hover {
  text-decoration: none;
  letter-spacing: 0.5px;
}

