$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0d40d33243a4f50f79e9770a24429253") format("truetype"),
url("./flaticon.woff?0d40d33243a4f50f79e9770a24429253") format("woff"),
url("./flaticon.woff2?0d40d33243a4f50f79e9770a24429253") format("woff2"),
url("./flaticon.eot?0d40d33243a4f50f79e9770a24429253#iefix") format("embedded-opentype"),
url("./flaticon.svg?0d40d33243a4f50f79e9770a24429253#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "camera": "\f101",
    "dj": "\f102",
    "wedding-dinner": "\f103",
    "wedding-video": "\f104",
    "music-note": "\f105",
    "bag": "\f106",
    "wedding-cake": "\f107",
    "wedding-arch": "\f108",
    "call": "\f109",
    "telephone": "\f10a",
    "bouquet": "\f10b",
    "whatsapp": "\f10c",
    "whatsapp-1": "\f10d",
    "eye": "\f10e",
    "operator": "\f10f",
    "avatar": "\f110",
    "user": "\f111",
    "networking": "\f112",
    "planner": "\f113",
    "development": "\f114",
    "appointment": "\f115",
    "email": "\f116",
    "mail": "\f117",
    "placeholder": "\f118",
    "pin": "\f119",
    "user-1": "\f11a",
    "contract": "\f11b",
    "clipboard": "\f11c",
    "list": "\f11d",
    "recruitment": "\f11e",
    "document": "\f11f",
    "contract-1": "\f120",
    "browser": "\f121",
    "blueprint": "\f122",
    "receipt": "\f123",
    "chat": "\f124",
    "guest-list": "\f125",
    "contact-form": "\f126",
    "network": "\f127",
    "group": "\f128",
    "finance": "\f129",
    "relationship": "\f12a",
    "money": "\f12b",
    "shipped": "\f12c",
    "shopping-bag": "\f12d",
    "store": "\f12e",
    "report": "\f12f",
    "market": "\f130",
    "calendar": "\f131",
    "budget": "\f132",
);

.flaticon-camera:before {
    content: map-get($flaticon-map, "camera");
}
.flaticon-dj:before {
    content: map-get($flaticon-map, "dj");
}
.flaticon-wedding-dinner:before {
    content: map-get($flaticon-map, "wedding-dinner");
}
.flaticon-wedding-video:before {
    content: map-get($flaticon-map, "wedding-video");
}
.flaticon-music-note:before {
    content: map-get($flaticon-map, "music-note");
}
.flaticon-bag:before {
    content: map-get($flaticon-map, "bag");
}
.flaticon-wedding-cake:before {
    content: map-get($flaticon-map, "wedding-cake");
}
.flaticon-wedding-arch:before {
    content: map-get($flaticon-map, "wedding-arch");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-bouquet:before {
    content: map-get($flaticon-map, "bouquet");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-whatsapp-1:before {
    content: map-get($flaticon-map, "whatsapp-1");
}
.flaticon-eye:before {
    content: map-get($flaticon-map, "eye");
}
.flaticon-operator:before {
    content: map-get($flaticon-map, "operator");
}
.flaticon-avatar:before {
    content: map-get($flaticon-map, "avatar");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-networking:before {
    content: map-get($flaticon-map, "networking");
}
.flaticon-planner:before {
    content: map-get($flaticon-map, "planner");
}
.flaticon-development:before {
    content: map-get($flaticon-map, "development");
}
.flaticon-appointment:before {
    content: map-get($flaticon-map, "appointment");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-user-1:before {
    content: map-get($flaticon-map, "user-1");
}
.flaticon-contract:before {
    content: map-get($flaticon-map, "contract");
}
.flaticon-clipboard:before {
    content: map-get($flaticon-map, "clipboard");
}
.flaticon-list:before {
    content: map-get($flaticon-map, "list");
}
.flaticon-recruitment:before {
    content: map-get($flaticon-map, "recruitment");
}
.flaticon-document:before {
    content: map-get($flaticon-map, "document");
}
.flaticon-contract-1:before {
    content: map-get($flaticon-map, "contract-1");
}
.flaticon-browser:before {
    content: map-get($flaticon-map, "browser");
}
.flaticon-blueprint:before {
    content: map-get($flaticon-map, "blueprint");
}
.flaticon-receipt:before {
    content: map-get($flaticon-map, "receipt");
}
.flaticon-chat:before {
    content: map-get($flaticon-map, "chat");
}
.flaticon-guest-list:before {
    content: map-get($flaticon-map, "guest-list");
}
.flaticon-contact-form:before {
    content: map-get($flaticon-map, "contact-form");
}
.flaticon-network:before {
    content: map-get($flaticon-map, "network");
}
.flaticon-group:before {
    content: map-get($flaticon-map, "group");
}
.flaticon-finance:before {
    content: map-get($flaticon-map, "finance");
}
.flaticon-relationship:before {
    content: map-get($flaticon-map, "relationship");
}
.flaticon-money:before {
    content: map-get($flaticon-map, "money");
}
.flaticon-shipped:before {
    content: map-get($flaticon-map, "shipped");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon-map, "shopping-bag");
}
.flaticon-store:before {
    content: map-get($flaticon-map, "store");
}
.flaticon-report:before {
    content: map-get($flaticon-map, "report");
}
.flaticon-market:before {
    content: map-get($flaticon-map, "market");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-budget:before {
    content: map-get($flaticon-map, "budget");
}
