@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0d40d33243a4f50f79e9770a24429253") format("truetype"),
url("./flaticon.woff?0d40d33243a4f50f79e9770a24429253") format("woff"),
url("./flaticon.woff2?0d40d33243a4f50f79e9770a24429253") format("woff2"),
url("./flaticon.eot?0d40d33243a4f50f79e9770a24429253#iefix") format("embedded-opentype"),
url("./flaticon.svg?0d40d33243a4f50f79e9770a24429253#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-camera:before {
    content: "\f101";
}
.flaticon-dj:before {
    content: "\f102";
}
.flaticon-wedding-dinner:before {
    content: "\f103";
}
.flaticon-wedding-video:before {
    content: "\f104";
}
.flaticon-music-note:before {
    content: "\f105";
}
.flaticon-bag:before {
    content: "\f106";
}
.flaticon-wedding-cake:before {
    content: "\f107";
}
.flaticon-wedding-arch:before {
    content: "\f108";
}
.flaticon-call:before {
    content: "\f109";
}
.flaticon-telephone:before {
    content: "\f10a";
}
.flaticon-bouquet:before {
    content: "\f10b";
}
.flaticon-whatsapp:before {
    content: "\f10c";
}
.flaticon-whatsapp-1:before {
    content: "\f10d";
}
.flaticon-eye:before {
    content: "\f10e";
}
.flaticon-operator:before {
    content: "\f10f";
}
.flaticon-avatar:before {
    content: "\f110";
}
.flaticon-user:before {
    content: "\f111";
}
.flaticon-networking:before {
    content: "\f112";
}
.flaticon-planner:before {
    content: "\f113";
}
.flaticon-development:before {
    content: "\f114";
}
.flaticon-appointment:before {
    content: "\f115";
}
.flaticon-email:before {
    content: "\f116";
}
.flaticon-mail:before {
    content: "\f117";
}
.flaticon-placeholder:before {
    content: "\f118";
}
.flaticon-pin:before {
    content: "\f119";
}
.flaticon-user-1:before {
    content: "\f11a";
}
.flaticon-contract:before {
    content: "\f11b";
}
.flaticon-clipboard:before {
    content: "\f11c";
}
.flaticon-list:before {
    content: "\f11d";
}
.flaticon-recruitment:before {
    content: "\f11e";
}
.flaticon-document:before {
    content: "\f11f";
}
.flaticon-contract-1:before {
    content: "\f120";
}
.flaticon-browser:before {
    content: "\f121";
}
.flaticon-blueprint:before {
    content: "\f122";
}
.flaticon-receipt:before {
    content: "\f123";
}
.flaticon-chat:before {
    content: "\f124";
}
.flaticon-guest-list:before {
    content: "\f125";
}
.flaticon-contact-form:before {
    content: "\f126";
}
.flaticon-network:before {
    content: "\f127";
}
.flaticon-group:before {
    content: "\f128";
}
.flaticon-finance:before {
    content: "\f129";
}
.flaticon-relationship:before {
    content: "\f12a";
}
.flaticon-money:before {
    content: "\f12b";
}
.flaticon-shipped:before {
    content: "\f12c";
}
.flaticon-shopping-bag:before {
    content: "\f12d";
}
.flaticon-store:before {
    content: "\f12e";
}
.flaticon-report:before {
    content: "\f12f";
}
.flaticon-market:before {
    content: "\f130";
}
.flaticon-calendar:before {
    content: "\f131";
}
.flaticon-budget:before {
    content: "\f132";
}
